<div class="dashboard-notification">
  <button
    *ngIf="(dashboardNotification$ | async).unreadInterpretations > 0"
    class="dashboard-btn notification-btn"
    (click)="toggleNotificationDetails($event, 'INTERPRETATION')"
    title="You have {{ (dashboardNotification$ | async).unreadInterpretations }} unread interpretations"
  >
    <img src="assets/icons/chat.png" alt="">
    <span class="notification-count">
      {{ (dashboardNotification$ | async).unreadInterpretations }}
    </span>
  </button>
  <button
    class="dashboard-btn notification-btn"
    (click)="toggleNotificationDetails($event, 'MESSAGE')"
    *ngIf="(dashboardNotification$ | async).unreadMessageConversations > 0"
    title="You have {{ (dashboardNotification$ | async).unreadMessageConversations }} unread message conversations"
  >
    <img src="assets/icons/envelope.png" alt="">
    <span class="notification-count">
      {{(dashboardNotification$ | async).unreadMessageConversations}}
    </span>
  </button>
  <div [@open] appClickOutside (clickOutside)="showNotificationDetails = false" class="dashboard-border dashboard-notification-details-block" *ngIf="showNotificationDetails">
    <app-message-conversation-list *ngIf="currentNotification === 'MESSAGE'" [readStatus]="'unread'"></app-message-conversation-list>
  </div>
</div>
