<div class="interpretation-comment-input-block">
              <textarea
                type="text"
                cols="100"
                rows="1"
                Autosize
                autofocus
                required
                minlength="3"
                [(ngModel)]="commentFormData.comment"
                name="comment"
                #comment="ngModel"
                placeholder="Write your comment"
                class="interpretation-comment-input"
              ></textarea>
  <div class="pull-right" [hidden]="comment.invalid || commentFormData.comment === ''">
    <button class="btn btn-default post-comment-btn" (click)="cancel($event)">CANCEL</button>
    <button
      [ngClass]="{
          'btn': true,
          'btn-default': true,
          'post-comment-btn': true,
          'disabled': creating
        }"
      (click)="postComment($event)">
      {{creating ? 'POSTING' : 'POST'}}
    </button>
  </div>
</div>
