<div class="legend-set-group">
  <div class="legend-set-group-header">
    <div class="legend-set-group-header_title">Legends Configuration</div>
    <div class="legend-set-group-header_description"></div>
  </div>

  <div class="legend-set-group_list">
    <!-- legend set group item -->
    <div class="legend-set-group_item" *ngFor="let legendSet of legendSets">
      <!-- title -->
      <div
        class="legend-set-group_item-header"
        (click)="onSetCurrentLegendSet(legendSet, $event)"
      >
        <div class="legend-set-group_item-header-title">
          {{ legendSet.name }}
        </div>
        <div class="legend-set-group_item-header-btns">
          <a class="legend-set-group_item-header-icon">
            <img
              [ngClass]="{ 'arrow-up': legendSet.id === currentLegendSet }"
              [src]="arrowDownIcon"
              alt=""
            />
          </a>
        </div>
      </div>
      <!-- end of title -->
      <!-- content -->
      <div
        class="legend-set-group_item-content"
        *ngIf="legendSet.id == currentLegendSet"
      >
        <div class="legend-set-group_item-member-list">
          <div class="legend-set-group_item-label"></div>
          <!-- <div class="legend-set-group_item-member-item" *ngIf="legendSet.legends.length === 0">Add new Legend</div> -->
          <div
            class="legend-set-group_item-member-item"
            *ngIf="legendSet.legends.length > 0"
          >
            <app-legend-set [legendSet]="legendSet"></app-legend-set>
          </div>
          <div class="add-new-legend ">
            <button
              title="Add new legend"
              class="add-new-legend-button"
              (click)="addNewLegend($event, legendSet.id)"
            >
              Add
            </button>
          </div>
        </div>
      </div>
      <!-- end of content -->
    </div>
    <!-- end of legend set group item -->
    <div class="legend-set-btns">
      <button
        class="btn btn-sm legend-set-action-btn"
        (click)="onClose($event)"
      >
        CLOSE</button
      >&nbsp;
      <button
        class="btn btn-sm legend-set-action-btn"
        (click)="onUpdate($event)"
      >
        UPDATE
      </button>
    </div>
  </div>
</div>
