.table {
    border: 1px solid #D5DDE5 !important;
    max-height: 400px;
    height: 100%;
    overflow: auto;
}

.table-header-cell {
    border-right: 2px solid #D5DDE5 !important;
    border-bottom: 2px solid #D5DDE5 !important;
    background: #FFFFFF !important;
    width: auto !important;
}

.table-data-header-cell {
    border-right: 2px solid #D5DDE5 !important;
    border-bottom: 2px solid #D5DDE5 !important;
    background: #FFFFFF !important;
    width: 200px !important;

}

.table-header-children-cell {
    border-right: 2px solid #D5DDE5 !important;
    border-bottom: 2px solid #D5DDE5 !important;
    background: #FFFFFF !important;
    height: 100%;
}

.header-row{
    height: 100% !important;
}

.table-header-cell > span > span {
    font-weight: 500;
}
.table-data-header-cell > span > span {
    font-weight: 500;
}

.table-header-children-cell > span > span {
    font-weight: 500;
}

.nested-table {
    border: none;
    border-spacing: 0;
    width: 100%;
    height: 100% !important;
}

.nesting-header-cell {
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.nesting-cell {
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.nesting-row {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 200px !important;
}

.table-cell {
    border-right: 2px solid #D5DDE5 !important;
    border-bottom: 2px solid #D5DDE5 !important;
    left: auto;
    text-align: center;
    padding: 14px 6px;
    height: 100%;
}

.table-name-cell{
    border-right: 2px solid #D5DDE5 !important;
    border-bottom: 2px solid #D5DDE5 !important;
    left: auto;
    text-align: center;
    padding: 14px 6px;
    height: 100%;
    font-weight: bold;
    min-width: 200px !important;
}

.table-cell:last-child {
    border-right: none;
}

.table-cell:last-child:hover {
    background: green;
}

.table-row:last-child > td {
    border-bottom: none !important;
}


