.ngx-dhis2-user-org-unit-selection__container {
  margin-top: 2px;
  margin-bottom: 2px;
}

.ngx-dhis2-user-org-unit-selection__list {
  display: flex;
  margin-top: 10px;
}

.ngx-dhis2-user-org-unit-selection__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 70px;
  font-size: 11px;
  border: solid thin #eeeeee;
  background-color: #ffffff;
  padding: 5px;
  margin-right: 4px;
  cursor: pointer;
}

/* .ngx-dhis2-user-org-unit-selection__item:hover {
  background-color: #eeeeee;
} */

.ngx-dhis2-user-org-unit-selection__selected-item {
  background-color: #dddddd;
}
