<div class="ngx-dhis2-user-org-unit-selection__container">
  <span>User organisation units</span>
  <div class="ngx-dhis2-user-org-unit-selection__list">
    <button
      *ngFor="let userOrgUnit of userOrgUnits"
      [ngClass]="{
        'ngx-dhis2-user-org-unit-selection__item': true,
        'ngx-dhis2-user-org-unit-selection__selected-item':
          userOrgUnit?.selected
      }"
      (click)="onUpdate($event, userOrgUnit)"
    >
      {{ userOrgUnit?.name }}
    </button>
  </div>
</div>
