<div class="data-filter-container">
  <div class=" d-flex justify-content-between">
    <h5 class="d-flex align-items-center pt-1 pb-1">Settings
      {{interventionName ? 'for ' + interventionName : ''}}</h5>
    <!-- sharing section -->
    <app-sharing-card [userAccesses]="userAccesses" [userGroupAccesses]="userGroupAccesses"
      [publicAccess]="publicAccess" (updateSharing)="onUpdateSharingItem($event)"></app-sharing-card>
    <!-- end of sharing section -->
  </div>
  <div class="data-filter-content-container">
    <div class="data-item-selection-container">
      <table class="table table-bordered">
        <tr>
          <th>
            <span class="d-flex align-items-center">Intervention settings</span>
          </th>
        </tr>
        <tr>
          <td class="position-relative">
            <mat-form-field class="w-100 mt-2">
              <mat-label>Bottleneck period type</mat-label>
              <mat-select [value]="bottleneckPeriodType" (selectionChange)="onSelectBottleneckPeriodType($event.value)">
                <mat-option [value]="periodType.id" *ngFor="let periodType of periodTypes">{{periodType.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- data configuration section -->
            <div class="mt-3">
              <mat-checkbox *ngIf="!openConfirmDialog" [ngModel]="generalDataConfiguration.useShortNameAsLabel"
                (change)="onUpdateUseShortNameAsLabel($event.checked, 'useShortNameAsLabel')">Use
                short names as labels</mat-checkbox>

              <mat-card *ngIf="openConfirmDialog" class="d-flex align-items-center">
                <small>All labels will be replaced with short names, continue?</small>
                <div class="d-flex justify-content-end">
                  <button mat-flat-button (click)="onCloseConfirmDialog($event)">NO</button>
                  <button class="ml-2" mat-flat-button color="warn"
                    (click)="onConfirmUseShortNameAsLabel($event)">YES</button>
                </div>
              </mat-card>

            </div>

            <h6 class="mt-2">Legend Definitions <small>(Applicable across all indicators)</small></h6>
            <!-- <mat-divider></mat-divider> -->
            <app-legend-definition-list [legendDefinitions]="generalDataConfiguration.legendDefinitions"
              (updateLegendDefinitions)="onUpdateGeneralDataConfiguration($event, 'legendDefinitions')">
            </app-legend-definition-list>
            <!-- end of data configuration section -->
          </td>
        </tr>
      </table>

    </div>
    <div class="determinant-selection-container">
      <app-determinant-list [determinants]="determinants" [dataFilterTypes]="dataFilterTypes"
        [dataFilterGroups]="dataFilterGroups$ | async" (setDataFilterGroup)="onSetDataFilterGroup($event)"
        [currentDataFilterGroup]="currentDataFilterGroup$ | async" [dataFilterItems]="dataFilterItems$ | async"
        [selectedItems]="selectedItems" [selectedDeterminantId]="selectedDeterminantId"
        [determinantPreferences]="determinantPreferences" [generalDataConfiguration]="generalDataConfiguration"
        (toggleDataFilterType)="onToggleDataFilterType($event)" (selectDataItem)="onSelectDataItem($event)"
        (selectDeterminant)="onSelectDeterminant($event)" (removeDeterminantMember)="onRemoveDataItem($event)"
        (removeAllDeterminantMembers)="onDeselectAllItems()" (updateMember)="onUpdateDataItem($event)">
      </app-determinant-list>
    </div>
  </div>
</div>

<div class="data-filter-btns">
  <button mat-stroked-button title="Close data filter" (click)="close($event)">
    Close
  </button>
  <button mat-stroked-button title="Update visualization(s) with selected items" [disabled]="selectedItems.length === 0"
    (click)="onDataFilterUpdate($event)">
    Update
  </button>
</div>
