<div class="data-filter-container">
  <div class="data-item-selection-container">
    <h5 class="mb-3">General Configuration</h5>
    <!-- data configuration section -->
    <mat-checkbox [ngModel]="generalDataConfiguration.useShortNameAsLabel"
      (change)="onUpdateGeneralDataConfiguration($event.checked, 'useShortNameAsLabel')">Use
      short names as labels</mat-checkbox>

    <div class="mt-4">Legend Definitions <small>(Applicable across all indicators)</small></div>
    <app-legend-definition-list [legendDefinitions]="generalDataConfiguration.legendDefinitions"
      (updateLegendDefinitions)="onUpdateGeneralDataConfiguration($event, 'legendDefinitions')">
    </app-legend-definition-list>
    <!-- end of data configuration section -->

  </div>
  <div class="determinant-selection-container">
    <app-determinant-list [determinants]="determinants" [dataFilterTypes]="dataFilterTypes"
      [dataFilterGroups]="dataFilterGroups$ | async" (setDataFilterGroup)="onSetDataFilterGroup($event)"
      [currentDataFilterGroup]="currentDataFilterGroup$ | async" [dataFilterItems]="dataFilterItems$ | async"
      [selectedItems]="selectedItems" [selectedDeterminantId]="selectedDeterminantId"
      [determinantPreferences]="determinantPreferences" [generalDataConfiguration]="generalDataConfiguration"
      (toggleDataFilterType)="onToggleDataFilterType($event)" (selectDataItem)="onSelectDataItem($event)"
      (selectDeterminant)="onSelectDeterminant($event)" (removeDeterminantMember)="onRemoveDataItem($event)"
      (removeAllDeterminantMembers)="onDeselectAllItems()" (updateMember)="onUpdateDataItem($event)">
    </app-determinant-list>
  </div>
</div>

<div class="data-filter-btns">
  <button mat-stroked-button title="Close data filter" (click)="close($event)">
    Close
  </button>
  <button mat-stroked-button title="Update visualization(s) with selected items" [disabled]="selectedItems.length === 0"
    (click)="onDataFilterUpdate($event)">
    Update
  </button>
</div>
