<div class="data-filter-container">
  <div class="data-item-selection-container">
    <table class="table table-bordered">
      <tr>
        <th><span class="d-flex align-items-center pt-1 pb-1">Settings</span></th>
      </tr>
      <tr>
        <td class="position-relative">
          <!-- sharing section -->
          <app-sharing-card [usersAccesses]="userAccesses" [userGroupsAccesses]="userGroupAccesses"
            [publicAccess]="publicAccess"></app-sharing-card>
          <!-- end of sharing section -->

          <!-- data configuration section -->
          <div class="mt-3">
            <mat-checkbox [ngModel]="generalDataConfiguration.useShortNameAsLabel"
              (change)="onUpdateGeneralDataConfiguration($event.checked, 'useShortNameAsLabel')">Use
              short names as labels</mat-checkbox>
          </div>

          <div class="mt-4 mb-3">Legend Definitions <small>(Only applicable to sub level analysis)</small></div>
          <mat-divider></mat-divider>
          <div class="mt-3">
            <app-legend-definition-list [legendDefinitions]="generalDataConfiguration.legendDefinitions"
              (updateLegendDefinitions)="onUpdateGeneralDataConfiguration($event, 'legendDefinitions')">
            </app-legend-definition-list>
          </div>
          <!-- end of data configuration section -->
        </td>
      </tr>
    </table>

  </div>
  <div class="determinant-selection-container">
    <app-determinant-list [determinants]="determinants" [dataFilterTypes]="dataFilterTypes"
      [dataFilterGroups]="dataFilterGroups$ | async" (setDataFilterGroup)="onSetDataFilterGroup($event)"
      [currentDataFilterGroup]="currentDataFilterGroup$ | async" [dataFilterItems]="dataFilterItems$ | async"
      [selectedItems]="selectedItems" [selectedDeterminantId]="selectedDeterminantId"
      [determinantPreferences]="determinantPreferences" [generalDataConfiguration]="generalDataConfiguration"
      (toggleDataFilterType)="onToggleDataFilterType($event)" (selectDataItem)="onSelectDataItem($event)"
      (selectDeterminant)="onSelectDeterminant($event)" (removeDeterminantMember)="onRemoveDataItem($event)"
      (removeAllDeterminantMembers)="onDeselectAllItems()" (updateMember)="onUpdateDataItem($event)">
    </app-determinant-list>
  </div>
</div>

<div class="data-filter-btns">
  <button mat-stroked-button title="Close data filter" (click)="close($event)">
    Close
  </button>
  <button mat-stroked-button title="Update visualization(s) with selected items" [disabled]="selectedItems.length === 0"
    (click)="onDataFilterUpdate($event)">
    Update
  </button>
</div>
