<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">2. {{'log_frame'| translate}}</div>
	<div class="panel-body">
		<form ng-submit="saveProjectObjectivesSubmit()" class="form-horizontal">
			<div class="row" style="margin-bottom: 1%;">
				<div class="form-group">
					<label for="goal" class="col-sm-2 control-label">{{'goal'|
						translate}}</label>
					<div class="col-sm-10">
						<div class="col-sm-10">
							<input type="text" ng-required="true" ng-model="data.project.goal" class="form-control" id="goal" placeholder="">
						</div>
					</div>
				</div>
			</div>

			<div ng-repeat="objective in data.project.objectives" style="margin-bottom: 2%;margin-top: 2%;" >
				<!-- display objective of a given project-->
				<div class="row">
					<label for="objective" class="col-sm-1 control-label">{{'objective'|
						translate}} {{$index + 1}}</label>
					<div class="col-sm-5" style="padding-top: 5px;">{{objective.name}}</div>
					<label for="objectiveSector" class="col-sm-1 control-label">{{'sector'|
						translate}}</label>
					<div class="col-sm-3" style="padding-top: 5px;">{{objective.sector}}</div>
					<div class="col-sm-2">
						<button class="btn btn-primary"
								ng-click="data.project.removeObjective($index)">Delete
						</button>
					</div>
				</div>
				<!-- display results for a given objects-->
				<div class="row" style="margin-top: 1%;">
					<div class="col-sm-1 col-md-1 col-lg-1"></div>
					<div class="col-sm-10 col-md-10 col-lg-10">
						<table class="table table-bordered">
							<tbody>
								<tr ng-repeat = "result in objective.results" >
									<td>{{'result'| translate}} {{$index + 1}}</td>
									<td>{{result.name}}</td>
									<td>{{'sub_sector'|translate}}</td>
									<td>{{ result.sector }}</td>
									<td>
										<button class="btn btn-primary"ng-click="data.project.removeObjective($index)">
											Delete
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<!-- form for adding results for a given objective -->
				<div class="row" style="margin-top: 1%;margin-bottom: 1.5%;">
					<div class="col-sm-1 col-md-1 col-lg-1"></div>
					<div class="col-sm-10 col-md-10 col-lg-10">
						<label for="objective" class="col-sm-1 control-label">{{'result'|
							translate}}</label>
						<div class="col-sm-4">
							<input id="objective" ng-model="objective.res.name" type="text"
										class="form-control" placeholder="">
						</div>
						<label for="objectiveSector" class="col-sm-2 control-label">{{'sub_sector'|
							translate}}</label>
						<div class="col-sm-3">
							<input id="objective" ng-model="objective.res.sector" type="text"
								   class="form-control" placeholder="">
						</div>
						<div class="col-sm-2">
							<a class="btn btn-primary" ng-click="addResult(objective)">Save & Add</a>
						</div>
					</div>
				</div>

			</div>

			<!-- fields for adding new objective to the projects -->
			<div class="row" style="margin-bottom: 1%;margin-top: 1%;" >
				<div class="form-group">
					<label for="objective" class="col-sm-1 control-label">{{'objective'|
						translate}}</label>
					<div class="col-sm-5">
						<input id="objective" ng-model="outcome.name" type="text"
							   class="form-control" placeholder="">
					</div>
					<label for="objectiveSector" class="col-sm-1 control-label">{{'sector'|
						translate}}</label>
					<div class="col-sm-3">
						<input id="objectiveSector" ng-model="outcome.sector" type="text"
							   class="form-control" placeholder="">
					</div>
					<div class="col-sm-2">
						<a class="btn btn-primary"
						   ng-click="addOutCome()">Save & Add</a>
					</div>
				</div>
			</div>

			<div class ="row">
				<div class="row">
					<div class="form-group col-sm-6">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary">{{'save'|
								translate}}</button>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<div class="col-sm-offset-2 col-sm-10">
							<a ng-click="next()" class="btn btn-primary">{{'save_and_next'|
								translate}}</a>
						</div>
					</div>
				</div>
			</div>

			<!--<div class="row">
				<div class="row" ng-repeat="objective in data.project.objectives">
					<div class="col-sm-12">
						<label for="objective" class="col-sm-1 control-label">{{'objective'|
							translate}} {{$index + 1}}</label>
						<div class="col-sm-5">{{objective.name}}</div>
						<label for="objectiveSector" class="col-sm-1 control-label">{{'sector'|
							translate}}</label>
						<div class="col-sm-3">{{objective.sector}}</div>
						<div class="col-sm-2">
							<button class="btn btn-primary"
									ng-click="data.project.removeObjective($index)">Delete
							</button>
						</div>
						<div class="row" ng-repeat="result in objective.results">
							<div class="col-sm-2"></div>
							<div class="col-sm-10">
								<label for="objective" class="col-sm-1 control-label">{{'result'|
									translate}} {{$index + 1}}</label>
								<div class="col-sm-4">{{result.name}}</div>
								<label for="objectiveSector" class="col-sm-2 control-label">{{'sub_sector'|
									translate}}</label>
								<div class="col-sm-3">{{result.sector}}</div>
								<div class="col-sm-2">
									<button class="btn btn-primary"
											ng-click="data.project.removeObjective($index)">Delete
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2"></div>
						<div class="col-sm-10">
							<label for="objective" class="col-sm-1 control-label">{{'result'|
								translate}}</label>
							<div class="col-sm-4">
								<input id="objective" ng-model="result.name" type="text"
									class="form-control" placeholder="">
							</div>
							<label for="objectiveSector" class="col-sm-2 control-label">{{'sub_sector'|
								translate}}</label>
							<div class="col-sm-3">
								<input id="objective" ng-model="result.sector" type="text"
									class="form-control" placeholder="">
							</div>
							<div class="col-sm-2">
								<a class="btn btn-primary" ng-click="addResult(objective)">Save & Add</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<div class="form-group">
					<label for="objective" class="col-sm-1 control-label">{{'objective'|
						translate}}</label>
					<div class="col-sm-5">
						<input id="objective" ng-model="outcome.name" type="text"
							class="form-control" placeholder="">
					</div>
					<label for="objectiveSector" class="col-sm-1 control-label">{{'sector'|
						translate}}</label>
					<div class="col-sm-3">
						<input id="objectiveSector" ng-model="outcome.sector" type="text"
							class="form-control" placeholder="">
					</div>
					<div class="col-sm-2">
						<a class="btn btn-primary"
						   ng-click="data.project.addObjective(outcome)">Save & Add</a>
					</div>
				</div>
					</div>
				<div>
					<div class="row">
						<div class="form-group col-sm-6">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary">{{'save'|
									translate}}</button>
							</div>
						</div>
						<div class="form-group col-sm-6">
							<div class="col-sm-offset-2 col-sm-10">
								<a ng-click="next()" class="btn btn-primary">{{'save_and_next'|
									translate}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>-->
		</form>
	</div>
</div>