<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">3. {{'indicators'|
		translate}}</div>
	<div class="panel-body" style="height:700px">
		<form ng-submit="saveProjectIndicatorsSubmit()">
			<div class="row">
				<div ng-repeat="objective in data.project.objectives" style="margin-bottom: 1%;">

					<div class="row" >
						<label for="objective" class="col-sm-6 control-label">{{ objective.name }}</label>
						<div class="col-sm-6">
							<div
								 ng-dropdown-multiselect=""
								 options="data.indicators"
								 selected-model="objective.indicators"
								 extra-settings='{
							"enableSearch":true,
							"displayProp":"name",
							"idProp":"id"}'
							></div>

						</div>
					</div>
					<div class="row" ng-repeat="result in objective.results" style="margin-top: 1%;">
						<label for="objective" class="col-sm-5 col-sm-offset-1 control-label">{{ result.name }}</label>
						<div class="col-sm-6">
							<div
								 ng-dropdown-multiselect=""
								 options="data.indicators"
								 selected-model="result.indicators"
								 extra-settings='{
							"enableSearch":true,
							"displayProp":"name",
							"idProp":"id"}'
							></div>

						</div>
					</div>
				</div>
				<div>
					<div>
						<div class="form-group col-sm-6">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary">{{'save'|
									translate}}</button>
							</div>
						</div>
						<div class="form-group col-sm-6">
							<div class="col-sm-offset-2 col-sm-10">
								<a ng-click="next()" class="btn btn-primary">{{'save_and_next'|
									translate}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>