<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">3. {{'indicators_and_targets'|
		translate}}</div>
	<div class="panel-body">
		<form ng-submit="saveProjectIndicatorsSubmit()">
			<div class="row">
				<div class="col-sm-12">
					<div ng-repeat="objective in data.project.objectives">
						<div class="row">
							<label for="objective" class="col-sm-3 control-label">Objective: {{ objective.name}}</label>
							<div class="col-sm-9">
								<div class="row" ng-repeat = "indicator in objective.indicators" style="margin-bottom: 1%;border: thin solid black;">
									<div class="col-sm-4">{{ indicator.name }}</div>
									<label for="objective" class="col-sm-1 control-label">{{'target'|
										translate}}</label>

									<div class="col-sm-1">{{data.getTargetName(indicator.targetDataElement)}}</div>
									<label for="objective" class="col-sm-1 control-label col-sm-offset-1">{{'baseline'|
										translate}}</label>
									<div class="col-sm-1">{{indicator.baseline}}</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="row col-sm-push-4 col-sm-8" ng-repeat="result in objective.results" style="margin-bottom: 1%;;border: thin solid black;">
								<label for="objective" class="col-sm-3 control-label">Result: {{result.name}}</label> <div class="col-sm-9">
									<div class="row" ng-repeat = "indicator in result.indicators">
										<div class="col-sm-4">{{ indicator.name }}</div>
										<label for="objective" class="col-sm-1 control-label">{{'target'|
											translate}}:</label>
										<div class="col-sm-1">{{data.getTargetName(indicator.targetDataElement)}}</div>
										<label for="objective" class="col-sm-2 control-label col-sm-offset-2">{{'baseline'|
											translate}}: {{indicator.baseline}}</label>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</form>
	</div>
</div>