<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">2. {{'log_frame'| translate}}</div>
	<div class="panel-body">
		<div class="row" style="margin-bottom: 1%;">
			<label class="col-sm-2 col-md-2 col-lg-2 control-label">
				{{'goal'| translate}}
			</label>
			<div class="col-sm-10 col-md-12 col-lg-2">
				{{data.project.goal}}
			</div>
		</div>
		<!-- loops through list of objectives -->
		<div  ng-repeat="objective in data.project.objectives" style="margin-bottom: 1%;margin-top: 1%;">
			<div class="row" >
				<!-- display for list of objectives -->
				<div class="col-sm-12 col-md-12 col-lg-12">
					<label class="col-sm-1 col-md-1 col-lg-1 control-label">{{'objective'|
						translate}} {{$index + 1}}</label>
					<div class="col-sm-5 col-md-5 col-lg-5">{{objective.name}}</div>
					<label class="col-sm-1 col-md-1 col-lg-1control-label">{{'sector'|
						translate}}</label>
					<div class="col-sm-5">{{objective.sector}}</div>
				</div>
			</div>
			<!-- loop through list of all results of a given objective-->
			<div class="row" style="margin-top: 1.5%;">
				<div class="col-sm-1 col-md-1 col-lg-1"></div>
				<div class="col-sm-10 col-md-10 col-lg-10">
					<table class="table table-bordered table-responsive">
						<tr ng-repeat="result in objective.results">
							<td>{{'result'|translate}} {{$index + 1}}</td>
							<td>{{result.name}}</td>
							<td>{{'sub_sector'|translate }}</td>
							<td>{{result.sector}}</td>
						</tr>
					</table>
				</div>

			</div>
		</div>


		<!--<form ng-submit="saveProjectObjectivesSubmit()">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
					<div class="form-group">
						<label class="col-sm-2 control-label">{{'goal'|
							translate}}</label>
						<div class="col-sm-10">
							{{data.project.goal}}
						</div>
					</div>
					</div>
					<div class="row" ng-repeat="objective in data.project.objectives">
						<div >
							<label class="col-sm-1 control-label">{{'objective'|
								translate}} {{$index + 1}}</label>
							<div class="col-sm-5">{{objective.name}}</div>
							<label class="col-sm-1 control-label">{{'sector'|
								translate}}</label>
							<div class="col-sm-3">{{objective.sector}}</div>
							<div class="col-sm-2">
							</div>
							<div ng-repeat="result in objective.results">
								<div class="col-sm-2"></div>
								<div class="col-sm-10">
									<label class="col-sm-1 control-label">{{'result'|
										translate}} {{$index + 1}}</label>
									<div class="col-sm-4">{{result.name}}</div>
									<label class="col-sm-2 control-label">{{'sub_sector'|
										translate}}</label>
									<div class="col-sm-3">{{result.sector}}</div>
									<div class="col-sm-2">
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</form>-->
	</div>
</div>
