.dashboard-card {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.dashboard-card-heading,
.dashboard-card-footer {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 30px;
  background-color: transparent !important;
}

.dashboard-item-body {
  height: 400px;
  position: relative;
  overflow: auto;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.dashboard-item-header li > a {
  font-size: 12px;
  height: 29px;
  border-radius: 0px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 6px;
}

.full-screen {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 60px;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: rgba(0,0,0,.4);
}

.no-footer {
  height: 430px !important;
}

.full-screen .dashboard-item-body,
.full-screen .no-footer {
  height: 80vh !important;
}

.dashboard-item-body:hover .chart-options {
  visibility:visible;
}

.full-screen .dashboard-item-body .chart-body {
  height: 75vh !important;
}

.full-screen .dashboard-item-body .map-block,
.full-screen .dashboard-item-body .map-body {
  height: 70vh !important;
}

.dashboard-block:hover .delete-btn {
  visibility:visible;
}

.no-borders{
  border: 0px;
}

.dashboard-footer-nav > li> a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-size: 13px;
  border-radius: 23px;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-right: 3px;
  cursor: pointer;
  height: 23px;
  width: 23px;
  background-color: #eee;
  padding-left: 5px;
  padding-top: 3px;
}

.dashboard-footer-nav > li> a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.dictionary-btn > i {
  font-size: 20px;
  margin-left: -2px;
  margin-top: -2px;
}

.dashboard-delete-block {
  padding-top: 4px;
  padding-right: 2px;
}
