<div class="dashboard-header-container">
  <div class="dashboard-title-block">
    <div class="dashboard-title">
      <div *ngIf="dashboardLoading" style="height: 34px; width: 200px;">
        <app-dashboard-progress [borderRadius]="'3px'"></app-dashboard-progress>
      </div>
      <app-current-dashboard-title
        *ngIf="dashboardLoaded"
        [currentDashboardTitle]="currentDashboard?.name"
      ></app-current-dashboard-title>
    </div>
    <div class="dashboard-options">
      <div *ngIf="dashboardLoading" style="display: flex;">
        <div style="height: 34px; width: 34px; margin-left: 7px;">
          <app-dashboard-progress
            [borderRadius]="'17px'"
          ></app-dashboard-progress>
        </div>
        <div style="height: 34px; width: 34px; margin-left: 7px;">
          <app-dashboard-progress
            [borderRadius]="'17px'"
          ></app-dashboard-progress>
        </div>
        <div style="height: 34px; width: 50px; margin-left: 7px;">
          <app-dashboard-progress
            [borderRadius]="'17px'"
          ></app-dashboard-progress>
        </div>
      </div>

      <div
        class="current-dashboard-share-button"
        *ngIf="dashboardLoaded && currentDashboard?.access?.manageSharing"
      >
        <app-current-dashboard-sharing
          [id]="currentDashboard?.id"
        ></app-current-dashboard-sharing>
      </div>

      <div class="current-dashboard-bookmark-button" *ngIf="dashboardLoaded">
        <app-current-dashboard-bookmark
          [dashboardBookmarked]="currentDashboard?.bookmarked"
          [dashboardBookmarkPending]="currentDashboard?.bookmarkPending"
          (toggleDashboardBookmark)="onToggleDashboardBookmarkAction($event)"
        ></app-current-dashboard-bookmark>
      </div>
      <div class="current-dashboard-global-filter" *ngIf="dashboardLoaded">
        <ngx-dhis2-selection-filters
          (filterUpdate)="onFilterUpdateAction($event)"
          [dataSelections]="globalDataSelections"
          [selectionFilterConfig]="selectionFilterConfig"
          [currentUserHasAuthorities]="currentDashboard?.access?.manage"
          [saving]="currentDashboard?.saving"
          (save)="onSaveDashboard()"
        >
        </ngx-dhis2-selection-filters>
        <div
          *ngIf="currentDashboard?.unSaved"
          class="un-saved-dashboard bg-warning"
        >
          This intervention contains un-saved changes
          <button
            class="btn btn-sm btn-outline-warning discard-changes-btn"
            (click)="onResetChanges($event)"
            title="Discard changes (Refresh)"
          >
            <img src="assets/icons/close.png" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- hide search and add dashboard item. to revert remove ngif=false -->
  <div class="dashboard-search-block no-print">
    <div style="height: 40px; width: 100%;" *ngIf="dashboardLoading">
      <app-dashboard-progress [borderRadius]="'5px'"></app-dashboard-progress>
    </div>
    <div class="dashboard-delete-block" *ngIf="dashboardLoaded">
      <button
        [disabled]="currentDashboard?.saving || currentDashboard?.deleting"
        title="Delete this dashboard"
        class="text-danger dashboard-delete-btn"
        (click)="onToggleDashboardDeleteDialog($event)"
        *ngIf="
          currentDashboard?.access?.manage &&
          !currentDashboard?.showDeleteDialog &&
          !currentDashboard?.deleting
        "
      >
        DELETE
      </button>
      <div
        class="dashboard-delete-confirmation"
        *ngIf="currentDashboard?.showDeleteDialog"
      >
        Delete this intervention?&nbsp;
        <button
          class="btn btn-sm btn-success dashboard-delete-confirm-btn"
          (click)="onToggleDashboardDeleteDialog($event)"
        >
          No
        </button>
        &nbsp;
        <button
          class="btn btn-sm btn-danger dashboard-delete-confirm-btn"
          (click)="onDeleteDashboard($event)"
        >
          Yes
        </button>
      </div>
    </div>
    <div *ngIf="showFavoriteFilter">
      <app-favorite-filter
        *ngIf="dashboardLoaded"
        [currentUser]="currentUser"
        [dashboardAccess]="currentDashboard?.access"
        (addFavorite)="onAddFavoriteAction($event)"
        (createFavorite)="onCreateFavoriteAction()"
      ></app-favorite-filter>
    </div>
  </div>
</div>

<!-- current dashboard description -->
<div
  class="current-dashboard-description"
  *ngIf="dashboardLoaded && visualizationLoadingPercent == 100"
>
  <app-current-dashboard-description
    [dashboardDescription]="currentDashboard?.description"
    [globalDataSelectionSummary]="globalDataSelectionSummary"
  ></app-current-dashboard-description>
</div>
<!-- end of current dashboard description -->
