<div class="dashboard-header-container">
  <div class="dashboard-title-block">
    <div class="dashboard-title">
      <div *ngIf="dashboardLoading" style="height: 34px; width: 200px;">
        <app-dashboard-progress [borderRadius]="'3px'"></app-dashboard-progress>
      </div>
      <app-current-dashboard-title *ngIf="dashboardLoaded" [currentDashboardTitle]="currentDashboard?.name"
        [globalDataSelectionSummary]="globalDataSelectionSummary">
      </app-current-dashboard-title>
    </div>
    <div class="dashboard-options">
      <div *ngIf="dashboardLoading" style="display: flex;">
        <div style="height: 34px; width: 34px; margin-left: 7px;">
          <app-dashboard-progress [borderRadius]="'17px'"></app-dashboard-progress>
        </div>
        <div style="height: 34px; width: 34px; margin-left: 7px;">
          <app-dashboard-progress [borderRadius]="'17px'"></app-dashboard-progress>
        </div>
        <div style="height: 34px; width: 50px; margin-left: 7px;">
          <app-dashboard-progress [borderRadius]="'17px'"></app-dashboard-progress>
        </div>
      </div>

      <div class="current-dashboard-bookmark-button" *ngIf="dashboardLoaded">
        <app-current-dashboard-bookmark [dashboardBookmarked]="currentDashboard?.bookmarked"
          [dashboardBookmarkPending]="currentDashboard?.bookmarkPending"
          (toggleDashboardBookmark)="onToggleDashboardBookmarkAction($event)"></app-current-dashboard-bookmark>
      </div>
      <div class="current-dashboard-global-filter" *ngIf="dashboardLoaded && currentDashboard">
        <app-selection-filters (filterUpdate)="onFilterUpdateAction($event)"
          (interventionSettingsUpdate)="onInterventionSettingsUpdate($event)" [dataSelections]="globalDataSelections"
          [selectionFilterConfig]="selectionFilterConfig" [currentUserHasAuthorities]="currentDashboard?.access?.manage"
          [saving]="currentDashboard?.saving" [userAccesses]="currentDashboard.userAccesses"
          [userGroupAccesses]="currentDashboard.userGroupAccesses" [publicAccess]="currentDashboard.publicAccess"
          [bottleneckPeriodType]="currentDashboard.bottleneckPeriodType" [interventionName]="currentDashboard.name"
          [systemInfo]="systemInfo">
        </app-selection-filters>
        <div *ngIf="currentDashboard?.access?.manage && currentDashboard?.unSaved">
          <button mat-stroked-button class="ml-3" color="warn" [disabled]="currentDashboard?.saving"
            (click)="onResetChanges($event)">Discard</button>
          <button [disabled]="currentDashboard?.saving" class="ml-1" mat-flat-button color="primary"
            (click)="onSaveDashboard($event)">
            {{currentDashboard?.saving ? 'Saving...' : 'Save Changes'}}
          </button>

        </div>
      </div>
    </div>
  </div>

  <!-- hide search and add dashboard item. to revert remove ngif=false -->
  <div class="dashboard-search-block no-print">
    <div style="height: 40px; width: 100%;" *ngIf="dashboardLoading">
      <app-dashboard-progress [borderRadius]="'5px'"></app-dashboard-progress>
    </div>
    <div class="dashboard-delete-block" *ngIf="dashboardLoaded">
      <button [disabled]="currentDashboard?.saving || currentDashboard?.deleting" title="Delete this dashboard"
        class="dashboard-delete-btn" mat-icon-button (click)="onOpenDashboardDeleteDialog($event)" *ngIf="
          currentDashboard?.access?.manage &&
          !currentDashboard?.showDeleteDialog &&
          !currentDashboard?.deleting
        ">
        <mat-icon class="text-muted">delete</mat-icon>
      </button>
    </div>
  </div>
</div>
