.dashboard-header-container {
  display: flex;

  .dashboard-title-block {
    flex: 4;
    display: flex;
    align-items: center;

    .dashboard-title {
      display: flex;
      align-items: center;
    }
  }
}

.dashboard-notification {
  flex: 1;
}

.dashboard-search-block {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.dashboard-options {
  display: flex;
  justify-content: flex-end;
}

.dashboard-global-filter {
  margin-left: 3px;
}

.dashboard-description {
  margin-left: 4px;
  text-align: justify;
}

.current-dashboard-share-button,
.current-dashboard-bookmark-button,
.current-dashboard-global-filter {
  margin-left: 5px;
}

.current-dashboard-global-filter {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.dashboard-delete-block,
.dashboard-save-block {
  margin-left: 10px;
}

.dashboard-delete-btn,
.dashboard-save-btn {
  outline: none;
  cursor: pointer;
}

.dashboard-delete-btn:focus,
.dashboard-delete-btn:active {
  outline: none !important;
}

.dashboard-delete-confirmation {
  display: flex;
  align-items: center;
  border: solid thin #eeeeee;
  border-radius: 3px;
  padding: 7px;
  justify-content: space-around;
  .dashboard-delete-confirm-btn {
    padding: 3px;
    line-height: 13px;
    font-size: 13px;
  }
}

.un-saved-dashboard {
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding: 3px;
  border-radius: 3px;
  img {
    height: 15px;
  }
}

.discard-changes-btn {
  img {
    height: 12px;
  }
}
