<div class="dashboard-header-container">
  <div class="dashboard-title-block">
    <div class="dashboard-title">
      <app-current-dashboard-title [currentDashboardTitle]="currentDashboard?.name"></app-current-dashboard-title>
    </div>
    <div class="dashboard-options">
      <div class="current-dashboard-share-button" *ngIf="currentDashboard?.access?.manage">
        <app-current-dashboard-sharing [id]="currentDashboard?.id"></app-current-dashboard-sharing>
      </div>

      <div class="current-dashboard-bookmark-button">
        <app-current-dashboard-bookmark [dashboardBookmarked]="currentDashboard?.bookmarked" [dashboardBookmarkPending]="currentDashboard?.bookmarkPending"
          (toggleDashboardBookmark)="onToggleDashboardBookmarkAction($event)"></app-current-dashboard-bookmark>
      </div>
      <div class="current-dashboard-global-filter">
        <!-- <app-dashboard-global-filter [currentDashboardId]="(currentDashboard$ | async)?.id"></app-dashboard-global-filter> -->
      </div>
    </div>
  </div>

  <div class="dashboard-search-block no-print">
    <!-- <app-dashboard-item-search [dashboardAccess]="(currentDashboard$ | async)?.access"></app-dashboard-item-search> -->
  </div>
</div>

<!-- current dashboard description -->
<div class="current-dashboard-description">
  <app-current-dashboard-description [dashboardDescription]="currentDashboard?.description"></app-current-dashboard-description>
</div>
<!-- end of current dashboard description -->