.welcoming-block {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid thin #eeeeee;
  border-radius: 3px;
  padding: 20px;
}

.welcome-img-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-img {
  height: 400px;
}

.loading-progress {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 7px;
  border-radius: 2px;
}

.dashboard-placeholder {
  text-align: center;
  padding: 15px;
}
