<div class="container dashboard-home-container">
  <div class="row">
    <div class="col-12">
      <div class="welcoming-block">
        <div>
          <!--Welcoming image-->
          <div class="welcome-img-block">
            <img src="assets/icons/icon-128x128.png" class="img-fluid welcome-img" alt="">
          </div>
          <!--end of welcoming image-->

          <!--Loading block-->
          <div class="loading-block" *ngIf="dashboardsLoading$ | async">
            <div class="loading-progress">
              <app-dashboard-progress></app-dashboard-progress>
            </div>
            <h4 class="text-center">
              <b>{{welcomingMessage.title | translate}}</b>
            </h4>
            <h5 class="text-center" [innerHtml]="welcomingMessage.description | translate"></h5>
          </div>
          <!--end of loading block-->

          <div *ngIf="dashboardsLoaded$ | async">
            <h2>Welcome to Bottleneck Analysis App</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>