<div class="map-container">
  <div class="map-block__right">
    <ul class="map-controls__list d-print-none">
      <li>
        <button class="map-controls__btn" title="Zoom Out" (click)="zoomOut($event)">
          <img src="assets/icons/minus.png" />
        </button>
      </li>
      <li>
        <button class="map-controls__btn" title="Home" (click)="recenterMap($event)">
          <img src="assets/icons/home.png" />
        </button>
      </li>
      <li>
        <button class="map-controls__btn" title="Zoom In" (click)="zoomIn($event)">
          <img src="assets/icons/plus.png" />
        </button>
      </li>
    </ul>
  </div>
  <div class="map-block__left" *ngIf="!visualizationLegendIsOpen">
    <div class="map-layers__block">
      <button class="map-layers__btn" (mouseenter)="toggleLegendContainerView()">
        <img src="assets/icons/layers.png" />
      </button>
    </div>
  </div>
  <div
    class="visualization-legend__container"
    *ngIf="baselayerLegend"
    [ngStyle]="{ 'max-height': 'calc(' + mapHeight + ' - 150px)' }"
  >
    <div [ngClass]="{ 'hide-legend': !visualizationLegendIsOpen }">
      <app-visualization-legend
        [mapVisualizationObject]="visualizationObject"
        [baseLayerLegend]="baseLayerLegend"
      ></app-visualization-legend>
    </div>
  </div>
  <div id="map-view-port-{{visualizationObject.componentId}}" class="map-visual-continer">
    <app-download-legend
      [currentLegendSets]="currentLegendSets"
      *ngIf="currentLegendSets && (showDownloadLegend$ | async)"
    ></app-download-legend>
  </div>
  <div
    class="warning-map"
    *ngIf="!mapHasGeofeatures && mapHasDataAnalytics"
    [ngStyle]="{ height: displayConfigurations.itemHeight }"
  >
    <img src="assets/icons/map.png" alt="" />
    <h4>Sorry, this map has no associated geofeatures</h4>
  </div>
  <div class="warning-map" *ngIf="!mapHasDataAnalytics" [ngStyle]="{ height: displayConfigurations.itemHeight }">
    <img src="assets/icons/map.png" alt="" />
    <h4>Sorry, this map has no data to visualize</h4>
  </div>
</div>
<app-data-table
  class="map-data-table"
  *ngIf="isDataTableOpen"
  [mapVisualizationObject]="visualizationObject"
></app-data-table>
