<div class="row" *ngIf="loadingDictionary">
  <div class="col-md-12">
    <small>Loading metadata dictionary please wait...</small>
  </div>
</div>
<div class="row" *ngIf="isIndicator && !loadingDictionary && !dictionaryError">
  <div class="col-md-12" *ngFor="let indicator of indicators;let i=index">
    <div class="panel dictionary-panel">
      <p><b>{{indicator.name}}</b></p>
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-6">
          <small><b>Indicator type:</b> {{indicator.indicatorType.name}}</small>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <a class="pull-right" style="cursor: pointer" (click)="toggleDictionaryBody(i)"><i class="fa {{index == i ? 'fa-caret-up' : 'fa-caret-down'}}"></i></a>
        </div>
      </div>
      <div class="row" *ngIf="index == i">
        <div class="col-md-12">
          <div style="border-top: solid 1px #ddd; margin-top: 5px; margin-bottom: 5px;"></div>
          <small><b>Description</b></small><br>
          <p><small>{{indicator.name}}</small></p>
          <small><b>Numerator</b></small>
          <p><small>{{indicator.numeratorDescription}}</small></p>
          <p><code>{{indicator.numerator}}</code></p>
          <small><b>Denominator</b></small>
          <p><small>{{indicator.denominatorDescription}}</small></p>
          <p><code>{{indicator.denominator}}</code></p>
          <div *ngIf="indicator.dataSets && indicator.dataSets.length > 0">
            <p><b>Data Set</b></p>
            <p *ngFor="let dataset of indicator.dataSets">
              {{dataset.name}} <span class="tooltip">({{dataset.periodType}})</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!loadingDictionary && !dictionaryError && isDataelements">
  <div class="col-md-12" *ngFor="let dataelement of dataelements;let i=index">
    <div class="panel dictionary-panel">
      <p><b>{{dataelement.name}}</b></p>
      <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-10">
          <small><b>Aggregation type:</b> {{dataelement.aggregationType}}</small>&nbsp;
          <small><b>Category Combo:</b> {{dataelement.categoryCombo.name}}</small>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <a class="pull-right" style="cursor: pointer" (click)="toggleDictionaryBody(i)"><i class="fa {{index == i ? 'fa-caret-up' : 'fa-caret-down'}}"></i></a>
        </div>
      </div>
      <div class="row" *ngIf="index == i">
        <div class="col-md-12">
          <div style="border-top: solid 1px #ddd; margin-top: 5px; margin-bottom: 5px;"></div>
          <ul class="list-unstyled">
            <li *ngFor="let cat of dataelement.categoryCombo.categories let i = index">Category#{{i+1}}:{{cat.name}}
              <dl class="dl-horizontal" *ngFor="let catoptions of cat.categoryOptions let j = index">
                <dt><u>Option#{{j+1}}</u></dt>
                <dd>{{catoptions.name}}</dd>
              </dl>
            </li>
          </ul>
          <div *ngIf="dataelement.dataSets && dataelement.dataSets.length > 0">
            <p><b>Data Sets</b></p>
            <p *ngFor="let dataset of dataelement.dataSets">
              {{dataset.name}} <span class="tooltip">({{dataset.periodType}})</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger" *ngIf="dictionaryError">
      <i class="fa fa-exclamation-triangle"></i>
      <small>Could not load Dictionary</small>
    </div>
  </div>
</div>

