.dictionary-panel {
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  border-bottom: solid 1px #ddd;
  border-radius: 0px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
  box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
}
