<style>
	html, body {
		height: 100%;
	}
	body
	{
		background-color: #0064a3;
	}
</style>
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" style="background: transparent;">
	<div class="modal-dialog" style="margin-top: 100px; margin-right: auto; margin-left: auto; width: 95%; height: 800px">
		<div class="modal-content">
			<div class="modal-header">
				<a target="_blank" ng-if="dashboardItem.type=='REPORT_TABLE'" href='../../../dhis-web-pivot/index.html?id={{ dashboardItem.reportTable.id }}'>Explore </a>
				<a target="_blank" ng-if="dashboardItem.type=='CHART'" href='../../../dhis-web-visualizer/index.html?id={{ dashboardItem.chart.id }}'>Explore </a>
				<a target="_blank" ng-if="dashboardItem.type=='MAP'" href='../../../dhis-web-mapping/index.html?id={{ dashboardItem.map.id }}'>Explore </a>|
				<a ng-if="dashboardItem.type=='CHART'" type="button" title="Layout" style="background-color: #F5F5F5;cursor: pointer"
				   data-content="{{popover.content}}"
				   data-template-url="views/partials/chartLayout.html"
				   data-animation="am-flip-x"
				   data-trigger = 'click'
				   data-auto-close="1" bs-popover> Layout|
				</a>
				<a ng-if="dashboardItem.type=='CHART'" type="button" title="Data Filters" style="background-color: #F5F5F5;cursor: pointer"
				   data-content="{{popover.content}}"
				   data-template-url="views/partials/chartDataFilter.html"
				   data-animation="am-flip-x"
				   data-trigger = 'click'
				   data-auto-close="1" bs-popover> Data
				</a>
				<a ng-if="dashboardItem.type=='REPORT_TABLE'" type="button" title="{{popover.title}}" style="background-color: #F5F5F5;cursor: pointer"
				   data-content="{{popover.content}}"
				   data-template-url="views/partials/tableLayout.html"
				   data-animation="am-flip-x"
				   data-trigger = 'click'
				   data-auto-close="1" bs-popover> Layout|
				</a>
				<a ng-if="dashboardItem.type!=='DASHBOARD_DETAILS'" type="button" title="{{popover.title}}" style="background-color: #F5F5F5;cursor: pointer"
				   data-content="{{popover.content}}"
				   data-template-url="views/partials/dashboardFilters.html"
				   data-animation="am-flip-x"
				   data-trigger = 'click'
				   data-auto-close="1" bs-popover> Filters
				</a>
				<button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body" style="padding:0px;z-index: 100">

				<div ng-if="dashboardItem.type=='MAP'" ng-show="!dashboardLoader[dashboardItem.id] && !dashboardFailLoad[dashboardItem.id]">
					<div>
						<p style="border: 0px none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 12px; font-family: LiberationSans, arial, sans-serif; color: rgb(51, 51, 51); text-align: center; line-height: 14px; letter-spacing: -0.1px; width: 408px; height: 19px; left: 0px; top: 0px; background-color: rgb(255, 255, 255);">
							{{dashboardItem.map.title}}
						</p>
					</div>
					<div>

						<div id="tooltip_{{dashboardItem.id}}"   class="infoh district "  ng-if="currentDashboard==dashboardItem.id">
							<p>{{touchedFeature[dashboardItem.id].name}} ({{touchedFeature[dashboardItem.id].value}})</p>
							<!--<table >-->
							<!--<tr><td style="background-color: #2D9630">&nbsp;</td><td style="text-align: left;">Uploaded</td><td  style="text-align: left;">{{submitted}}</td></tr>-->
							<!--<tr><td style="background-color: #F93030;">&nbsp;</td><td style="text-align: left;">Not Uploaded</td><td style="text-align: left;">{{notsubmitted}}</td></tr>-->
							<!--<tr ng-if="selectedDistrictHover"><td colspan="3"><br/>{{selectedDistrictHover.name}}</td></tr>-->
							<!--</table>-->

						</div>


						<div class="row legendSet" style="font-size: {{dashboardItem.map.styles.fontSize}}!important;font-weight: {{dashboardItem.map.styles.fontWeight}}!important;font-color:{{dashboardItem.map.styles.fontColor}}!important;margin-left: {{dashboardItem.map.columSize[dashboardItem.column_size]}}!important;">
							<div class="panel panel-default" style="width:160px!important;">
								<div class="panel-body" style="background-color:#cfcfcf!important;padding:0px!important;">
									<div  style="background-color: #ffffff!important;">
										<table  cellspacing="5" cellpadding="20" style="background-color: #ffffff!important;margin: 5px;margin-bottom: 5px;padding:0px!Important;">
											<tr><td colspan="2" style="font-weight: bold;">{{dashboardItem.map.title}}</td></tr>
											<tr ng-repeat="legend in dashboardItem.map.legend">
												<td style="background-color: {{legend.color}}">&nbsp;&nbsp;&nbsp;&nbsp;</td>
												<td>&nbsp;&nbsp;&nbsp;{{legend.interval}}&nbsp;({{legend.count}})</td>
											</tr>
											<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
										</table>
									</div>
								</div>
							</div>

						</div>

						<openlayers ol-center="dashboardItem.map.MapCenter"  ol-defaults="dashboardItem.map.defaults" custome-layers="false" height="345px" style="border:1px solid #cccccc; ">
							<ol-layer ol-layer-properties="layer" name="dashboardItem.id" ng-repeat="layer in dashboardItem.map.layers"></ol-layer>
						</openlayers>

					</div>

				</div>


				<div ng-if="dashboardItem.type=='REPORT_TABLE'" style="width: 100%;height:80vh;overflow: scroll;opacity: 0.85;background: white">
					<target-table></target-table>
				</div>
				<div ng-if="dashboardItem.type=='DASHBOARD_DETAILS'" style="width: 100%;height:80vh;overflow: scroll;opacity: 0.85;background: white">
					<target-details></target-details>
				</div>

				<highchart ng-if="dashboardItem.type=='CHART'" config="dashboardChart[dashboardItem.id]" style="width: 100%;height: 80vh;opacity: 0.85;"></highchart>

			</div>
			<div class="modal-footer" style="background: transparent">
				<p style="margin: 3px">
					<a ng-click="updateSingleDashboard(dashboardItem,icon.name)" ng-repeat="icon in icons" title="{{ icon.name }}" class="btn btn-small btn-info" style="background-color: #DDD; border-color: #5BC0DE;border-radius:50%;padding-bottom: 8px; padding-top: 10px;padding-left: 10px;margin-right: 2px;"><img src="img/{{icon.image}}" style="height: 25px;width: 25px"/></i></a>
					<a ng-csv="prepareDataForCSV(dashboardItem)" csv-label="true" filename="data.csv" field-separator="," decimal-separator="."  title="Download Excel" class="btn btn-small btn-info" style="background-color: #DDD; border-color: #5BC0DE; border-radius:50%;padding-bottom: 8px; padding-top: 10px;padding-left: 10px;margin-right: 2px;"><img src="img/cvs.jpg" style="height: 25px;width: 25px"/></i></a>
					<a ng-click="singleDashboardDetails(dashboardItem,'details')"  title="card details" class="btn btn-small btn-info" style="background-color: #DDD; border-color: #5BC0DE; border-radius:50%;padding-bottom: 8px; padding-top: 10px;padding-left: 10px;margin-right: 2px;"><img src="img/inficon.png" style="height: 25px;width: 25px"/></i></a>
					<button type="button" class="btn btn-default pull-right" ng-click="$hide()">Close</button>
				</p>

			</div>
		</div>
	</div>
</div>