
<div class="col-md-12">
    <h3>Dictionary details</h3>
    <div ng-if="dataElements[dashboardItem.id]" class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
        <div class="panel panel-default" ng-repeat="data in dataElements[dashboardItem.id]">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a bs-collapse-toggle>
                        {{ data.name }}
                    </a>
                </h4>
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                    <div>
                        <table class="table table-hover table-striped">
                            <tr>
                                <td> <strong>Name</strong> </td>
                                <td> {{data.name}} </td>
                            </tr>
                            <tr>
                                <td> Aggregation Type: </td>
                                <td> {{data.aggregationType}} </td>
                            </tr>
                            <tr ng-repeat="dataSets in data.dataSets">
                                <td>Data Source:</td>
                                <td><a href="" data-animation="am-flip-x" bs-tooltip="Period Type dataSets.periodType">{{dataSets.name}}</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="indicators[dashboardItem.id]" class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
        <div class="panel panel-default" ng-repeat="data in indicators[dashboardItem.id]">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a bs-collapse-toggle ng-click="showAllDetails(data.numeratorForm,data.demonitorForm)">
                        {{ data.name }}
                    </a>
                </h4>
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                    <div>
                        <table class="table table-hover table-striped">
                            <tr>
                                <td> <strong>Name</strong> </td>
                                <td> {{data.name}} </td>
                            </tr>
                            <tr>
                                <td> Description </td>
                                <td> {{data.numeratorDescription}}</td>
                            </tr>
                            <tr>
                                <td> Numerator </td>
                                <td><a href="" title="{{data.numeratorDescription}}" data-template-url="views/partials/dictionary.html" data-animation="am-flip-x" data-auto-close="1" data-placement="center" bs-popover data-trigger='click'> {{data.numerator}} </a></td>
                            </tr>
                            <tr>
                                <td> Denominator </td>
                                <td> <a href="" title="{{data.denominatorDescription}}" data-template-url="views/partials/dictionary2.html" data-animation="am-flip-x" data-auto-close="1" data-placement="center" bs-popover data-trigger='click'>{{data.denominator}}</a></td>
                            </tr>
                            <tr>
                                <td> Indicator Type:</td>
                                <td> {{data.indicatorType.name}} </td>
                            </tr>
                            <tr ng-repeat="dataSets in data.dataSets">
                                <td> Data set </td>
                                <td><a href="" data-animation="am-flip-x" bs-tooltip="dataSets.periodType"> {{dataSets.name}}</a> </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="datasets[dashboardItem.id]" class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
        <div class="panel panel-default" ng-repeat="data in datasets[dashboardItem.id]">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a bs-collapse-toggle>
                        {{ data.name }}
                    </a>
                </h4>
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                    <div>
                        <table class="table table-hover table-striped">
                            <tr>
                                <td> <strong>Name</strong> </td>
                                <td> {data.name}} </td>
                            </tr>
                            <tr>
                                <td> Reporting Period: </td>
                                <td> {{data.periodType}} </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
