<a ng-hide="dashboardItem.type=='RESOURCES'
                                 || dashboardItem.type=='REPORTS'
                                 || dashboardItem.type=='USERS'
                                 || dashboardItem.type=='MESSAGES'
                                 || dashboardItem.type=='APP' "
   href='javascript:dhis2.db.viewShareForm( "{{ dashboardItem.id }}", "{{ dashboardItem.type | lowercase }}", "{{ dashboardItem.name }}" )'
   style="cursor: pointer">Share interpretation </a>
<a ng-hide="dashboardItem.type=='RESOURCES'
                                 || dashboardItem.type=='REPORTS'
                                 || dashboardItem.type=='USERS'
                                 || dashboardItem.type=='MESSAGES'
                                 || dashboardItem.type=='APP' "
   ng-if="dashboardItem.type=='REPORT_TABLE'"
   href='../../../dhis-web-pivot/index.html?id={{ dashboardItem.reportTable.id }}'
   style="cursor: pointer"> | Explore </a>
<a
     ng-hide="dashboardItem.type=='RESOURCES'
                              || dashboardItem.type=='REPORTS'
                              || dashboardItem.type=='USERS'
                              || dashboardItem.type=='MESSAGES'
                              || dashboardItem.type=='APP' "
     ng-if="dashboardItem.type=='CHART'"
   href='../../../dhis-web-visualizer/index.html?id={{ dashboardItem.chart.id }}'
   style="cursor: pointer"> | Explore </a>
<a ng-hide="dashboardItem.type=='RESOURCES'
                                 || dashboardItem.type=='REPORTS'
                                 || dashboardItem.type=='USERS'
                                 || dashboardItem.type=='MESSAGES'
                                 || dashboardItem.type=='APP' "
        ng-if="dashboardItem.type=='MAP'"
   href='../../../dhis-web-mapping/index.html?id={{ dashboardItem.map.id }}'
   style="cursor: pointer">Explore </a>
<a ng-click="cardClassResizable(dashboardItem)" style="cursor: pointer">{{ dashboardItem.type=='RESOURCES'
   || dashboardItem.type=='REPORTS'
   || dashboardItem.type=='USERS'
   || dashboardItem.type=='MESSAGES'
   || dashboardItem.type=='APP' ? '':'|'}} Resize </a>

<a ng-hide="dashboardItem.type=='RESOURCES'
                                 || dashboardItem.type=='REPORTS'
                                 || dashboardItem.type=='USERS'
                                 || dashboardItem.type=='MESSAGES'
                                 || dashboardItem.type=='APP' "
   ng-if="dashboardItem.type=='CHART'" type="button" title="Layout"
   style="background-color: #F5F5F5;cursor: pointer"
   data-content="{{popover.content}}"
   data-template-url="views/partials/chartLayout.html"
   data-animation="am-flip-x"
   data-trigger='click'
   data-auto-close="1" bs-popover> | Layout
</a>
<a ng-hide="dashboardItem.type=='RESOURCES'
                                 || dashboardItem.type=='REPORTS'
                                 || dashboardItem.type=='USERS'
                                 || dashboardItem.type=='MESSAGES'
                                 || dashboardItem.type=='APP' "
   ng-if="dashboardItem.type=='CHART'" type="button" title="Data Filters"
   style="background-color: #F5F5F5;cursor: pointer"
   data-content="{{popover.content}}"
   data-template-url="views/partials/chartDataFilter.html"
   data-animation="am-flip-x"
   data-trigger='click'
   data-auto-close="1" bs-popover> | Data
</a>
<a ng-hide="dashboardItem.type=='RESOURCES'
                                 || dashboardItem.type=='REPORTS'
                                 || dashboardItem.type=='USERS'
                                 || dashboardItem.type=='MESSAGES'
                                 || dashboardItem.type=='APP' "
   ng-if="dashboardItem.type=='REPORT_TABLE'" type="button" title="{{popover.title}}"
   style="background-color: #F5F5F5;cursor: pointer"
   data-content="{{popover.content}}"
   data-template-url="views/partials/tableLayout.html"
   data-animation="am-flip-x"
   data-trigger='click'
   data-auto-close="1" bs-popover> | Layout
</a>
<a ng-hide="dashboardItem.type=='RESOURCES'
                                 || dashboardItem.type=='REPORTS'
                                 || dashboardItem.type=='USERS'
                                 || dashboardItem.type=='MESSAGES'
                                 || dashboardItem.type=='APP' "
   ng-if="dashboardItem.type!=='DASHBOARD_DETAILS'" type="button" title="{{popover.title}}"
   style="background-color: #F5F5F5;cursor: pointer"
   data-content="{{popover.content}}"
   data-template-url="views/partials/dashboardFilters.html"
   data-animation="am-flip-x"
   data-trigger='click'
   data-auto-close="1" bs-popover> | Filters
</a>

<a data-animation="am-fade-and-slide-top" data-template-url="views/partials/dashboardModel.html"
   bs-modal="modal" class="pull-right" style="cursor: pointer" title="Zoom card"><span
        class="glyphicon glyphicon-resize-full"></span> </a>