<div>
<table ng-if="dashboardItem.type!=='APP'" class="table table-striped">
    <tbody>
        <tr  ng-repeat="listItem in (dashboardItem.type=='MESSAGES'
                ? dashboardItem.messageConversations
                : dashboardItem[dashboardItem.type.toLowerCase()])">
            <td>
                <a target="_blank"
                   href="{{ dashboardItem.type=='MESSAGES'
                   ? '../../../dhis-web-dashboard-integration/readMessage.action?id='+listItem.id
                   : (dashboardItem.type!='USERS'
                    ? listItem.href+'/data'
                    : '../../../dhis-web-dashboard-integration/profile.action?id='+listItem.id) }}">
                    {{ dashboardItem.type=='MESSAGES' ? listItem.name+' on '+listItem.lastMessage+'  '+listItem.userFirstname+' '+listItem.userSurname
                    : listItem.name}}</a>
            </td>
        </tr>
    </tbody>
</table>
<iframe ng-if="dashboardItem.type=='APP'" id="plugin-{{dashboardItem.id}}" style="width:100%;height:304px;border:0" allowfullscreen="" src="{{dashboardItemMediaUrl}}"></iframe>
</div>