<div ng-controller="MenuController">
<nav class="navbar navbar-default" bs-navbar ng-if="!loading">

  <div class="container-fluid bbnav">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>{{ $root.hideFilters }}
        <div ng-if="!$root.filtersHidden" >
            <h4 class="text-muted">
                <a ng-click="$root.hideFilters()" title="Hide Filters" ng-if="!$root.filtersHidden">
                    <img ng-if="!$root.filtersHidden" src="img/filter.png" style="height: 25px;width: 25px"/>&nbsp;
                    <small class="text-primary">Please Change Settings</small>
                    <span style="margin-top: 5px" class="glyphicon glyphicon-chevron-left pull-right"></span>
                </a>
            </h4>

        </div>

        <div>

            <h4 ng-if="$root.filtersHidden" class="text-muted" style="margin-bottom: 0px"><a ng-click="$root.hideFilters()" title="Show Filters" style="cursor:pointer">
                <img src="img/filter.png" style="height: 25px;width: 25px"/>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a> </h4>
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li
                style="border-right: #ECECEC 1px solid"
                dir-paginate="dashboard in dashboards | itemsPerPage:itemsize"
                data-match-route="/dashboards/{{dashboard.id}}">
          <a href="#/dashboards/{{dashboard.id}}/dashboard">{{ dashboard.name }} </a>
        </li>
      </ul>
        <input class="pull-right" max="{{ dashboards.length }}" min="2" type="number"
               ng-model="itemsize"
               onkeydown="return false"
               style="box-sizing: border-box; line-height: 140%; border-radius: 4px;font-size: 14px;width: 35px; height: 33px;margin-top: 5px; margin-left: 5px; background-color: #ECECEC;text-align: center">
        <dir-pagination-controls
                max-size="1"
                direction-links="true"
                boundary-links="false"
                class="pull-right"
                auto-hide="true"
                template-url="views/partials/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div><!-- /.navbar-collapse -->
    <!--<div class="col-sm-3">-->
      <!---->
    <!--</div>-->

  </div><!-- /.container-fluid -->
</nav>
</div>

