<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
         <h4 class="text-muted">{{ $root.dashName }}</h4>
        </div>

        <div class="col-sm-6" style="padding-right: 0px">
            <input type="text" class="form-control input-sm" placeholder="Search...." ng-model="search" ng-change="searchData(search)">
            <div style="position: absolute; width: 100%; max-height: 400px; overflow-y: scroll; background: #fff; z-index: 100; border:solid 1px #eee;" ng-if="isShown">
                <div class="row">
                    <div class="col-sm-12">
                        <h6><strong>Users</strong></h6>
                        <hr>
                        <div class="row" ng-repeat="user in data.users">
                            <div class="col-sm-10 col-xs-10">
                                <a href="">{{user.name}}</a>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                <a href="" class="btn pull-right" ng-click="createDashboard('USERS', user.id)">add</a>
                            </div>
                        </div>

                        <h6><strong>Charts</strong></h6>
                        <hr>
                        <div class="row" ng-repeat="chart in data.charts">
                            <div class="col-sm-10 col-xs-10">
                                <a href="">{{chart.name}}</a>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                <a href="" class="btn pull-right" ng-click="createDashboard('CHARTS', chart.id)">add</a>
                            </div>
                        </div>
                        <h6><strong>Maps</strong></h6>
                        <hr>
                        <div class="row" ng-repeat="map in data.maps">
                            <div class="col-sm-10 col-xs-10">
                                <a href="">{{map.name}}</a>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                <a class="btn btn-sm pull-right" ng-click="createDashboard('MAPS', map.id)">add</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3" style="margin-top: 5px">
            <a class="text-primary pull-right" type="button" id="interpretationBlock" data-toggle="tooltip" data-placement="top" title="Interpretation">
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> <span style="background-color: #337AB7" class="badge bg-primary" id="interpretationId"></span>
            </a>
            <a class="text-primary  pull-right" type="button" style="margin-right: 12px" id="messageBlock" data-toggle="tooltip" data-placement="top" title="Message">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  <span style="background-color: #337AB7" class="badge bg-primary" id="messageId"></span>
            </a>
        </div>
    </div>
</div>
