
<div class="row">
    <div class="col-sm-12">
        <p class="text-center"><strong>Share this dashboard</strong></p>
        <input type="text" ng-click="showSearch(searchQuery)" class="form-control" placeholder="Search User groups" ng-model="searchQuery" ng-change="searchUserGroup(searchQuery)">
        <div ng-mouseleave="hideSearch()" style="position: absolute; width: 89%; max-height: 200px; border: solid 1px #eee; background: #fff; z-index: 400; overflow-y: scroll;" ng-if="isShareSearchShown">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="user in userGroup.userGroups">
                    <a href="" ng-click="addUserGroup(user)">{{user.displayName}}</a>
                </li>
            </ul>
        </div>
        <h6 class="text-muted">Created by: {{shareData.user.name}}</h6>
        <hr>
        <table class="share-table" style="width: 100%;">
            <tbody>
            <tr>
                <td colspan="2"><small>External access (without login)</small></td>
                <td class="pull-right"><input type="checkbox" ng-checked="shareData.externalAccess" ng-model="shareData.externalAccess"></td>
            </tr>
            <tr>
                <td colspan="2"><small>Public access (with login)</small></td>
                <td>
                    <select class="form-control input-sm" ng-model="shareData.publicAccess">
                        <option value="--------" selected>None</option>
                        <option value="r-------">Can view</option>
                        <option value="rw------">Can view and edit</option>
                    </select>
                </td>
            </tr>
            <tr ng-repeat="user in userGroups">
                <td colspan="2"><small>{{user.displayName}}</small></td>
                <td>
                    <select ng-model="user.access" id="" class="form-control input-sm">
                        <option value="r-------">Can view</option>
                        <option value="rw------">Can view and edit</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-sm" ng-click="removeUserGroup(user)">&times;</button>
                </td>
            </tr>
            </tbody>
        </table>
        <hr>
        <button class="btn btn-primary btn-sm btn-block" ng-click="saveShareData()">Share</button>
    </div>
</div>
