<div class="form-group">
  <div class="input-group">
    <div class="input-group-addon">
      <b><small>Organisation Units</small></b>
    </div>
    <div class="input-group-addon" style="background-color: transparent; border-right-style: none;">
      <a><i class="fa fa-cog"></i>&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </div>
    <div class="input-group-addon" style="background-color: transparent; border-right-style: none;">
      <small>Organisation unit level</small>&nbsp;
      <a><i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </div>
    <div class="input-group-addon" style="background-color: transparent; border-right-style: none;">
      <small>Organisation units</small>
    </div>
    <div class="input-group-btn">
      <button class="btn btn-default"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
    </div>
  </div>
</div>