.accessConfig {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    flex: 1;

}

.accessConfig > p {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 24px;
    margin-bottom: 0.7%;
    padding-left: 3%;

}

.access-config-body {
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 3%;

}


@media screen and (max-width: 1000px) {
    .access-config-body {
        width: 100%;
    }
}

@media screen and (min-width: 1600px) {
    .access-config-body {
        width: 60%;
    }

}
