<div class="row">
  <div class="col-md-12" style="position: relative;">
    <app-chart-loader
      *ngIf="!loaded && !chartHasError"
      [chartName]="visualizationObject.name"
    >
    </app-chart-loader>
    <app-error-notifier [errorMessage]="errorMessage" *ngIf="chartHasError"></app-error-notifier>
    <div *ngIf="loaded && !chartHasError" id="chart_{{visualizationObject.id}}">
      <app-chart-template
        *ngFor="let chartObject of chartObjects; let i=index"
        [renderId]="visualizationObject.id + '_' + i"
        [chartHeight]="chartHeight"
        [chartObject]="chartObject"
        (onChartRenderFailure)="getChartError($event)"
      ></app-chart-template>
    </div>
    <div class="options-block" [hidden]="!showOptions && !loaded">
      <ul class="nav nav-stacked">
        <li *ngFor="let chartType of chartTypes">
          <a
            (click)="updateChartType(chartType.type, $event)"
            title="{{chartType.description}}"
            [ngClass]="currentChartType === chartType.type ? 'active-type' : ''"
          >
            <img [src]="chartType.icon" class="chart-option-icon" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
