.interpretation-panel {
  margin-bottom: 0px;
  border-radius: 0px;
  border-style: none;
  border-bottom: solid 1px #ddd;
}

.inter-panel {
  margin-bottom: 0px;
  border-style: none;
  border-bottom: solid 1px #eee;
  border-radius: 0px;

}

.interpretation-heading {
  cursor: pointer;
  border-radius: 0px;
  border-bottom-style: none;
  background-color: #F9F9F9;
  padding-bottom: 2px;
}
.interpretation-heading:hover {
  background-color: #F7F7F7;
}

.interpretation-body {
  padding-top: 2px;
}
.interpretation-panel:hover {
  background-color: #f5f5f5;
}

.comments {
  padding-top: 3px;
  padding-bottom: 3px;
}

.icon {
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: block;
  font-size: 19px;
  font-weight: 500;
  color: #269ABC;
  padding-top: 7px;
  padding-left: 6px;
  margin-right: 5px;
  background-color: #ececec;
}
.name {
  padding-left: 5px;

}

.count {
  float: right;
}
