<div class="form-group" *ngIf="!showForm">
  <button (click)="showForm = true" class="btn btn-info btn-sm" >Share new interpretation</button>
</div>
<form class="form" *ngIf="showForm" [formGroup]="createInterpretationForm" (ngSubmit)="saveInterpretation(createInterpretationForm.value)">
  <div class="form-group">
    <label for="" class="control-label">Write your interpretation</label>
    <textarea Autosize formControlName="text" cols="30" rows="2" class="form-control" ></textarea>
    <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 4px;" [disabled]="createInterpretationForm.invalid">Share</button>
    <button  type="reset" (click)="showForm = false" class="btn btn-warning btn-sm" style="margin-top: 4px;">Cancel</button>
  </div>
</form>
<!--<tabset>-->
  <!--<tab *ngFor="let interpretation of interpretations">-->
    <!--<template tabHeading>{{interpretation.user.name}}</template>-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<p>Tab 1 content</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</tab>-->
<!--</tabset>-->
<div class="panel panel-default" *ngFor="let interpretation of interpretations">
  <div class="panel-body" style="padding: 8px 8px 3px 8px;">
    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-8">
        <div class="icon">RM</div>
        <div class="name">
          <small><b>{{interpretation.user.name}}</b></small>
          <span style="font-size: 10px;" class="text-muted">{{interpretation.created | amCalendar}}</span><br>
          <small *ngIf="currentShown != interpretation.id">{{interpretation.text | truncate:30}}</small>
        </div>
      </div>
      <div class="col-md-3 coll-sm-3 col-xs-4">
        <div class="pull-right">
          <ul class="list-inline">
            <li><small style="font-size: 10px;"><i class="fa fa-comment"></i>&nbsp;{{interpretation.comments.length}}</small></li>
            <li><small style="font-size: 10px;"><i class="fa fa-thumbs-up"></i>&nbsp;{{interpretation.likes}}</small></li>
          </ul>
          <a (click)="currentShown = currentShown == interpretation.id ? '' : interpretation.id" style="cursor: pointer"  class="pull-right">
            <i class="fa fa-caret-{{currentShown == interpretation.id  ? 'up' : 'down'}}"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer" *ngIf="currentShown == interpretation.id" style="padding: 8px 8px 8px 8px; background-color: #fff;">
    <div class="row">
      <div class="col-md-12">
        <small>{{interpretation.text}}</small>
        <ul class="list-inline" style="border-bottom: solid 1px #ddd; padding-bottom: 8px;">
          <li><a href=""><small><i class="fa fa-thumbs-up"></i> Like</small></a></li>
          <li><a href=""><small><i class="fa fa-comment"></i> Comment</small></a></li>
        </ul>
      </div>
    </div>
    <div class="row" *ngIf="interpretation.comments.length > 0">
      <div class="col-md-12">
        <ul class="list-unstyled">
          <li style="margin-bottom: 10px;" *ngFor="let comment of interpretation.comments">
            <div class="row">
              <div class="col-md-12">
                <div class="icon">RM</div>
                <div class="name">
                  <small>
                    <b>{{comment.user.name}}</b>
                    <span style="font-size: 10px;" class="text-muted">{{comment.created | amCalendar}}</span>
                  </small><br>
                  <small>{{comment.text}}</small>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" >
      <div class="col-md-12" >
        <form [formGroup]="commentForm" (ngSubmit)="saveComment(commentForm.value, interpretation.id)">
          <textarea formControlName="comment" Autosize class="form-control input-sm" id="" cols="30" rows="1" placeholder="Write your comment"></textarea>
          <button type="submit" class="btn btn-default btn-sm" style="margin-top: 3px;" *ngIf="commentForm.valid">Post</button>
          <button type="reset" class="btn btn-warning btn-sm" style="margin-top: 3px;" *ngIf="commentForm.valid">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>


