<h4 style="margin-top: 0px;"><b>Interpretations</b></h4>
<div class="form-group" *ngIf="!showForm" style="margin-top: 5px;">
  <button (click)="showForm = true" class="btn btn-info btn-sm" >Share new interpretation</button>
</div>
<form class="form" *ngIf="showForm" [formGroup]="createInterpretationForm" (ngSubmit)="saveInterpretation(createInterpretationForm.value)">
  <div class="form-group">
    <label for="" class="control-label">Write your interpretation</label>
    <textarea Autosize formControlName="text" cols="30" rows="2" class="form-control" ></textarea>
    <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 4px;" [disabled]="createInterpretationForm.invalid">Share</button>
    <button  type="reset" (click)="showForm = false" class="btn btn-warning btn-sm" style="margin-top: 4px;">Cancel</button>
  </div>
</form>
<div class="panel panel-default inter-panel" *ngFor="let interpretation of interpretations">
  <div class="panel-heading interpretation-heading">
    <div class="row" (click)="toggleInterpretation(interpretation.id)">
      <div class="col-md-1 col-sm-1 col-xs-1">
        <div class="icon">{{interpretation.user.name | abbreviate}}</div>
      </div>
      <div class="col-md-11 col-sm-11 col-xs-11">
        <span style="text-transform: capitalize;"><b>{{interpretation.user.name}}</b></span>
        <span style="font-size: 13px;" class="text-muted">{{interpretation.created | amCalendar}}</span><br>
        <span class="text-justify" *ngIf="interpretationEditFormId != interpretation.id">{{currentShown == interpretation.id ? interpretation.text : interpretation.text | truncate:100}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <form style="margin-top: -15px;" class="form" *ngIf="interpretationEditFormId == interpretation.id" [formGroup]="createInterpretationForm" (ngSubmit)="saveInterpretation(createInterpretationForm.value)">
          <div class="form-group">
            <textarea Autosize formControlName="text" cols="30" rows="2" class="form-control" ></textarea>
            <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 4px;" [disabled]="createInterpretationForm.invalid">Update</button>
            <button  type="reset" (click)="toggleInterpretationEditForm(interpretation.id)" class="btn btn-warning btn-sm" style="margin-top: 4px;">Cancel</button>
          </div>
        </form>
        <ul class="list-inline">
          <li><a href=""><small>Like</small></a></li>
          <li><a (click)="toggleInterpretationEditForm(interpretation.id)"><small>Edit</small></a></li>
          <li *ngIf="interpretationDeleteId != interpretation.id"><a (click)="interpretationDeleteId = interpretation.id"><small class="text-danger">Delete</small></a></li>
          <li *ngIf="interpretationDeleteId == interpretation.id">
            <small>Delete?</small>
            <a (click)="interpretationDeleteId = ''" class="btn btn-xs btn-default"><i class="fa fa-times"></i></a>
            <a href="" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></a>
          </li>
        </ul>
        <ul class="list-inline" *ngIf="currentShown == interpretation.id">
          <li *ngIf="interpretation.comments.length > 0"><small class="text-info">{{interpretation.comments.length}} {{interpretation.comments.length > 1 ? 'people':'person'}} commented</small></li>
          <li *ngIf="interpretation.likes > 0"><small class="text-info">{{interpretation.likes}} {{interpretation.likes > 1 ? 'people':'person'}} liked this</small></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-body interpretation-body" *ngIf="currentShown == interpretation.id">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <div class="row" *ngIf="interpretation.comments.length > 0">
          <div class="col-md-12">
            <p class="page-header" style="margin-top: 2px; margin-bottom: 2px;"><b>Comments</b></p>
          </div>
          <div class="col-md-12">
            <div class="row comments" *ngFor="let comment of interpretation.comments">
              <div class="col-md-1">
                <div class="icon">{{comment.user.name | abbreviate}}</div>
              </div>
              <div class="col-md-11" style="padding-left: 20px;">
                <span><b>{{comment.user.name}}</b></span>&nbsp;
                <span class="text-justify">{{comment.text}}</span>&nbsp;
                <ul class="list-inline">
                  <li><span style="font-size: 12px;" class="text-muted">{{comment.created | amCalendar}}</span></li>
                  <li><a href="" style="font-size: 12px;" class="text-info">Edit</a></li>
                  <li><a href="" style="font-size: 12px;" class="text-danger">Delete</a></li>
                </ul>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"><div class="icon">{{currentUserName |  abbreviate}}</div></div>
          <div class="col-md-11">
            <form style="margin-top: 5px; margin-left: 5px;" [formGroup]="commentForm" (ngSubmit)="saveComment(commentForm.value, interpretation.id)">
              <textarea formControlName="comment" Autosize class="form-control input-sm" id="" cols="30" rows="1" placeholder="Write your comment"></textarea>
              <button type="submit" class="btn btn-default btn-sm" style="margin-top: 3px;" *ngIf="commentForm.valid">Post</button>
              <button type="reset" class="btn btn-warning btn-sm" style="margin-top: 3px;" *ngIf="commentForm.valid">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


