<tabset>
  <tab>
    <template tabHeading>Rajabu</template>
    <div class="row">
      <div class="col-md-12">
        <p>Tab 1 content</p>
      </div>
    </div>
  </tab>
  <tab>
    <template tabHeading>Mukulu</template>
    Tab 2 content
  </tab>
  <tab>
    <template tabHeading>Mbwilo</template>
    Tab 2 content
  </tab>
</tabset>
<form class="add-interpretation">
  <div class="form-group">
    <label for="" class="control-label">Write your intepretation</label>
    <textarea name="" id="" cols="30" rows="2" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary pull-right">Share</button>
  </div>
</form>

