<ul class="list-inline" *ngIf="dataOptions.length != 0">
  <li *ngFor="let option of dataOptions" style="padding-right: 0px">
    <a (click)="toggleDataOption(option.prefix, $event)"
       class="btn btn-sm {{option.selected ? 'btn-info' : 'btn-default'}} {{option.name =='Auto Growing' ? 'auto-growing' : ''}}"
       style="height: 32px; border-radius: 16px;padding: 5px 5px"
       title="Click to see {{option.name}}"
    >
      {{option.name}}
    </a>
  </li>
</ul>
<div appClickOutside (clickOutside)="showGroups = false" [ngClass]="{'hiddenTree': !need_groups}">
  <button class="btn btn-default btn-sm btn-block" (click)="showGroups = !showGroups">
    <span class="pull-left">{{ selectedGroup?.name || 'Select Table'}}</span>
    <span class="pull-right">
      <span class="glyphicon glyphicon-triangle-bottom"></span>
    </span>
  </button>
  <div *ngIf="showGroups" class="panel panel-default" style="margin-top: 4px;position: absolute;z-index: 999;width: 99%">
    <div class="panel-body" style="padding: 5px;">
      <input type="search" class="form-control input-sm" placeholder="Search" style="margin-bottom: 5px;" [(ngModel)]="querystring">
      <ul class="list-unstyled metadata-list  tree-area1">
        <li *ngFor="let item of dataGroups | filterByName:querystring | orderBy: 'sorOrder':false" (click)="setSelectedGroup(item,scrollse)">{{ item.name }}</li>
      </ul>
    </div>
  </div>
</div>
<input type="text" class="form-control input-sm" (focus)="showBody = true" (keyup)="searchChanged()" placeholder="Search" style="margin-top: 4px;" [(ngModel)]="listchanges">
<div class="row" style="margin-top:2px;padding-left: 15px; padding-right: 15px;max-height: 170px">
  <table class="table table-bordered" >
    <tbody>
    <tr>
      <th width="50%">
        <ul class="list-inline data-header-list">
          <li>Available <span class="fadeOut">({{(listItems| filterByName:listchanges).length - getSelectedItemsToRemove() }})</span></li>
          <li class="pull-right pointer direction-arrows" (click)="selectAllItems($event)"><a title="Select all"><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
      </th>
      <th width="50%">
        <ul class="list-inline data-header-list">
          <li class="pull-right">Selected <span class="fadeOut">({{ selectedItems.length }})</span></li>
          <li class="pull-left pointer direction-arrows" (click)="deselectAllItems($event)" ><a title="Remove all selections"><i class="fa fa-angle-double-left"></i></a></li>
        </ul>
      </th>
    </tr>
    <tr>
      <td style="height: 120px;width: 50%;">

        <ul class="list-unstyled metadata-list scrollable" #scrollse>
          <li *ngIf="loading">Loading...</li>
          <li *ngIf="!loading && (listItems| filterByName:listchanges).length == 0">No items</li>
          <li *ngFor="let item of listItems
              | filterByName:listchanges
              |  paginate: { id: 'foo',itemsPerPage: 25, currentPage: p }"
              (click)="addSelected(item, $event)"
              [ngClass]="{'hiddenTree': inSelected(item, selectedItems)}"
              title="Click to select item"
              class="{{item.hasOwnProperty('programType') ? 'auto-growing' : ''}}"
              id="{{item.id | addUnderscore}}"
          >
            {{ item.name }}
          </li>
          <li *ngIf="(listItems| filterByName:listchanges).length >= 25">
            <pagination-controls  id="foo"
                                  (pageChange)="p = $event"
                                  maxSize="0">
            </pagination-controls>
          </li>
        </ul>


      </td>
      <td width="50%">
        <ul class="list-unstyled metadata-list scrollable">
          <li *ngFor="let item of selectedItems | paginate:{id: 'selectedlist',itemsPerPage: 100, currentPage: k}"
              (click)="removeSelected(item, $event)"
              style="cursor: move"
              dnd-droppable (onDropSuccess)="transferDataSuccess($event,item)"
              title="click to unselect item"
          >
            <div dnd-draggable [dragEnabled]="true" [dragData]="item" class="{{item.hasOwnProperty('programType') ? 'auto-growing' : ''}}"> {{ item.name }} </div>
          </li>
          <li *ngIf="selectedItems.length > 100">
            <pagination-controls id ='selectedlist' maxSize="0" (pageChange)="k = $event"></pagination-controls>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button (click)="close($event)" class="btn btn-default pull-right">Cancel</button>
    <button (click)="emit($event)" class="btn btn-default pull-right">Update</button>
  </div>
</div>
