[submodule "src/app/modules/chart"]
	path = src/app/modules/chart
	url = https://github.com/hisptz/chart-module.git
[submodule "src/app/modules/table"]
	path = src/app/modules/table
	url = https://github.com/hisptz/table-module.git
[submodule "src/app/modules/menu"]
	path = src/app/modules/menu
	url = git@github.com:hisptz/ng2-dhis-menu-module.git
