[submodule "src/app/modules/chart"]
	path = src/app/modules/chart
	url = git@github.com:hisptz/chart-module.git
[submodule "src/app/modules/table"]
	path = src/app/modules/table
	url = git@github.com:hisptz/table-module.git
