[submodule "src/app/menu"]
	path = src/app/menu
	url = https://github.com/hisptz/ng2-dhis-menu-module.git
[submodule "src/app/period-filter"]
	path = src/app/period-filter
	url = https://github.com/hisptz/period-filter-module.git
