<div class="col-md-12">
  <ul class="list-inline">
    <li>
      <div class="badge share-badge">
       External Access
        <!--<a href="" class="text-success"><i class="fa fa-check-circle"></i></a>-->
        <a href="" class="text-danger"><i class="fa fa-times-circle"></i></a>
      </div>
    </li>
    <li><div class="badge share-badge">
      Public Access
      <a href="" class="text-success"><i class="fa fa-check-circle"></i></a>
      <!--<a href="" class="text-danger"><i class="fa fa-times-circle"></i></a>-->
      <!--<a href="" class="text-success"><i class="fa fa-eye"></i></a>-->
      <a href="" class="text-success"><i class="fa fa-edit"></i></a>
    </div>
    </li>
    <li>
      <input type="text" class="share-input" autofocus>
    </li>
  </ul>
</div>