.visualization-management-section {
  padding: 5px;
}
.visualization-management-active {
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
}

.visualization-management-container {
  min-height: 150px;
}

.visualization-management-footer {
  display: flex;
  justify-content: flex-end;
}

.visualization-footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  border-style: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  margin-left: 5px;
}

.visualization-footer-btn:hover {
  background-color: rgba(241, 241, 241, 0.6);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.visualization-save-btn,
.visualization-delete-btn {
  width: 80px;
  padding-left: 7px;
  padding-right: 4px;
  justify-content: space-between;
  font-size: 12px;
}

.visualization-delete-btn {
  width: 72px;
  padding-right: 7px;
}

.visualization-save-btn > a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.visualization-footer-btn img {
  height: 16px;
}

.arrow-up {
  transform: rotate(180deg);
}
