<div [ngClass]="{'visualization-management-section': true, 'visualization-management-active': showManagementPanel || showDeleteConfirmation}">
  <div *ngIf="showManagementPanel" class="visualization-management-container" [@open]>
    <div class="form-group">
      <label for="">Name *</label>
      <input type="text" class="form-control" placeholder="Favorite name" (change)="onInputChange($event, 'NAME')" [value]="name">
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <textarea name="" class="form-control" id="" cols="30" rows="4" placeholder="Enter description" [value]="''"></textarea>
    </div>
  </div>

  <div class="visualization-delete-block" *ngIf="showDeleteConfirmation">
    <div class="visualization-delete-body">
      <div>Are you sure you want to delete this item?</div>
      <button class="visualization-footer-btn visualization-cancel-delete-btn" (click)="onDeleteCancel($event)">Cancel</button>
      <button class="visualization-footer-btn visualization-confirm-delete-btn" (click)="onConfirmDelete($event)">Delete</button>
    </div>
    <div class="visualization-associated-item">
      <input type="checkbox" [(ngModel)]="deleteFavorite">&nbsp;Also delete associated favorite
    </div>
  </div>

  <div class="visualization-management-footer" *ngIf="!showDeleteConfirmation">
    <button class="visualization-footer-btn visualization-save-btn" [disabled]="!name || name === ''" title="save this item"
      (click)="onSave($event)">
      <img src="assets/icons/save.png" alt="">
      <span class="save-btn-text">Save</span>
      <a title="manage" (click)="onToggleManagementPanel($event)">
        <img [ngClass]="{'arrow-up': !showManagementPanel}" src="assets/icons/arrow-down.png" alt="">
      </a>
    </button>
    <button class="visualization-footer-btn visualization-delete-btn" title="Remove this item" (click)="onRemove($event)">
      <img src="assets/icons/trash.png" alt="">
      <span>Delete</span>
    </button>
  </div>
</div>