.interpretation-btn {
  position:relative;
  padding-top: 3px;
  padding-left: 3px;
}

.interpretation-btn img {
  display: block;
  margin: auto;
  height: 25px;
}

.interpretation-value {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  background-color: transparent;
  color: #888;
  font-weight: 700;
  font-size: 10px;
}
