<div class="visualization-interpretation-button-block">
    <button class="dashboard-btn interpretation-btn" [disabled]="!loaded" title="{{ interpretationTitle }}" (click)="toggleInterpretation($event)">
    <div
      class="interpretation-value"
      *ngIf="interpretationCount > 0"
    >{{ interpretationCount }}</div>
    <img *ngIf="interpretationCount === 0" src="assets/icons/chat.png" alt="">
    <img *ngIf="interpretationCount > 0" src="assets/icons/filled-chat.png" alt="">
  </button>
</div>