<div class="ngx-dhis2-user-org-unit-selection__container">
  <span>User organisation units</span>
  <div class="ngx-dhis2-user-org-unit-selection__list">
    <button class="ngx-dhis2-user-org-unit-selection__item">
      User orgunit
    </button>
    <button class="ngx-dhis2-user-org-unit-selection__item">
      User subunits
    </button>
    <button class="ngx-dhis2-user-org-unit-selection__item">
      User 2x subunits
    </button>
    <button class="ngx-dhis2-user-org-unit-selection__item">
      User 3x subunits
    </button>
  </div>
</div>