<div class="ngx-dhis2-user-org-unit-selection__container">
  <span>User organisation units</span>
  <div class="ngx-dhis2-user-org-unit-selection__list">
    <button class="ngx-dhis2-user-org-unit-selection__item">
      Main
    </button>
    <button class="ngx-dhis2-user-org-unit-selection__item">
      Below
    </button>
    <button class="ngx-dhis2-user-org-unit-selection__item">
      2x Below
    </button>
    <button class="ngx-dhis2-user-org-unit-selection__item">
      3x Below
    </button>
  </div>
</div>