.current-dashboard-share-section {
    position: relative;
}

.dashboard-share-btn {
    margin-left: 5px;
    margin-top: 6px;
    box-shadow: none;
}

.dashboard-share-btn img {
    display: block;
    margin: auto;
    height: 17px;
}

.dashboard-share-block {
    background-color: #ffffff;
    position: absolute;
    top: 40px;
    width: 400px;
    height: 400px;
    z-index: 1200;
}

.dashboard-share-body {
  width: 100%;
  height: 370px;
}

.dashboard-share-header {
    border-bottom: solid thin #eeeeee;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
}

.dashboard-sharing-user {
    font-size: 13px;
    padding: 5px 10px 5px 10px;
}

.dashboard-sharing-filter {
    padding: 5px 10px 5px 10px;
}

@media (max-width: 900px) {
    .current-dashboard-share-section {
        position: static;
    }
    .dashboard-share-block {
        left: 3%;
        width: 94%;
        top: 45px;
    }
}
