<div
  class="current-dashboard-share-section"
  appClickOutside (clickOutside)="showShareBlock = false"
>
  <button
    class="dashboard-btn dashboard-share-btn"
    title="{{ showShareBlock ? 'close sharing options' : 'Manage sharing options'}}"
    (click)="toggleShareBlock($event)"
  >
    <img *ngIf="!showShareBlock" src="assets/icons/share.png" alt="">
    <img *ngIf="showShareBlock" src="assets/icons/close.png" alt="">
  </button>
  <div
    class="dashboard-share-block dashboard-border"
    [@open]
    *ngIf="showShareBlock"
  >
    <div class="dashboard-share-header">
      Sharing Settings
    </div>
    <div
      class="dashboard-share-body"
      *ngIf="(currentDashboardSharing$ | async)"
      [@open]
    >
      <div
        class="dashboard-sharing-user text-muted">
        Created by {{(currentDashboardSharing$ | async)?.user.name}}</div>
      <div
        class="dashboard-sharing-filter">
        <app-sharing-filter
          [sharingEntity]="(currentDashboardSharing$ | async).sharingEntity"
        ></app-sharing-filter>
      </div>
    </div>

  </div>
</div>
