<div class="container">
  <app-loader *ngIf="loading" [loadingMessage]="'Moving dashboards into position'"></app-loader>
  <div class="row" *ngIf="!loading">
    <div class="col-md-12">
      <div class="text-center">
        <h1>
          <b>Welcome to interactive dashboard</b>
        </h1>
        <h3>Enjoy cool and interactive visualizations, enjoy charts, tables, maps
          <br>We bring all visualizations at your finger tips
        </h3>
        <button *ngIf="!showForm" class="btn btn-primary btn-lg" (click)="showForm = true">CREATE DASHBOARD NOW</button>
        <div class="row" *ngIf="showForm && !submitted">
          <div class="col-md-offset-4 col-md-4">
            <form [formGroup]="createDashboardForm" (ngSubmit)="save(createDashboardForm.value,createDashboardForm.valid)">
              <div class="form-group">
                <input type="text" size="12" class="form-control input-lg" style="flex: 1;" autofocus formControlName="name">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="createDashboardForm.invalid">Save</button>
              </div>
            </form>
          </div>
        </div>
        <app-loader *ngIf="submitted" [loadingMessage]="'Creating dashboard.....'"></app-loader>
      </div>
    </div>
  </div>
</div>
