<three-bounce-spinner ng-if="loading"></three-bounce-spinner>
<div ng-if="!loading">
     <three-bounce-spinner ng-if="loading"></three-bounce-spinner>
         <div ng-if="!loading" class="row">
          <script>
                 periodYearly();
                  function periodYearly(){
                      $("#targetz,#target").hide();
                      var YearList = "<select material-select watch>";
                      var currentYear = new Date().getFullYear();

                      for(i=0;i<10;i++){
                          var year=currentYear -i;
                          YearList += '<option value="'+year+'">'+year+'</option>';
                      }
                      YearList+= "<select>";
                      $('#monthly').removeClass('green');
                      $('#Quartely').removeClass('green');
                      $('#Year').addClass('green');
                      $('.periods').html(YearList);
                      $('select').material_select();
                   }
                  window.year = new Date().getFullYear();
                  function periodQuarterly(){
                      $("#targetz,#target").show();
                      window.year = new Date().getFullYear();
                      handleNextandprevious("Quarterly");
                      var QuarterlyList = "<select material-select watch>";
                      var myQuarterList=[
                          ["January-March","Q1"],["April-June","Q2"],["July-September","Q3"],["October-December","Q4"]
                      ];
                      $(myQuarterList).each(function(myArrayIndex,myArrayValue){
                          QuarterlyList += '<option value="'+window.year+''+myArrayValue[1]+'">'+myArrayValue[0]+' '+' '+' '+window.year+'</option>';
                      });
                      QuarterlyList+= "<select>";
                      $('#monthly').removeClass('green');
                      $('#Quartely').addClass('green');
                      $('#Year').removeClass('green');
                      $('.periods').html(QuarterlyList);
                      $('select').material_select();
                  }
                  function periodMonthly(){
                      $("#targetz,#target").show();
                      window.year = new Date().getFullYear();
                      handleNextandprevious("Monthly");
                      var mounthList="<select>";
                      var monthArray=[
                          ["January","01"],["February","02"],["March","03"],["April","04"],["May","05"],["June","06"],["July","07"],["Augost","08"],
                          ["September","09"],["October","10"],["November","11"],["December","12"]
                      ];
                      $(monthArray).each(function(arrayIndex,arrayValue){
                          mounthList += '<option value="'+window.year+''+arrayValue[1]+'">'+arrayValue[0]+' '+' '+' '+window.year+'</option>';
                      });
                       mounthList+= "<select>";
                      $('#monthly').addClass('green');
                      $('#Quartely').removeClass('green');
                      $('#Year').removeClass('green');
                      $('.periods').html(mounthList);
                      $('select').material_select();
                  }
                  function handleNextandprevious(periodType){
                      $('#target').unbind("click").click(function(){
                          window.year--;
                          if(periodType == "Monthly"){
                              var mounthList="<select material-select watch>";
                              var monthArray=[
                                  ["January","01"],["February","02"],["March","03"],["April","04"],["May","05"],["June","06"],["July","07"],["Augost","08"],
                                  ["September","09"],["October","10"],["November","11"],["December","12"]
                              ];
                              $(monthArray).each(function(arrayIndex,arrayValue){
                                  mounthList += '<option value="'+window.year+''+arrayValue[1]+'">'+arrayValue[0]+' '+' '+' '+window.year+'</option>';
                              });
                              mounthList+="</select>";
                              $('#monthly').addClass('green');
                              $('#Quartely').removeClass('green');
                              $('#Year').removeClass('green');
                              $('.periods').html(mounthList);
                              $('select').material_select();
                           }else if(periodType == "Quarterly"){
                              var QuarterlyList = "<select material-select watch>";
                              var myQuarterList=[
                                  ["January-March","Q1"],["April-June","Q2"],["July-September","Q3"],["October-December","Q4"]
                              ];
                              $(myQuarterList).each(function(myArrayIndex,myArrayValue){
                                  QuarterlyList += '<option value="'+window.year+''+myArrayValue[1]+'">'+myArrayValue[0]+' '+' '+' '+window.year+'</option>';
                              });
                              QuarterlyList+= "<select>";
                              $('#monthly').removeClass('green');
                              $('#Quartely').addClass('green');
                              $('#Year').removeClass('green');
                              $('.periods').html(QuarterlyList);
                              $('select').material_select();
                           }else{

                          }

                      });
                      $('#targetz').unbind("click").click(function(){
                          window.year++;

                          if(periodType == "Monthly"){
                              var mounthList="<select material-select watch>";
                              var monthArray=[
                                  ["January","01"],["February","02"],["March","03"],["April","04"],["May","05"],["June","06"],["July","07"],["Augost","08"],
                                  ["September","09"],["October","10"],["November","11"],["December","12"]
                              ];
                              $(monthArray).each(function(arrayIndex,arrayValue){
                                  mounthList += '<option value="'+window.year+''+arrayValue[1]+'">'+arrayValue[0]+' '+' '+' '+window.year+'</option>';
                              });
                              mounthList+="<select>";
                              $('#monthly').addClass('green');
                              $('#Quartely').removeClass('green');
                              $('#Year').removeClass('green');
                              $('.periods').html(mounthList);
                              $('select').material_select();
                          }else if(periodType == "Quarterly"){
                              var QuarterlyList =  "<select material-select watch>";

                              var myQuarterList=[
                                  ["January-March","Q1"],["April-June","Q2"],["July-September","Q3"],["October-December","Q4"]
                              ];
                              $(myQuarterList).each(function(myArrayIndex,myArrayValue){
                                  QuarterlyList += '<option value="'+window.year+''+myArrayValue[1]+'">'+myArrayValue[0]+' '+' '+' '+window.year+'</option>';
                              });
                              QuarterlyList+= "<select>";
                              $('#monthly').removeClass('green');
                              $('#Quartely').addClass('green');
                              $('#Year').removeClass('green');
                              $('.periods').html(QuarterlyList);
                              $('select').material_select();
                          }else{

                          }
                      });

                  }
               </script>

           <div ng-repeat="dashboardItem in dashboardItems">
                <div class="{{ dashboardItem.column_size }}">
                    <div class="card z-depth-1 lighten-5 large">
                        <div style="border-bottom:1px solid rgba(160,160,160,0.2)!important;padding:5px !important;">
                            <p><a style="cursor: pointer" ng-click="cardClassResizable(dashboardItem.column_size,dashboardItem)">{{dashboardItem.labelCard}}
                               </a>
                                <span class="right">{{name}}</span>
                            </p>
                           </div>

                           <div class="card-image" style=" overflow-y: scroll;overflow-x: scroll;min-height: 82% !important;">
                                    <highchart ng-if="dashboardItem.type=='CHART'" config="dashboardChart[dashboardItem.id]"></highchart>
                                    <div ng-if="dashboardItem.type=='REPORT_TABLE'" style="width:100%" class="dashboardTable" ng-bind-html="dashboardTab"></div>

                           </div>
                           <div class="card-action" style="border-top:0px solid !important">
                               <span class="card-title activator grey-text text-darken-4"><i class="material-icons right mdi-navigation-more-vert"></i></span>
                           </div>
                           <div class="card-reveal">
                               <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                               <p class="flow-text"></p>

                           </div>

           </div>

                    <!--<div class="col s12 m12 l10">-->
                        <!--<div class="section">-->
                            <!--<div class="{{ dashboardItem.column_size }}" ng-repeat="dashboardItem in dashboardItems">-->
                                <!--<div class="card z-depth-2 teal lighten-5 large">-->
                                    <!--<div class="card-image waves-light" style="overflow: scroll">-->
                                        <!--<div style="width: 100%">-->
                                            <!--<highchart ng-if="dashboardItem.type=='CHART'" config="dashboardChart[dashboardItem.id]"></highchart>-->
                                            <!--<div ng-if="dashboardItem.type=='REPORT_TABLE'" style="width:100%" class="dashboardTable" ng-bind-html="dashboardTab"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="card-content">-->
                                        <!--<span class="card-title activator grey-text text-darken-4">{{name}}<i class="material-icons right mdi-navigation-more-vert"></i></span>-->
                                     <!--</div>-->
                                    <!--<div class="card-reveal">-->
                                        <!--<span class="card-title grey-text text-darken-4">ok<i class="material-icons right">close</i></span>-->
                                        <!--<p class="flow-text">{{name}}</p>-->

                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                         <!--</div>-->
                    <!--</div>-->
















                       <!--<div class="card card z-depth-1 lighten-4 large">-->
                        <!--<div style="border-bottom:1px solid rgba(160,160,160,0.2)!important;padding:5px !important;">-->
                         <!--<p><a style="cursor: pointer" ng-click="cardClassResizable(dashboardItem.column_size,dashboardItem)">{{dashboardItem.labelCard}}-->
                             <!--</a></p>-->
                        <!--</div>-->
                        <!--<div class="card-content" id="dashboardTable" style="width: 100%">-->
                            <!--<highchart config="dashboardChart[dashboardItem.id]"></highchart>-->

                        <!--</div>-->
                        <!--<div class="card-action" style="border-top:0px solid !important;">-->
                            <!--<span class="activator grey-text text-darken-2">card title<i style="cursor: pointer" class="material-icons right">more_vert</i></span>-->
                        <!--</div>-->
                        <!--<div class="card-reveal">-->
                            <!--<span class="card-title grey-text text-darken-1"> card title<i class="material-icons right">close</i></span>-->
                            <!--<p>Here is some more information about this product that is only revealed once clicked on.</p>-->
                          <!--</div>-->
                    <!--</div>-->
                  </div>
             </div>
         </div>
 </div>
<script>
    $(document).ready(function() {
        $('select').material_select();

    });
</script>


