<three-bounce-spinner ng-if="loading"></three-bounce-spinner>
<div ng-if="!loading">
     <three-bounce-spinner ng-if="loading"></three-bounce-spinner>
         <div ng-if="!loading" class="row">
          <script>
                 periodYearly();
                  function periodYearly(){
                      $("#targetz,#target").hide();
                      var YearList = "<select material-select watch>";
                      var currentYear = new Date().getFullYear();

                      for(i=0;i<10;i++){
                          var year=currentYear -i;
                          YearList += '<option value="'+year+'">'+year+'</option>';
                      }
                      YearList+= "<select>";
                      $('#monthly').removeClass('green');
                      $('#Quartely').removeClass('green');
                      $('#Year').addClass('green');
                      $('.periods').html(YearList);
                      $('select').material_select();
                   }
                  window.year = new Date().getFullYear();
                  function periodQuarterly(){
                      $("#targetz,#target").show();
                      window.year = new Date().getFullYear();
                      handleNextandprevious("Quarterly");
                      var QuarterlyList = "<select material-select watch>";
                      var myQuarterList=[
                          ["January-March","Q1"],["April-June","Q2"],["July-September","Q3"],["October-December","Q4"]
                      ];
                      $(myQuarterList).each(function(myArrayIndex,myArrayValue){
                          QuarterlyList += '<option value="'+window.year+''+myArrayValue[1]+'">'+myArrayValue[0]+' '+' '+' '+window.year+'</option>';
                      });
                      QuarterlyList+= "<select>";
                      $('#monthly').removeClass('green');
                      $('#Quartely').addClass('green');
                      $('#Year').removeClass('green');
                      $('.periods').html(QuarterlyList);
                      $('select').material_select();
                  }
                  function periodMonthly(){
                      $("#targetz,#target").show();
                      window.year = new Date().getFullYear();
                      handleNextandprevious("Monthly");
                      var mounthList="<select>";
                      var monthArray=[
                          ["January","01"],["February","02"],["March","03"],["April","04"],["May","05"],["June","06"],["July","07"],["Augost","08"],
                          ["September","09"],["October","10"],["November","11"],["December","12"]
                      ];
                      $(monthArray).each(function(arrayIndex,arrayValue){
                          mounthList += '<option value="'+window.year+''+arrayValue[1]+'">'+arrayValue[0]+' '+' '+' '+window.year+'</option>';
                      });
                       mounthList+= "<select>";
                      $('#monthly').addClass('green');
                      $('#Quartely').removeClass('green');
                      $('#Year').removeClass('green');
                      $('.periods').html(mounthList);
                      $('select').material_select();
                  }
                  function handleNextandprevious(periodType){
                      $('#target').unbind("click").click(function(){
                          window.year--;
                          if(periodType == "Monthly"){
                              var mounthList="<select material-select watch>";
                              var monthArray=[
                                  ["January","01"],["February","02"],["March","03"],["April","04"],["May","05"],["June","06"],["July","07"],["Augost","08"],
                                  ["September","09"],["October","10"],["November","11"],["December","12"]
                              ];
                              $(monthArray).each(function(arrayIndex,arrayValue){
                                  mounthList += '<option value="'+window.year+''+arrayValue[1]+'">'+arrayValue[0]+' '+' '+' '+window.year+'</option>';
                              });
                              mounthList+="</select>";
                              $('#monthly').addClass('green');
                              $('#Quartely').removeClass('green');
                              $('#Year').removeClass('green');
                              $('.periods').html(mounthList);
                              $('select').material_select();
                           }else if(periodType == "Quarterly"){
                              var QuarterlyList = "<select material-select watch>";
                              var myQuarterList=[
                                  ["January-March","Q1"],["April-June","Q2"],["July-September","Q3"],["October-December","Q4"]
                              ];
                              $(myQuarterList).each(function(myArrayIndex,myArrayValue){
                                  QuarterlyList += '<option value="'+window.year+''+myArrayValue[1]+'">'+myArrayValue[0]+' '+' '+' '+window.year+'</option>';
                              });
                              QuarterlyList+= "<select>";
                              $('#monthly').removeClass('green');
                              $('#Quartely').addClass('green');
                              $('#Year').removeClass('green');
                              $('.periods').html(QuarterlyList);
                              $('select').material_select();
                           }else{

                          }

                      });
                      $('#targetz').unbind("click").click(function(){
                          window.year++;

                          if(periodType == "Monthly"){
                              var mounthList="<select material-select watch>";
                              var monthArray=[
                                  ["January","01"],["February","02"],["March","03"],["April","04"],["May","05"],["June","06"],["July","07"],["Augost","08"],
                                  ["September","09"],["October","10"],["November","11"],["December","12"]
                              ];
                              $(monthArray).each(function(arrayIndex,arrayValue){
                                  mounthList += '<option value="'+window.year+''+arrayValue[1]+'">'+arrayValue[0]+' '+' '+' '+window.year+'</option>';
                              });
                              mounthList+="<select>";
                              $('#monthly').addClass('green');
                              $('#Quartely').removeClass('green');
                              $('#Year').removeClass('green');
                              $('.periods').html(mounthList);
                              $('select').material_select();
                          }else if(periodType == "Quarterly"){
                              var QuarterlyList =  "<select material-select watch>";

                              var myQuarterList=[
                                  ["January-March","Q1"],["April-June","Q2"],["July-September","Q3"],["October-December","Q4"]
                              ];
                              $(myQuarterList).each(function(myArrayIndex,myArrayValue){
                                  QuarterlyList += '<option value="'+window.year+''+myArrayValue[1]+'">'+myArrayValue[0]+' '+' '+' '+window.year+'</option>';
                              });
                              QuarterlyList+= "<select>";
                              $('#monthly').removeClass('green');
                              $('#Quartely').addClass('green');
                              $('#Year').removeClass('green');
                              $('.periods').html(QuarterlyList);
                              $('select').material_select();
                          }else{

                          }
                      });

                  }
               </script>

           <div ng-repeat="dashboardItem in dashboardItems">
                <div class="{{ dashboardItem.column_size }}">
                    <div class="card z-depth-1 lighten-5 large">
                        <div style="border-bottom:1px solid rgba(160,160,160,0.2)!important;padding:5px !important;">
                            <p><a style="cursor: pointer" ng-click="cardClassResizable(dashboardItem.column_size,dashboardItem)">{{dashboardItem.labelCard}}
                               </a>
                                <span class="right">{{name}}</span>
                            </p>
                           </div>

                           <div class="card-image" style="overflow-y:scroll;overflow-x:scroll;min-height: 82% !important;">

                                    <div ng-if="dashboardItem.type=='MAP'">
                                        <openlayers ol-center="dashboardItem.map.Africa"  ol-defaults="dashboardItem.map.defaults" custome-layers="false" heigh="400px">
                                            <ol-layer ol-layer-properties="layer" name="dashboardItem.id" ng-repeat="layer in dashboardItem.map.layers"></ol-layer>
                                        </openlayers>
                                    </div>

                                    <highchart ng-if="dashboardItem.type=='CHART'" config="dashboardChart[dashboardItem.id]"></highchart>
                                    <div ng-if="dashboardItem.type=='REPORT_TABLE'" class="dashboardTable">
                                        <table class="table table-bordered" ng-if="number[dashboardItem.id]=='1'">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th ng-repeat="header in headers[dashboardItem.id]">{{header.name}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                               <tr ng-repeat="rows in dashboardTab[dashboardItem.id]">
                                                   <td>{{rows.name}}</td>
                                                   <td ng-repeat="row in rows.dataElement">{{row.value}}</td>
                                               </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered" ng-if="number[dashboardItem.id]=='2'">
                                            <thead>
                                            <tr>
                                              <th rowspan="2"></th>
                                                <th ng-repeat="first in firstColumn[dashboardItem.id]" colspan="{{first.length}}">{{first.name}}</th>
                                             </tr>
                                            <tr>
                                                <th ng-repeat="sec in secondColumn[dashboardItem.id]">{{sec.name}}</th>
                                            </tr>

                                             </thead>
                                            <tbody>
                                            <tr ng-repeat="rows in dashboardTab[dashboardItem.id]">
                                                <td>{{rows.name}}</td>
                                                <td ng-repeat="row in rows.dataElement">{{row.value}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered" ng-if="number[dashboardItem.id]=='3'">
                                            <thead>
                                            <tr>
                                                <th colspan="2"></th>
                                                <th ng-repeat="first in column[dashboardItem.id]" colspan="{{first.length}}">{{first.name}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="rows in firstRow[dashboardItem.id]">
                                                <td rowspan="{{rows.length+1}}" class="center">{{rows.name}}</td>
                                            </tr>
                                            <tr ng-repeat="subRow in dashboardTab[dashboardItem.id]">
                                                <td>{{subRow.name}}</td>
                                                <td ng-repeat="subrow in subRow.dataElement">{{subrow.value}}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    <!--</div>-->

                           </div>
                           <div class="card-action" style="border-top:0px solid !important">
                               <span class="card-title activator grey-text text-darken-4"><i class="material-icons right mdi-navigation-more-vert"></i></span>
                               <p>
                                   <a ng-click="changeChart(icon.name,card)" ng-repeat="icon in icons" title="{{ icon.name }}" class="btn-floating btn-small waves-effect waves-light teal darken-2" style="padding-bottom: 4px; padding-top: 3px;padding-left: 8px;margin-right: 0px;"><img src="img/{{icon.image}}" style="height: 20px;width: 20px"/></i></a>
                                   <a ng-click="downloadExcel(card.data)" target="_blank"  title="Download Excel" class="btn-floating btn-small waves-effect waves-light teal darken-2" style="padding-bottom: 4px; padding-top: 5px;padding-left: 8px;margin-right: 0px;"><img src="img/cvs.jpg" style="height: 20px;width: 20px"/></i></a>
                                   <!--<a class="btn modal-trigger waves-effect waves-block waves-light" href='#demoModal' modal>Show Modal</a>-->
                               </p>
                           </div>
                           <div class="card-reveal">
                               <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                               <p class="flow-text"></p>

                           </div>

               </div>

                  </div>
             </div>
         </div>
 </div>
<script>
    $(document).ready(function() {
        $('select').material_select();

    });
</script>


