<div class="col-md-12">
<table class="table table-bordered" ng-if="tableDimension[dashboardItem.id]=='1'">
    <thead>
    <tr>
        <th></th>
        <th ng-repeat="header in headers[dashboardItem.id]">{{header.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="rows in dashboardTab[dashboardItem.id]">
        <td>{{rows.name}}</td>
        <td ng-repeat="row in rows.dataElement">{{row.value}}</td>
    </tr>
    </tbody>
</table>
<table class="table table-bordered" ng-if="tableDimension[dashboardItem.id]=='2'">
    <thead>
    <tr>
        <th rowspan="2"></th>
        <th ng-repeat="first in firstColumn[dashboardItem.id]" colspan="{{first.length}}">{{first.name}}</th>
    </tr>
    <tr>
        <th ng-repeat="sec in secondColumn[dashboardItem.id]">{{sec.name}}</th>
    </tr>

    </thead>
    <tbody>
    <tr ng-repeat="rows in dashboardTab[dashboardItem.id]">
        <td>{{rows.name}}</td>
        <td ng-repeat="row in rows.dataElement">{{row.value}}</td>
    </tr>
    </tbody>
</table>
<table class="table table-bordered" ng-if="tableDimension[dashboardItem.id]=='3'">
    <thead>
    <tr>
        <th colspan="2"></th>
        <th ng-repeat="first in column[dashboardItem.id]" colspan="{{first.length}}">{{first.name}}</th>
    </tr>
    </thead>
    <tbody ng-repeat="rows in firstRow[dashboardItem.id]">
    <tr>
        <td rowspan="{{rows.length+1}}" class="center">{{rows.length+1}}{{rows.name}}</td>
    </tr>
    <tr ng-repeat="subRow in dashboardTab[dashboardItem.id]">
        <td rowspan="{{subRow.length}}">{{subRow.name}}</td>
        <td ng-repeat="subrow in subRow.dataElement">{{subrow.value}}</td>
    </tr>



    </tbody>
</table>
</div>