<div ng-controller="MenuController">
<nav class="navbar navbar-default" bs-navbar >



  <div class="container-fluid bbnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li  data-match-route="/$"><a href="#/">{{'home'| translate}}</a></li>
        <li ng-repeat="dashboard in dashboards" data-match-route="/dashboards/{{dashboard.id}}"><a href="#/dashboards/{{dashboard.id}}/dashboard">{{ dashboard.name }}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
  <div class="col s2 m2">
    <div class="input-field col s12">
      <input id="search" type="text" class="validate">
      <label for="search">Search Item</label>
    </div>
  </div>
  <div class="col s6 m6">
    <div class="col s6 m6">
      <a class="btn waves-effect waves-light" id="Year" onclick="periodYearly()">Yearly</a>
      <a class="btn waves-effect waves-light" id="Quartely" onclick="periodQuarterly()">Quarterly</a>
      <a class="btn waves-effect waves-light" id="monthly" onclick="periodMonthly()">Mon</a>
    </div>
    <div class="col s5 m5">
      <div class="input-field col s12 m12 periods" id="period">
       <label>Period</label>
     </div>
    </div>
    </div>
  <div class="col s2 m2">
    <div class="col s12 m12">
    <a class="btn waves-effect waves-light" id="target" >Prev</a>
    <a class="btn waves-effect waves-light" id="targetz" >Next</a>
      </div>
  </div>
  <div class="col s2 m2">
    <div class="input-field col s12 Orgdrop grey lighten-5"  id="Orgdrop" >
      <select>
        <option ng-repeat="org in orgUnits" value="{{org.id}}">{{org.name}}</option>
        <option ng-repeat="child in childOrg" value="{{child.id}}">{{child.name}}</option>
      </select>
      <label>OrganisationUnits</label>
    </div>
  </div>
</div>
</div>

