.chart-visualization-block {
  overflow: auto;
}

.message-visualization-block,
.widget-visualization-block {
  overflow: hidden;
}

.dictionary-visualization-block {
  padding: 40px 20px 40px 20px;
}
