.data-filter-group-selector-container {
  margin-top: 15px;
  position: relative;
  .data-filter-group__btn {
    width: 100%;
    text-align: left;
    .data-filter-group__btn-content {
      display: flex;
      justify-content: space-between;
      mat-icon {
        padding-top: 5px;
      }
    }
  }

  .data-filter-group__list {
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0;
    right: 0;
    mat-form-field {
      width: 100%;
    }
  }

  .data-filter-group__viewport {
    height: 250px;
    overflow: auto;
  }

  .selected-data-filter-group {
    background-color: #eeeeee;
  }

  .data-group-item {
    font-size: 13px;
  }
}
