<div class="data-filter-group-selector-container">
    <button mat-raised-button class="data-filter-group__btn" (click)="onToggleDataFilterGroup($event)">
        <div class="data-filter-group__btn-content">
            <span>{{ currentDataGroup?.name || 'Select Data Group' }}</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
    </button>
    <mat-card class="data-filter-group__list" appClickOutside (clickOutside)="showGroupList = false"
        *ngIf="showGroupList">

        <mat-form-field>
            <input matInput placeholder="Search data group" (keyup)="onSearchDataGroup($event)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <cdk-virtual-scroll-viewport itemSize="20" class="data-filter-group__viewport">
            <mat-nav-list>
                <a mat-list-item *cdkVirtualFor="
                let dataFilterGroup of dataFilterGroups
                  | filterByName: searchTerm
              " (click)="onSetDataGroup(dataFilterGroup, $event)" [ngClass]="{
                      'selected-data-filter-group': dataFilterGroup.selected
                    }"> {{ dataFilterGroup.name }} </a>
            </mat-nav-list>
        </cdk-virtual-scroll-viewport>
    </mat-card>
</div>
