.ngx-dhis2-org-unit-tree-item-title {
  display: flex;
  align-items: center;
  padding: 0;
  height: 25px;
}

.ngx-dhis2-org-unit-tree-item-toggle-btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.ngx-dhis2-org-unit-tree-item-name {
  font-size: 13px;
  display: flex;
  align-items: center;
  padding: 3px;
  cursor: pointer;
}

.ngx-dhis2-org-unit-count {
  font-size: 9px;
  padding: 3px 5px;
  border-radius: 2px;
  font-weight: 400;
  margin-bottom: 0.42rem;
}
