<div class="dashboard-create-block">
  <div
    class="dashboard-add-button-block animated fadeIn"
    *ngIf="!showCreateForm"
  >
    <a
      class="dashboard-add-button"
      title="Create new dashboard"
      (click)="toggleCreateForm($event)"
    >
      <img src="assets/icons/plus.png" alt="">
    </a>
  </div>
  <div
    class="dashboard-create-form-block"
    *ngIf="showCreateForm"
  >
    <div
      class="dashboard-create-form"
    >
      <form
        style="display: flex;"
        (ngSubmit)="save($event)">
        <input
          type="text"
          [size]="inputSize"
          class="dashboard-add-input"
          style="flex: 1;"
          name="name"
          [(ngModel)]="dashboardName"
          required
          autofocus
        >
        <button type="submit" class="btn btn-primary btn-sm" style="border-radius: 0px;"
                [disabled]="dashboardNameIsWhiteSpace">Save
        </button>
      </form>
    </div>
    <div
      class="dashboard-cancel-button-block"
    >
      <a
        class="dashboard-cancel-button"
        title="Cancel dashboard creation"
        (click)="toggleCreateForm($event)"
      >
        <img src="assets/icons/close.png" alt="">
      </a>
    </div>
  </div>
</div>

