<h4>Update Visualization Options</h4>
<ul class="nav nav-tabs">
  <li class="{{activeSetting == setting.id ? 'active': ''}}" *ngFor="let setting of visualizationSettings">
    <a (click)="activeSetting = setting.id" title="{{setting.name}}" *ngIf="setting.name">{{setting.name | truncate:15}}</a>
    <a (click)="activeSetting = setting.id" *ngIf="!setting.name">Untitled</a>
  </li>
</ul>
<ul class="list-unstyled">
  <li>
    <div class="checkbox">
      <label><input type="checkbox" value="">Option 1</label>
    </div>
  </li>
</ul>
<table class="table table-condensed">
  <thead>
  <tr>
    <th>Key</th>
    <th>Value</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let favoriteOption of favoriteOptions; let i = index" class="option-input">
    <td><input type="text" [(ngModel)]="favoriteOption.key" autofocus></td>
    <td><input type="text" [(ngModel)]="favoriteOption.value"></td>
    <td><a (click)="removeOption(i)"><i class="fa fa-times"></i></a></td>
  </tr>
  <tr>
    <td colspan="3">
      <a (click)="addOption()" class="btn btn-default btn-xs">Add option</a>
    </td>
  </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-md-6">
    <button (click)="updateFavoriteOptions()" class="btn btn-default btn-sm btn-block">Update Options</button>
  </div>
  <div class="col-md-6"><button (click)="close()" class="btn btn-default btn-sm btn-block">Cancel</button></div>
</div>
