#dashboard-menu-desktop-container {
  background-color: #ffffff;
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  border-radius: 0;
  z-index: 1200;
}
@media (max-width: 999px) {
  #dashboard-menu-desktop-container {
    display: none;
  }

}

@media (min-width: 1010px) {
  #dashboard-menu-mobile-container {
    display: none;
  }
}
