<div class="current-dashboard-container">
  <!-- current dashboard header -->
  <div class="current-dashboard-header-block">
    <app-current-dashboard-header [currentDashboard]="currentDashboard$ | async" [currentUser]="currentUser$ | async" (toggleCurrentDashboardBookmark)="onToggleCurrentDashboardBookmark($event)"
      (addDashboardItem)="onAddDashboardItem($event)" (createFavoriteForCurrentDashboard)="onCreateFavoriteForCurrentDashboard($event)"></app-current-dashboard-header>
  </div>
  <!-- end of current dashboard header -->

  <!-- current dashboard visualizations -->
  <div class="current-dashboard-visualizations">
    <!-- visualization loading place holder for new item -->
    <div *ngIf="(currentDashboard$ | async)?.addingItem" class="visualization-card-block visualization-card-placeholder" [style.grid-column]="'span 4'"
      [style.grid-row]="'span 1'">
      Adding dashboard item
    </div>
    <!-- end of visualization loading placeholder for new item -->

    <!-- new favorite visualization placeholder -->
    <!-- <div class="visualization-card-block" [style.grid-column]="'span 4'" [style.grid-row]="'span 1'" *ngFor="let favoriteId of newFavorites">
      <ngx-dhis2-visualization [id]="favoriteId" [isNewFavorite]="true"></ngx-dhis2-visualization>
    </div> -->
    <!-- end of new favorite visualization placeholder -->

    <div class="visualization-card-block" [style.grid-column]="'span 4'" [style.grid-row]="'span 1'" *ngFor="let visualizationId of currentDashboardVisualizations$ | async; let i = index;">
      <ngx-dhis2-visualization [id]="visualizationId" [index]="i" [visualizationLayers]="defaultVisualizationLayers$ | async" [dashboardId]="(currentDashboard$ | async)?.id"></ngx-dhis2-visualization>
    </div>

  </div>
  <!-- end of current dashboard visualizations -->
</div>