<a class="btn btn-default btn-sm pull-right" style="color: #269ABC;" *ngIf="(notification$ | async) === null">
  <small>
    <img src="assets/img/balls-3.svg" style="height: 30px; width: 30px;" alt="">
    Loading notifications
  </small>
</a>
<div class="btn-group pull-right" *ngIf="(notification$ | async) !== null">
  <a href="../../../dhis-web-dashboard-integration/showSendFeedback.action" class="btn btn-default" style="color: #269ABC;"><i class="fa fa-pencil"></i> Write feedback</a>
  <a href="../../../dhis-web-dashboard-integration/message.action" class="btn btn-default" style="color: #269ABC;" *ngIf="(notification$ | async).unreadMessageConversations > 0"><i class="fa fa-envelope"></i> &nbsp;<small style="font-size: 12px;">{{(notification$ | async).unreadMessageConversations}}</small></a>
  <a [href]="interpretationLink$ | async" class="btn btn-default" style="color: #269ABC;" *ngIf="(notification$ | async).unreadInterpretations > 0"><i class="fa fa-comments-o"></i> &nbsp;<small style="font-size: 12px;">{{(notification$ | async).unreadInterpretations}}</small></a>
</div>
