<div>
  <textarea
    cols="30"
    rows="1"
    Autosize
    autofocus
    required
    minlength="10"
    [(ngModel)]="interpretation.message"
    name="message"
    #message="ngModel"
    placeholder="Write new interpretation"
    class="interpretation-write-input"
  ></textarea>
  <div class="add-interpretation-btns" [hidden]="message.invalid || interpretation.message === ''">
    <button class="btn btn-sm btn-outline-secondary add-interpretation-btn" (click)="cancel($event)">CANCEL</button>
    <button
      [ngClass]="{
    'btn': true,
    'btn-sm': true,
    'btn-outline-secondary': true,
    'add-interpretation-btn': true,
    'disabled': creating
    }"
      (click)="postInterpretation($event)">
      {{creating ? 'POSTING' : 'POST'}}
    </button>
  </div>
</div>
