.interpretation-write-input {
  border-style: none;
  display: inline-block;
  /*border-bottom: solid 1px #eeeeee;*/
  margin-top: 7px;
  min-height: 35px;
  width: 100%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.interpretation-write-input:focus {
  outline: none;
  /*border-color: #0078A8;*/
}

.interpretation-write-input {
  background-color: transparent;
}


.add-interpretation-btn {
  border-style: none;
}
