<textarea
  cols="30" rows="1"
  Autosize
  autofocus
  required
  minlength="10"
  [(ngModel)]="interpretation.message"
  name="message"
  #message="ngModel"
  placeholder="Write new interpretation"
  class="interpretation-write-input"
></textarea>
<div class="pull-right" [hidden]="message.invalid || interpretation.message === ''">
  <button class="btn btn-default add-interpretation-btn" (click)="cancel($event)">CANCEL</button>
  <button
    [ngClass]="{
    'btn': true,
    'btn-default': true,
    'add-interpretation-btn': true,
    'disabled': creating
    }"
    (click)="postInterpretation($event)">
    {{creating ? 'POSTING' : 'POST'}}
  </button>
</div>
