<div
  class="map-legend-container"
  (mouseover)="showButtonIcons()"
  (mouseout)="hideButtonIcons()">
  <div
    class="map-legend-list"
    *ngFor="let legend of visualizationLegends; let i = index;">
    <div
      class="map-legend-item"
      *ngIf="legend.name !== 'Boundaries'"
    >
      <div
        class="map-legend-header"
        (click)="setActiveItem(i, $event)"
      >
        <div
          class="map-legend-title-block"
        >
          <img src="assets/icons/map.png" alt="">
          <span
            class="map-legend-title"
            title="{{legend.name}} {{legend.description}}"
          >{{legend.isBoundary ? 'Boundaries' : shortenTitle(legend.name)}}</span>
        </div>
        <div class="map-legend-title-options">
          <a
            (click)="toggleLayerView(legend,'normal',$event)">
            <img *ngIf="!legend.hidden" src="assets/icons/eye.png" alt="">
            <img *ngIf="legend.hidden" src="assets/icons/eye-cross.png" alt="">
          </a>
        </div>
      </div>
      <div
        class="map-legend-body"
        *ngIf="activeLayer === i"
        [ngStyle]="{'max-height': 'calc(' + mapHeight + ' - ' + (visualizationLegends.length + 4)*50 + 'px)'}"
      >
        <p>{{legend.description}}</p>
        <div *ngIf="legend.isFacility">
          <div
            class="map-legend-table"
            *ngFor="let class of legend.classes">
            <div><img [src]="baseHref +'images/orgunitgroup/'+class.icon"></div>
            <ul class="map-legend-table-list">
              <li>{{class.name}} ({{class.count}})</li>
              <li>({{class.percentage}})</li>
            </ul>
          </div>
        </div>
        <div *ngIf="legend.isThematic">
          <div
            class="map-legend-table"
            *ngFor="let class of legend.classes">
            <div [ngStyle]="{backgroundColor:class.color,width:'60px'}"></div>
            <ul class="map-legend-table-list">
              <li>{{class.label}}</li>
              <li>{{class.min}} - {{class.max}} ({{class.count}})</li>
              <li *ngIf="class.max!=0&&class.min!=class.max">{{class.percentage==''?'':'('+class.percentage+')'}}</li>
            </ul>
          </div>
        </div>
        <div *ngIf="legend.isEvent">
          <div *ngFor="let class of legend.classes">
            <table class="legend-table">
              <tr>
                <td>
              <tr>
                <td
                  [ngStyle]="{backgroundColor:class.color,width:(class.radius*4)+'px',height:(class.radius*4)+'px',borderRadius:(class.radius*4)+'px'}"
                  style="box-shadow: 0 1px 4px rgba(0, 0, 0, 0.65);opacity:0.95;"></td>
                <td>Clusters</td>
              </tr>
              <br/>
              <tr>
                <td><i class="fa fa-map-marker fa-2x" style="color:#276696"></i></td>
                <td>Event Points</td>
              </tr>
              </td>
              </tr>
            </table>
          </div>
        </div>
        <div *ngIf="legend.isBoundary">
          <div *ngFor="let class of boundaryLegend[0].classes">
            <table class="legend-table">
              <tr>
                <td rowspan="2" *ngIf="!boundaryLegend[0].isEvent"
                    [ngStyle]="{width:'50px',height:'20px'}">
                  <div [ngStyle]="{backgroundColor:class.color,width:'50px'}" style="height:2px!important;"> &nbsp;
                  </div>
                </td>
                <td></td>
              </tr>
              <tr>
                <td [ngStyle]="{fontSize:'12px'}"><span *ngIf="class.name">{{class.name}}</span><span>({{class.count}})({{class.percentage}})</span>
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map-legend-list">
    <div class="map-legend-item">
      <div
        class="map-legend-header"
        (click)="setActiveItem(-1, $event)"
      >
        <div
          class="map-legend-title-block"
        >
          <img src="assets/icons/map.png" alt="">
          <span
            class="map-legend-title"
          >Base Maps</span>
        </div>
      </div>
      <div
        class="map-legend-body"
        *ngIf="activeLayer === -1"
        [ngStyle]="{'max-height': 'calc(' + mapHeight + ' - ' + (visualizationLegends.length + 4)*50 + 'px)'}"
      >
        <div class="tile-layers-list">
          <div
            *ngFor="let tileLayer of visualizationTileLayersLegends"
            class="tile-layer-item">
            <a class="map-tile-layer-icon"
               (click)="changeTileLayer(tileLayer)">

              <img [src]="tileLayer.image"
                   [ngClass]="{'rowActive':tileLayer.active}"
                   />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map-legend-footer">
    <div class="map-legend-left-footer">
      <a
        title="Show map data table"
        (click)="showDataTableAction($event)">
        <img src="assets/icons/table.png" alt="">
      </a>
    </div>
    <div class="map-legend-right-footer">
      <a
        title="Upload GeoJson file"
        (click)="showUploadContainer($event)">
        <img src="assets/icons/upload.png" alt="">
      </a>
      <a
        title="Stick Legend"
        (click)="stickLegendContainer($event)">
        <img *ngIf="!sticky" src="assets/icons/pin-empty.png" alt="">
        <img *ngIf="sticky" src="assets/icons/pin-filled.png" alt="">
      </a>
      <a
        title="Close Legend"
        (click)="removeLegendContainer($event)"
      >
        <img src="assets/icons/close.png" alt="">
      </a>
    </div>
  </div>
</div>
<!--<div class="legend-view-container col-lg-12 col-md-12 col-xs-12">-->
  <!--<div [ngClass]="{hide:showUpload}" class="row legend-header-lower-bar" style="border-bottom: 1px solid #cccccc;background-color: transparent!important;">-->
    <!--<div class="col-lg-4 col-md-4 col-xs-4 legend-draggable-icon-2" style="padding-left: 2px!important;">-->
      <!--<table class="legend-button-table" [ngClass]="{displayNone:displayNone}" style="background-color:transparent">-->
        <!--<tr>-->
          <!--<td>-->
            <!--<a title="Show map data table"-->
               <!--class="btn btn-default btn-default-updated btn-sm"-->
               <!--(click)="showDataTableAction()"><i-->
              <!--class="fa fa-table"></i></a>-->
            <!--&lt;!&ndash;<a class="btn btn-default btn-default-updated" &ndash;&gt;-->
            <!--&lt;!&ndash;style="border-color: transparent!important;height:10px!important;cursor: default!important;">&nbsp;</a>&ndash;&gt;-->
          <!--</td>-->
        <!--</tr>-->
      <!--</table>-->
    <!--</div>-->
    <!--<div class="col-lg-8 col-md-8 col-xs-8" *ngIf="!layerSelectionForm"-->
         <!--style="padding-right: 2px!important;">-->
      <!--<table class="legend-button-table" [ngClass]="{displayNone:displayNone}"-->
             <!--style="background-color: transparent;">-->
        <!--<tr>-->
          <!--<td>-->
            <!--<a class="btn btn-default btn-default-updated"-->
               <!--style="border-color: transparent!important;height:10px!important;cursor: default!important;">&nbsp;</a>-->
          <!--</td>-->
          <!--<td>-->
            <!--<a style="cursor: pointer;" title="Upload GeoJson file"-->
               <!--class="btn btn-default btn-default-updated btn-sm"-->
               <!--(click)="showUploadContainer()"><i class="fa fa-upload"></i></a>-->
          <!--</td>-->

          <!--<td>-->
            <!--<a style="cursor: pointer;color:grey;" title="Stick Legend" [ngClass]="{sticky:sticky}"-->
               <!--class="btn btn-default btn-default-updated btn-sm"-->
               <!--(click)="stickLegendContainer()"><i class="fa fa-thumb-tack"></i></a>-->
          <!--</td>-->
          <!--<td>-->
            <!--<a style="cursor: pointer" title="Close Legend" class="btn btn-default btn-default-updated btn-sm"-->
               <!--(click)="removeLegendContainer()"><i class="fa fa-remove"></i></a>-->
          <!--</td>-->
        <!--</tr>-->
      <!--</table>-->
    <!--</div>-->
    <!--<div class="col-lg-12 col-md-12 col-xs-12 " [ngClass]="{hide:!showUpload}">-->
      <!--<table>-->
        <!--<tr>-->
          <!--<td>-->
            <!--<form>-->
              <!--<input type="file" id="fileInput" title="Format (GeoJSON,SLD,GML,Shape file)" (change)="uploadFile($event)"-->
                     <!--style="width:180px;"-->
                     <!--placeholder="(GeoJSON,SLD,GML)">-->
            <!--</form>-->
          <!--</td>-->
          <!--<td>-->
            <!--<a class="btn btn-default btn-default-updated btn-sm" title="Back" (click)="removeUploadContainer()">-->
              <!--<i class="fa fa-arrow-right"></i>-->
            <!--</a>-->
          <!--</td>-->
        <!--</tr>-->
      <!--</table>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->

