<div class="sharing-filter-container">
    <ul class="sharing-list">
        <li *ngFor="let sharingItem of sharingList$ | async | limit:3" class="sharing-item" (click)="changeAccess($event, sharingItem)">
            {{ sharingItem.name }} &nbsp;
            <img *ngIf="sharingItem.isExternal && sharingItem.access" src="assets/icons/tick.png" alt="">
            <img *ngIf="!sharingItem.isExternal && sharingItem.access === 'r-------'" src="assets/icons/eye.png" alt="">
            <img *ngIf="!sharingItem.isExternal && sharingItem.access === 'rw------'" src="assets/icons/edit.png" alt="">
            <img *ngIf="!sharingItem.isExternal && sharingItem.access === '--------'" src="assets/icons/not-allowed.png" alt="">
            <img class="sharing-close-btn" *ngIf="!sharingItem.isExternal && !sharingItem.isPublic" src="assets/icons/close.png" alt="" (click)="removeSharingItem($event, sharingItem)">
        </li>
        <li *ngIf="(sharingList$ | async).length > 3" class="sharing-item">and {{ (sharingList$ | async).length - 3 }} more </li>
    </ul>
    <ul class="sharing-input-list">
        <li class="share-input-block">
            <input type="text" class="share-input" id="sharing_filter_input" [(ngModel)]="searchTerm" placeholder="Search users and user Groups to share the dashboard" autofocus>
            <ul class="share-search-result-list" [@open]>
                <li *ngFor="let searchItem of searchList | filterByName:searchTerm" [ngClass]="{
                  'selected-sharing-item': searchItem.available
                }">
                    <div class="share-search-result-left">
                        <a *ngIf="!searchItem.available" (click)="addSharingItem($event, searchItem)" class="sharing-add-btn" title="click to add">
                            <img src="assets/icons/plus.png" alt="">
                        </a>
                        <a *ngIf="searchItem.available" (click)="changeAccess($event, searchItem)" class="sharing-add-btn" title="click to add">
                            <img *ngIf="searchItem.access === 'r-------'" src="assets/icons/eye.png" alt="">
                            <img *ngIf="searchItem.access === 'rw------'" src="assets/icons/edit.png" alt="">
                            <img *ngIf="searchItem.access === '--------'" src="assets/icons/not-allowed.png" alt="">
                        </a>
                        <div> {{ searchItem.name }}</div>
                    </div>
                    <a *ngIf="searchItem.available" class="share-search-close-btn" title="Remove" (click)="removeSharingItem($event, searchItem)">
                        <img src="assets/icons/close.png" alt="">
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>