.dashboard-menu-bookmark {
  height: 100%;
}

.dashboard-menu-bookmark a {
  height: 100%;
  padding: 5px;
  display: flex;
  cursor: pointer;
}

.dashboard-menu-bookmark img {
  display: block;
  margin: auto;
  height: 17px;
}
