.visualization-card {
  border: solid thin #eeeeee;
  background-color: #ffffff;
  width: 100%;
  position: relative;
}
.visualization-card-full-screen {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1500;
  background-color: #ffffff;
}
.visualization-title-block {
  padding: 5px;
}

.visualization-body-block {
  position: relative;
  padding: 2px;
}

.visualization-body-footer-block {
  position: absolute;
  z-index: 1000;
  width: 100%;
  bottom: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}

.visualization-body-header-block {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1300;
}

.visualization-body-content-block {
  overflow: auto;
}

.visualization-error-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.visualization-chat-block {
  margin-top: 7px;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  padding: 15px;
}

.visualization-notification-block {
  position: absolute;
  background-color: #f9ecbd;
  top: 10px;
  z-index: 1320;
  padding: 5px;
  font-size: 14px;
  border: solid thin #f9ecbd;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 250px;
  border-radius: 3px;
}
