.legend-set-group {
  padding: 10px;
}

.legend-set-group-header_title {
  font-size: 20px;
}

.legend-set-group-header_description {
  font-size: 11px;
}

.legend-set-group_add-new {
  margin-left: 5px;
  display: flex;
}

.legend-set-group_add-button {
  outline: none;
  border: solid thin #eeeeee;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 3px;
  color: #333333;
  cursor: pointer;
  font-size: 12px;
}

.legend-set-group_add-button:hover {
  background-color: #eeeeee;
}

.legend-set-group_list {
  max-height: 400px;
  margin-top: 5px;
  overflow: auto;
  padding: 5px;
}

.legend-set-group_item {
  margin-bottom: 3px;
}

.legend-set-group_item-title {
  padding: 5px;
  border-bottom: solid thin #dddddd;
}

.legend-set-group_item-title input {
  width: 100%;
  outline: none;
  border: none;
  padding: 5px;
  font-size: 13px;
  border-radius: 3px;
  color: #666666;
  background-color: #ffffff;
  border: solid thin #eeeeee;
}

.legend-set-group_item-content {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: solid thin #dddddd;
  border-right: solid thin #dddddd;
  border-bottom: solid thin #dddddd;
}

.legend-set-group_item-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.data-group-color {
  display: flex;
  justify-content: flex-end;
}

.data-group-color-input {
  width: 30px !important;
  height: 19px !important;
}

.legend-set-group_item-header {
  border: solid thin #dddddd;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}

.legend-set-group_item-header img {
  height: 16px;
}

.legend-set-group_item-header-title {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.legend-set-group_item-header-btns {
  display: flex;
  justify-content: space-around;
}

.legend-set-group-delete-btn {
  display: none;
  align-items: center;
  font-size: 12px;
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
  cursor: pointer;
}

.legend-set-group_item-header:hover .legend-set-group-delete-btn {
  display: flex;
}

.legend-set-group_item-header-icon {
  font-size: 12px;
  color: #999 !important;
  font-weight: lighter !important;
  display: flex;
  align-items: center;
}

.legend-set-group_item-header-title > button {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.legend-set-group_item-header-title > button > img,
.legend-set-group_item-member-item img {
  height: 16px;
  width: 10px;
}

.legend-set-group_item-member-list {
  background-color: #fafafa;
  padding: 5px;
}

.legend-set-group_item-member-item {
  padding: 3px 5px 3px 5px;
  font-size: 11px;
  border: solid thin #eeeeee;
  border-radius: 3px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  cursor: pointer;
}

.legend-set-group_item-member-item-title {
  display: flex;
  align-items: justify;
  justify-content: justify;
}

.active-data-filter-group-item {
  background-color: #eeeeee;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.legend-set-group_color-item {
  width: 17px;
  height: 17px;
  border-radius: 2px;
  margin-left: 3px;
  margin-right: 3px;
}

.arrow-up {
  transform: rotate(180deg);
}

.data-group-delete-btn {
  background-color: transparent;
  padding: 2px;
  border: none;
}

.legend-set-group-notification {
  margin-top: 10px;
  border-top: solid thin #eeeeee;
}

.legend-set-save-btns {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.2em;
  padding-right: 5px;
}

.add-new-legend {
  margin: 5px;
  display: -webkit-flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.add-new-legend-button {
  outline: none;
  border: solid thin #eeeeee;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40%;
  padding: 3px;
  border-radius: 3px;
  color: #333333;
  cursor: pointer;
  font-size: 12px;
}

.add-new-legend-button:hover {
  background-color: #eeeeee;
}

.legend-set-action-btn {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 5px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  outline: none;
  color: #777777;
  cursor: pointer;
}

.legend-set-action-btn:hover {
  color: #222222;
}

.legend-set-btns {
  width: 100%;
  border-top: solid thin #fafafa;
  display: flex;
  justify-content: flex-end;
  padding-top: 0.2em;
  padding-right: 5px;
}
