<div style="position: absolute">
  <div class="layout-block">
    <div #elementreference style="padding:6px;margin-bottom: 6px;border-bottom: 1px solid rgba(0,0,0,0.1); cursor: move">
      <label >Table Layout</label>
    </div>
    <div>
      <div class="col-sm-12" style="padding-left: 5px;padding-right: 5px">
        <table class="table table-bordered" style="height: 250px">
          <tr >
            <!--<td rowspan="2" dnd-droppable (onDropSuccess)="onDrop($event,'excluded')">-->
            <!--<div>-->
            <!--<label>Excluded dimension</label>-->
            <!--</div>-->
            <!--<div class="draggable" dnd-draggable [dragEnabled]="true" *ngFor="let dimension of layout.excluded" [dragData]="{data: dimension, dimension: 'excluded'}"><span [ngClass]="icons[dimension]"></span> {{names[dimension]}}</div>-->
            <!--</td>-->
            <td
              dnd-droppable
              (onDropSuccess)="onDrop($event,'filters')"
              class="dimension-drops"
            >
              <div>
                <label>Filters</label>
              </div>
              <div
                class="draggable"
                dnd-draggable
                [dragEnabled]="true"
                *ngFor="let filter of filters"
                [dragData]="{data: filter.value, dimension: 'filters'}"
              >
                <span [ngClass]="icons[filter.value]"></span> {{filter.name}}
              </div>
            </td>
            <td
              dnd-droppable
              (onDropSuccess)="onDrop($event,'columns')"
              class="dimension-drops"
            >
              <div>
                <label>Column</label>
              </div>
              <div
                class="draggable"
                dnd-draggable
                [dragEnabled]="true"
                *ngFor="let column of columns"
                [dragData]="{data: column.value, dimension: 'columns'}"
              >
                <span [ngClass]="icons[column.value]"></span> {{column.name}}
              </div>
            </td>
          </tr>
          <tr>
            <td
              dnd-droppable
              (onDropSuccess)="onDrop($event,'rows')"
              class="dimension-drops"
            >
              <div>
                <label>Rows</label>
              </div>
              <div
                class="draggable"
                dnd-draggable
                [dragEnabled]="true"
                *ngFor="let row of rows"
                [dragData]="{data: row.value, dimension: 'rows'}"
              ><span [ngClass]="icons[row.value]"></span> {{row.name}}
              </div>
            </td>
            <td class="dimension-drops"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="pull-right">
        <button class="btn btn-default btn-sm" (click)="updateLayout()"><i class="fa fa-refresh"></i>Update</button>
        <button class="btn btn-default btn-sm" (click)="close()"><i class="fa fa-times"></i>Close</button>
      </div>
    </div>
  </div>
</div>
