.general-config-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 24px;
    gap: 48px;
}

.general-config-area-2 {
    width: 50%;
}

.general-config-area-1 {
    width: 50%;
}

@media screen and (min-width: 1200px) {
    .general-config-container {
        padding: 16px 64px;
    }
}


@media screen and (max-width: 1000px) {
    .general-config-container {
        flex-direction: column;
        gap: 24px;
    }

    .general-config-area-2 {
        width: 100%;
    }

    .general-config-area-1 {
        width: 100%;
    }
}
