<div class="legend-configuration-container">
  <div>
    <app-legend-color-picker (colorSelect)="onColorSelect($event)" [color]="color"></app-legend-color-picker>
  </div>
  <div class="legend-input-container">
    <input (keyup)="onLegendValueChange()" (blur)="onLegendUpdate()" type="text" class="legend-input legend-name-input" [(ngModel)]="name">&nbsp;
    <input (keyup)="onLegendValueChange()" (blur)="onLegendUpdate()" type="number" class="legend-input legend-start-end-value-input" [(ngModel)]="startValue">
    <span style="padding: 0.375rem 0.75rem;">-</span>
    <input (keyup)="onLegendValueChange()" (blur)="onLegendUpdate()" type="number" class="legend-input legend-start-end-value-input" [(ngModel)]="endValue">
    <span class="legend-delete-btn"><img id="legend-delete-svg" (click)="deleteLegendItem()" src="../../../../../../../../assets/img/delete.svg" alt=""></span>
  </div>
</div>

