.legend-configuration-container {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.legend-configuration-container>div {
  margin: 3px;
}

.legend-input-container {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.legend-input {
  display: block;
  color: #495057;
  text-align: center;
  padding: 0.375rem 0.75rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.legend-name-input {
  width: 37%;
}

.legend-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.legend-start-end-value-input {
  width: 27%;
}

img {
  height: 20px;
}

.legend-button {
  outline: none;
  border: solid thin #eeeeee;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 3px;
  margin: 2px;
  cursor: pointer;
  font-size: 12px;
}

.legend-button:hover {
  background-color: #eeeeee;
}
