.determinant{
    background-color: transparent;
    width: 42%;
}
p{
    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 24px;
    margin-bottom:0.7%
}
.determinant-main{
    width: 90%;
    background-color: white;
    border: black  0.5px solid;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.determinant-main-header{
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding-left: 3%;
 padding-right: 5%;
}
.determinant-main-header>Button{
    margin-top: 4%;
}
.determinant-main-header:nth-child(1){
    border-bottom: 1px solid black;
}