<div class="table-item-container">
    <table class="table table-bordered">
        <thead>
            <tr *ngFor="let tableHeaderRow of tableData.headers">
                <th *ngFor="let tableHeaderCell of tableHeaderRow" [attr.rowspan]="tableHeaderCell.rowSpan" [attr.colspan]="tableHeaderCell.colSpan">
                    {{tableHeaderCell.name}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tableRow of tableData.rows">
                <td class="table-item-cell-block" *ngFor="let tableCell of tableRow" [attr.rowspan]="tableCell.rowSpan">
                    <span class="table-item-cell-label" *ngIf="!tableCell.isDataCell">{{tableCell.name}}</span>
                    <div *ngIf="tableCell.isDataCell">
                        <app-table-item-cell [dataRowIds]="tableCell.dataRowIds" [dataDimensions]="tableCell.dataDimensions" [analyticsObject]="analyticsObject"
                            [legendSets]="legendSets"></app-table-item-cell>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>