<div class="form-group">
  <div class="input-group">
    <div class="input-group-addon">
      <b><small>Periods</small></b>
    </div>
    <div class="input-group-addon" style="background-color: transparent; border-right-style: none;">
      <small>Period Types</small>&nbsp;
      <a><i class="fa fa-caret-down" aria-hidden="true"></i></a>
    </div>
    <!--<select name="" id="" class="form-control">-->
      <!--<option value="">&#45;&#45;Select period type&#45;&#45;</option>-->
      <!--<option value="">Monthly</option>-->
      <!--<option value="">Monthly</option>-->
    <!--</select>-->
    <div class="input-group-btn">
      <button class="btn btn-default"><small>Prev Year</small></button>
      <button class="btn btn-default"><small>Next Year</small></button>
      <button class="btn btn-default"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
    </div>
  </div>
</div>