.ngx-dhis2-org-unit-filter__container {
	width: 100%;
}

.organisation-unit-search-container {
	width: 100%;
	height: 400px;
	overflow: auto;
	resize: vertical;
}
.organisation-unit-search-item {
	font-size: 13px;
	padding: 3px;
	cursor: pointer;
}

.ngx-dhis2-org-unit-filter__selected-org-units {
	height: 30px;
	border-bottom: solid thin #fafafa;
}

.ngx-dhis2-org-unit-filter__selection-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: relative;
}

.ngx-dhis2-org-unit-filter__org-unit-selection,
.ngx-dhis2-org-unit-filter__org-unit-options {
	flex: 1;
	height: 400px !important;
}

.ngx-dhis2-org-unit-filter__org-unit-selection,
.ngx-dhis2-org-unit-filter__org-unit-level-group {
	position: relative;
}

.ngx-dhis2-org-unit-filter__org-unit-buttons {
	display: flex;
	justify-content: flex-end;
	font-size: 12px;
}

.ngx-dhis2-org-unit-filter__org-unit-buttons button {
	outline: none;
}

::ng-deep .mat-checkbox-inner-container {
	height: 12px !important;
	width: 12px !important;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.15);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.2);
}
