<div class="legend-set-container">
  <app-legend-set-container
    [visualizationLayerId]="visualizationLayerId"
    [selectedItems]="selectedItems"
    [legendSets]="allLegendSets$ | async"
    [currentLegendSet]="currentLegendSet$ | async"
    [legendSetEntities]="legendSetEntities$ | async"
    (legendSetConfigurationClose)="onLegendSetConfigurationClose()"
    (legendSetConfigurationUpdate)="onLegendSetConfigurationUpdate($event)"
    (legendSetConfigOnDataStoreSave)="onlegendSetConfigOnDataStoreSave($event)"
    (legendSetConfigOnDelete)="legendSetConfigOnDelete($event)"
  ></app-legend-set-container>
</div>
