.table {
    border: 1px solid #D5DDE5 !important;
}

.table-header-cell {
    border-right: 2px solid #D5DDE5;
    border-bottom: 2px solid #D5DDE5 !important;
    background: #FFFFFF !important;

}

.table-header-cell > span > span {
    font-weight: 500;
}

.table-cell {
    border-right: 2px solid #D5DDE5;
    border-bottom: 2px solid #D5DDE5 !important;
    left: auto;
    text-align: center;
    padding: 14px 12px;
}

.table-cell:last-child {
    border-right: none;
}

.table-cell:last-child:hover {
    background: green;
}

.table-row:last-child > td{
    border-bottom: none !important;
}


