.visualization-card-loader-container {
  height: 100%;
}

.loader-block {
  position: absolute;
  top: 5%;
  bottom: 5%;
  height: 90%;
  width: 100%;
}
.chart-loader,
.table-loader,
.map-loader {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.chart-loader div {
  margin-left: 5%;
  margin-right: 5%;
  width: 10%;
}

.table-loader {
  flex-wrap: wrap;
}

.table-loader div {
  margin: 1%;
  width: 10%;
  height: 10%;
}

.loading-text {
  position: absolute;
  bottom: 0;
  height: 12%;
  padding-left: 5%;
  padding-bottom: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.loading-text span {
  padding-top: 5px;
}

.loading-text img {
  display: block;
  height: 40px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 100%;
  position: relative;
}
