.visualization-types-section {
  display: flex;
  align-items: center;
}
.visualization-type-btn {
  border-style: none;
  margin-right: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.85);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-items: center;
  text-decoration: none;
  display: flex;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
}
.visualization-type-btn:hover {
  background-color: rgba(241, 241, 241, 0.6);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.visualization-type-btn img {
  height: 18px;
  display: block;
  margin: auto;
}
.active-visualization {
  background-color: #eeeeee;
  cursor: not-allowed;
}
