<div class="visualization-types-section">
  <button class="visualization-type-btn" [ngClass]="{'active-visualization': currentVisualization === 'TABLE'}" [disabled]="currentVisualization === 'TABLE'"
    [title]="'View Table' | translate" (click)="onVisualizationSelect($event, 'TABLE')">
    <img [src]="tableIcon" alt="">
  </button>

  <button class="visualization-type-btn" [ngClass]="{'active-visualization': currentVisualization === 'CHART'}" [disabled]="currentVisualization === 'CHART'"
    [title]="'View Chart' | translate" (click)="onVisualizationSelect($event, 'CHART')">
    <img [src]="chartIcon" alt="">
  </button>

  <button class="visualization-type-btn" [ngClass]="{'active-visualization': currentVisualization === 'MAP'}" [disabled]="currentVisualization === 'MAP'"
    [title]="'View Map' | translate" (click)="onVisualizationSelect($event, 'MAP')">
    <img [src]="mapIcon" alt="">
  </button>
  <button class="visualization-type-btn" [ngClass]="{'active-visualization': currentVisualization === 'INFO'}" [disabled]="currentVisualization === 'INFO'"
    [title]="'View Information' | translate" (click)="onVisualizationSelect($event, 'INFO')">
    <img [src]="infoIcon" alt="">
  </button>
  <!--<button class="visualization-type-btn" (click)="toggleInterpretaion($event)">-->
  <!--<img src="assets/icons/filled-chat.png" alt="">-->
  <!--</button>-->
</div>