<div class="data-selection-container">
    <!-- data item type selector section -->
    <app-data-filter-type-selector [dataFilterTypes]="dataFilterTypes"
        (toggleDataFilterType)="onToggleDataFilterType($event)"></app-data-filter-type-selector>
    <!-- end of data item type selector section -->

    <!-- data filter group selection section -->
    <app-data-filter-group-selector [dataFilterGroups]="dataFilterGroups" [currentDataGroup]="currentDataFilterGroup"
        (setDataGroup)="onSetDataGroup($event)">
    </app-data-filter-group-selector>
    <!-- end of data filter group selection section -->

    <!-- data filter item selection section -->
    <app-data-filter-item-selector></app-data-filter-item-selector>
    <!-- end of data filter item selection section -->
</div>
