<div class="visualization-footer-section-container" [@open]>
  <div *ngIf="!hideTypeButtons">
    <app-visualization-types-section [currentVisualization]="type" (visualizationTypeChange)="onVisualizationTypeChange($event)"></app-visualization-types-section>
  </div>
  <div class="visualization-footer-right" *ngIf="!hideManagementBlock">
    <app-visualization-management-section [name]="name" (save)="onVisualizationSave($event)" (remove)="onVisualizationRemove($event)"></app-visualization-management-section>
  </div>
</div>