<div class="visualization-footer-section-container" [@open]>
  <div class="visualization-footer-left">
    <div *ngIf="!hideTypeButtons">
      <app-visualization-types-section
        [currentVisualization]="type"
        [visualizationTypesConfig]="visualizationTypesConfig"
        (visualizationTypeChange)="onVisualizationTypeChange($event)"
      ></app-visualization-types-section>
    </div>
    <div *ngIf="!hideDownloadBlock">
      <app-visualization-downloads-section
        [visualizationType]="type"
        (downloadVisualization)="onDownload($event)"
      ></app-visualization-downloads-section>
    </div>
  </div>

  <div class="visualization-footer-right">
    <app-visualization-management-section
      [name]="name"
      (save)="onVisualizationSave($event)"
      (remove)="onVisualizationRemove($event)"
      [hideManagementBlock]="hideManagementBlock"
    ></app-visualization-management-section>
  </div>
</div>
