<div
  class="selection-filter-container"
  appClickOutside
  (clickOutside)="onClickOutside()"
>
  <!--selection filter header-->
  <div class="selection-filter-header">
    <button
      class="selection-filter-btn filter-control-btn"
      (click)="toggleFilters($event)"
      [title]="'Filter by different dimensions' | translate"
    >
      FILTER
    </button>
    <div class="selection-filter-btn-list" *ngIf="showFilters">
      <!--data filter button-->
      <button
        [disabled]="saving"
        *ngIf="filterConfig?.showDataFilter && currentUserHasAuthorities"
        [ngClass]="{
          'selection-filter-btn': true,
          'active-filter': selectedFilter === 'DATA'
        }"
        [title]="'Filter by data' | translate"
        (click)="toggleCurrentFilter($event, 'DATA')"
      >
        <img [src]="dataIcon" alt="" />&nbsp;{{ 'Data' | translate }}&nbsp;
        <img
          [ngClass]="{ 'arrow-up': selectedFilter === 'DATA' }"
          [src]="arrowDownIcon"
          alt=""
        />
      </button>
      <!--end of data filter button-->

      <!--Legend configuration button-->
      <button
        *ngIf="filterConfig?.showDataFilter && currentUserHasAuthorities"
        [ngClass]="{
          'selection-filter-btn': true,
          'active-filter': _selectedFilter === 'LEGEND_CONFIGURATION'
        }"
        [title]="'Configure legend' | translate"
        (click)="toggleCurrentFilter($event, 'LEGEND_CONFIGURATION')"
      >
        <img [src]="dataIcon" alt="" />&nbsp;{{ 'Legend' | translate }}&nbsp;
        <img
          [ngClass]="{ 'arrow-up': _selectedFilter === 'LEGEND_CONFIGURATION' }"
          [src]="arrowDownIcon"
          alt=""
        />
      </button>
      <!--end of Legend configuration button-->

      <!--period filter button-->
      <button
        [disabled]="saving"
        *ngIf="filterConfig?.showPeriodFilter"
        [ngClass]="{
          'selection-filter-btn': true,
          'active-filter': selectedFilter === 'PERIOD'
        }"
        [title]="'Filter by period' | translate"
        (click)="toggleCurrentFilter($event, 'PERIOD')"
      >
        <img [src]="periodIcon" alt="" />&nbsp;{{ 'Period' | translate }}&nbsp;
        <img
          [ngClass]="{ 'arrow-up': selectedFilter === 'PERIOD' }"
          [src]="arrowDownIcon"
          alt=""
        />
      </button>
      <!--end of period filter button-->

      <!--org unit filter button-->
      <button
        [disabled]="saving"
        *ngIf="filterConfig?.showOrgUnitFilter"
        [ngClass]="{
          'selection-filter-btn': true,
          'active-filter': selectedFilter === 'ORG_UNIT'
        }"
        [title]="'Filter by organisation unit' | translate"
        (click)="toggleCurrentFilter($event, 'ORG_UNIT')"
      >
        <img [src]="orgUnitIcon" alt="" />&nbsp;{{
          'Org-Unit' | translate
        }}&nbsp;
        <img
          [ngClass]="{ 'arrow-up': selectedFilter === 'ORG_UNIT' }"
          [src]="arrowDownIcon"
          alt=""
        />
      </button>

      <button
        *ngIf="filterConfig?.showLayout"
        [ngClass]="{
          'selection-filter-btn': true,
          'active-filter': selectedFilter === 'LAYOUT'
        }"
        [title]="'Layout' | translate"
        (click)="toggleCurrentFilter($event, 'LAYOUT')"
      >
        <img [src]="orgUnitcon" alt="" />&nbsp;{{ 'Layout' | translate }}&nbsp;
        <img
          [ngClass]="{ 'arrow-up': selectedFilter === 'LAYOUT' }"
          [src]="arrowDownIcon"
          alt=""
        />
      </button>
      <!--end of org unit filter button-->

      <button
        *ngIf="currentUserHasAuthorities"
        [disabled]="saving"
        class="selection-filter-btn"
        (click)="onSave($event)"
      >
        <img src="assets/icons/save.png" alt="" />&nbsp;{{
          saving ? 'Saving...' : 'Save'
        }}
      </button>
    </div>
  </div>
  <!--end of selection filter header-->

  <!--selection filter body-->
  <div
    class="selection-filter-body"
    *ngIf="selectedFilter !== '' && showFilterBody"
  >
    <!--data filter-->
    <app-data-filter
      *ngIf="selectedFilter === 'DATA'"
      [selectedItems]="selectedData"
      [selectedGroups]="selectedDataGroups"
      (dataFilterClose)="onFilterClose($event, 'DATA')"
      (dataFilterUpdate)="onFilterUpdate($event, 'DATA')"
    ></app-data-filter>
    <!--end of data filter-->

    <!-- legend configguration -->
    <app-legend-set-configuration
      *ngIf="_selectedFilter === 'LEGEND_CONFIGURATION'"
      [selectedItems]="selectedData"
      [selectedGroups]="selectedDataGroups"
      (legendSetConfigurationClose)="
        onFilterClose($event, 'LEGEND_CONFIGURATION')
      "
      (legendSetConfigurationUpdate)="
        onFilterUpdate($event, 'LEGEND_CONFIGURATION')
      "
    ></app-legend-set-configuration>
    <!-- end of legend configguration -->

    <!--period filter-->
    <app-period-filter
      *ngIf="selectedFilter === 'PERIOD'"
      [selectedPeriods]="selectedPeriods"
      (periodFilterClose)="onFilterClose($event, 'PERIOD')"
      (periodFilterUpdate)="onFilterUpdate($event, 'PERIOD')"
    ></app-period-filter>
    <!--end of period filter-->

    <!--org unit filter-->
    <ngx-dhis2-org-unit-filter
      *ngIf="selectedFilter === 'ORG_UNIT'"
      [selectedOrgUnitItems]="selectedOrgUnits"
      (orgUnitClose)="onFilterClose($event, 'ORG_UNIT')"
      (orgUnitUpdate)="onFilterUpdate($event, 'ORG_UNIT')"
    ></ngx-dhis2-org-unit-filter>
    <!--end of org unit filter-->

    <app-layout
      [layoutModel]="layoutItem"
      *ngIf="selectedFilter === 'LAYOUT'"
      (onLayoutUpdate)="onFilterUpdate($event, 'LAYOUT')"
      (onLayoutClose)="onFilterClose($event, 'LAYOUT')"
    ></app-layout>
  </div>
  <!--end of selection filter body-->
</div>
