<div class="visualization-header-section-container">
  <div class="visualization-filters" *ngIf="showFilters">
    <ngx-dhis2-selection-filters [dataSelections]="visualizationLayer?.dataSelections" [layout]="visualizationLayer?.layout"
      (filterUpdate)="onFilterUpdateAction($event)">
    </ngx-dhis2-selection-filters>
    &nbsp;
  </div>
  <div *ngIf="!showFilters"></div>
  <div class="visualization-resize" *ngIf="!hideResizeButtons">
    <app-visualization-resize-section [id]="id" [fullScreen]="fullScreen" (toggleFullScreen)="onFullScreenAction($event)"></app-visualization-resize-section>
  </div>
</div>