<div class="dashboard-menu">
  <ul class="dashboard-menu-list">
    <!-- Hide add dashboard actions -->
    <li *ngIf="currentUserHasAuthorities">
      <app-default-dashboard-list (create)="onCreateDashboard($event)"></app-default-dashboard-list>
    </li>
    <li>
      <input type="text" size="25" class="dashboard-search-input" (keyup)="onSearchDashboard($event)"
        placeholder="Search for intervention" />
    </li>
    <li *ngFor="
        let dashboardMenuItem of dashboardMenuList
          | filterByName: searchTerm
          | sortByBookmark
      ">
      <app-dashboard-menu-item [dashboardMenuItem]="dashboardMenuItem" [currentDashboardId]="currentDashboardId"
        [dataSelections]="dataSelections" [rootCauseDataIds]="rootCauseDataIds"
        (setDashboard)="onSetCurrentDashboard($event)" (toggleDashboardMenuItemBookmark)="
          onToggleDashboardMenuItemBookmark($event)
        "></app-dashboard-menu-item>
    </li>
    <li *ngIf="
        searchTerm &&
        (dashboardMenuList | filterByName: searchTerm).length === 0
      ">
      <small>No search result found</small>
    </li>
  </ul>


</div>
