.dashboard-menu {
  padding: 8px 10px;
}

.dashboard-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    margin: 3px;
  }
}

.dashboard-search-input {
  display: flex;
  height: 34px;
  outline: none;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  border-bottom: solid thin #dddddd;
}
