<div class="dashboard-menu">
    <ul class="dashboard-menu-list">
        <!-- Hide add dashboard actions -->
        <li>
            <app-default-dashboard-list (create)="onCreateDashboard($event)"></app-default-dashboard-list>
        </li>
        <li *ngFor="let dashboardMenuItem of dashboardMenuList | sortByBookmark">
            <app-dashboard-menu-item [dashboardMenuItem]="dashboardMenuItem" [currentDashboardId]="currentDashboardId" (setDashboard)="onSetCurrentDashboard($event)"
                (toggleDashboardMenuItemBookmark)="onToggleDashboardMenuItemBookmark($event)"></app-dashboard-menu-item>
        </li>
    </ul>

</div> <!-- / tab -->