<div  style="display: -ms-flex; display: -webkit-flex; display: flex; align-items: center; justify-content: center;">
  <div class="progress" style="height: 90px; align-self: flex-end; width: 20%; margin-right: 15px; margin-left: 15px;">
    <div class="progress-bar progress-bar-striped active" role="progressbar"
         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%; background-color: #ececec;">
    </div>
  </div>

  <div class="progress" style="height: 250px; align-self: flex-end; width: 20%; margin-right: 15px; margin-left: 15px;">
    <div class="progress-bar progress-bar-striped active" role="progressbar"
         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%; background-color: #ececec;">
    </div>
  </div>

  <div class="progress" style="height: 350px; align-self: flex-end; width: 20%; margin-right: 15px; margin-left: 15px;">
    <div class="progress-bar progress-bar-striped active" role="progressbar"
         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%; background-color: #ececec;">
    </div>
  </div>

  <div class="progress" style="height: 150px; align-self: flex-end; width: 20%; margin-right: 15px; margin-left: 15px;">
    <div class="progress-bar progress-bar-striped active" role="progressbar"
         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%; background-color: #ececec;">
    </div>
  </div>
</div>
<div style="margin-left: 7%;">
  <span><img src="assets/img/balls-3.svg" alt="" style="height: 40px;"></span>
  <span style="font-size: 17px;">Fetching data for {{chartName}}</span>
</div>
