<div class="container-fluid">
  <div class="row" *ngIf="(progressMessages$ | async).totalItems !== (progressMessages$ | async).loadedItems">
    <div class="col-md-10 col-sm-10 col-xs-9">
      <small>{{(progressMessages$ | async).progressMessage}}</small>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-3"><small class="pull-right">{{(progressMessages$ | async).loadedItems}}/{{(progressMessages$ | async).totalItems}} ({{(progressMessages$ | async).progress}}%)</small></div>
  </div>
  <div class="row" *ngIf="(progressMessages$ | async).totalItems !== (progressMessages$ | async).loadedItems">
    <div class="col-md-12">
      <div class="progress" style="height: 7px;">
        <div class="progress-bar progress-bar-success progress-bar-striped {{(progressMessages$ | async).loadedItems < (progressMessages$ | async).totalItems ? 'active' : ''}}" role="progressbar"
             [attr.aria-valuenow]="(progressMessages$ | async).progress" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width' : (progressMessages$ | async).progress + '%'}">
        </div>
      </div>
    </div>
  </div>
</div>
