<div class="legendFilter__container" (mouseover)="showButtonIcons()" (mouseout)="hideButtonIcons()">
  <div class="map-legend__container">
    <div class="layers-list">
      <div class="map-legend-list" *ngIf="visualizationLegends.length">
        <div
          class="map-legend-item"
          [ngClass]="{ 'active-legend': activeLayer === legend.layer }"
          *ngFor="
            let legend of (visualizationLegends | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage });
            let i = index
          "
        >
          <div class="map-legend-header" (click)="setActiveItem(legend.layer, $event)">
            <div class="map-legend-title-block">
              <!-- <svg viewBox="0 0 24 24" style="width: 24px; height: 24px;cursor: ns-resize;">
                <path fill="#757575" d="M9,3H11V5H9V3M13,3H15V5H13V3M9,7H11V9H9V7M13,7H15V9H13V7M9,11H11V13H9V11M13,11H15V13H13V11M9,15H11V17H9V15M13,15H15V17H13V15M9,19H11V21H9V19M13,19H15V21H13V19Z"></path>
              </svg> -->
              <img src="assets/icons/map.png" alt="" />
              <span class="map-legend-title">{{ legend.title || legend.legend.title }}</span>
            </div>
            <div class="map-legend-title-options no-print" (click)="toggleLayerView(legend.layer, $event)">
              <a>
                <img *ngIf="!legend.hidden" src="assets/icons/eye.png" alt="" />
                <img *ngIf="legend.hidden" src="assets/icons/eye-cross.png" alt="" />
              </a>
            </div>
            <div
              class="filter__button no-print"
              *ngIf="activeLayer === legend.layer && !(isFilterSectionOpen$ | async)"
            >
              <button class="visualization-btn" title="Filter by different dimensions" (click)="openFilters($event)">
                <img alt="" src="assets/icons/filter.png" />
                <img src="assets/icons/arrow-right.png" alt="" />
              </button>
            </div>
          </div>
          <div
            class="map-legend-body"
            *ngIf="activeLayer === legend.layer"
            [ngStyle]="{ 'max-height': 'calc(' + mapHeight + ' - ' + (visualizationLegends.length + 4) * 50 + 'px)' }"
          >
            <span class="period-legend">{{ legend.legend.period }}</span>
            <div class="tile-layers-list" *ngIf="legend.legend.type === 'thematic'">
              <div *ngFor="let item of legend.legend.items" class="map-legend-table">
                <div [ngStyle]="{ backgroundColor: item.color, width: '60px' }"></div>
                <ul class="map-legend-table-list">
                  <li class="font-weight-bold">{{ item.name }}</li>
                  <li>{{ item.startValue }} - {{ item.endValue }} ({{ item.count || 0 }})</li>
                </ul>
              </div>
            </div>
            <div class="tile-layers-list" *ngIf="legend.legend.type === 'boundary'">
              <div *ngFor="let item of legend.legend.items" class="map-legend-table align-center">
                <div [ngStyle]="{ backgroundColor: item.color, width: '60px', height: item.weight + 'px' }"></div>
                <ul class="map-legend-table-list">
                  <li class="font-weight-bold">{{ item.name }}</li>
                </ul>
              </div>
            </div>
            <div class="tile-layers-list" *ngIf="legend.legend.type === 'earthEngine'">
              <div *ngFor="let item of legend.legend.items" class="map-legend-table">
                <div [ngStyle]="{ backgroundColor: item.color, width: '60px' }"></div>
                <ul class="map-legend-table-list">
                  <li class="font-weight-bold">{{ item.name }}</li>
                </ul>
              </div>
            </div>
            <div class="tile-layers-list" *ngIf="legend.legend.type === 'facility'">
              <div *ngFor="let item of legend.legend.items" class="map-legend-table">
                <div>
                  <img [src]="item.image" />
                </div>
                <ul class="map-legend-table-list">
                  <li class="font-weight-bold">{{ item.name }}</li>
                </ul>
              </div>
            </div>
            <div class="tile-layers-list" *ngIf="legend.legend.type === 'event'">
              <div *ngFor="let item of legend.legend.items" class="map-legend-table">
                <ul class="map-legend-table-list list-inline">
                  <li class="list-inline-item event-item"></li>
                  <li class="font-weight-bold list-inline-item">{{ item.name }}</li>
                </ul>
              </div>
            </div>
            <div class="tile-layers-list" *ngIf="legend.legend.type === 'external'">
              <div *ngFor="let item of legend.legend.items" class="map-legend-table">
                <ul class="map-legend-table-list list-inline">
                  <li class="list-inline-item">
                    <img [src]="item.image" style="width: 30px; height: 30px;" />
                  </li>
                  <li class="font-weight-bold list-inline-item">{{ item.name }}</li>
                </ul>
              </div>
            </div>
            <div class="map-legend-footer">
              <div class="map-legend-left-footer">
                <small>Opacity</small>
              </div>
              <div class="range">
                <input
                  type="range"
                  min="0"
                  max="1"
                  step="0.1"
                  [value]="legend.opacity"
                  (input)="opacityChanged($event, legend)"
                />
              </div>
              <div class="map-legend-right-footer">
                <small>{{ legend.opacity * 100 }}%</small>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls
          (pageChange)="handlePageChange($event)"
          *ngIf="visualizationLegends.length > 3"
        ></pagination-controls>
      </div>
      <div class="map-legend-list">
        <div class="map-legend-item no-print">
          <div class="map-legend-header-base_layer" (click)="setActiveItem('baseMap', $event)">
            <div class="map-legend-title-block">
              <img src="assets/icons/map.png" alt="" />
              <span class="map-legend-title">Base Maps</span>
            </div>
            <div class="map-legend-title-options no-print">
              <a (click)="toggleBaseLayer($event)">
                <img *ngIf="!baseLayerLegend.hidden" src="assets/icons/eye.png" alt="" />
                <img *ngIf="baseLayerLegend.hidden" src="assets/icons/eye-cross.png" alt="" />
              </a>
            </div>
          </div>
          <div
            class="map-legend-body"
            *ngIf="activeLayer === 'baseMap'"
            [ngStyle]="{ 'max-height': 'calc(' + mapHeight + ' - ' + (visualizationLegends.length + 4) * 50 + 'px)' }"
          >
            <ul class="tile-layers-list">
              <li
                *ngFor="let tileLayer of LegendsTileLayer"
                (click)="changeTileLayer(tileLayer)"
                class="tile-layer-item map-tile-layer-icon"
                [ngClass]="{ rowActive: tileLayer.name === baseLayerLegend.name }"
              >
                <img [src]="tileLayer.image" />
                <span class="tile_name">{{ tileLayer.name }}</span>
              </li>
            </ul>
            <div class="map-legend-footer">
              <div class="map-legend-left-footer">
                <small>Opacity</small>
              </div>
              <div class="range">
                <input
                  type="range"
                  min="0"
                  max="1"
                  step="0.1"
                  [value]="baseLayerLegend.opacity"
                  (input)="changeBaseLayerOpacity($event)"
                />
              </div>
              <div class="map-legend-right-footer">
                <small>{{ baseLayerLegend.opacity * 100 }}%</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="map-legend-footer no-print">
      <div class="map-legend-left-footer"></div>
      <div class="map-legend-right-footer">
        <a *ngIf="showDownload">
          <img
            src="assets/icons/csv.png"
            (click)="mapDownload($event, 'csv', visualizationLegends)"
            alt="download"
            title="Download layers into csv"
          />
        </a>
        <a *ngIf="showDownload">
          <img
            src="assets/icons/kml.png"
            (click)="mapDownload($event, 'kml', visualizationLegends)"
            alt="download"
            title="Download map to kml"
          />
        </a>
        <a *ngIf="showDownload">
          <img
            src="assets/icons/csv.png"
            (click)="mapDownload($event, 'shapefile', visualizationLegends)"
            alt="download"
            title="Download map as shapefile"
          />
        </a>
        <a *ngIf="showDownload">
          <img
            src="assets/icons/csv.png"
            (click)="mapDownload($event, 'geojson', visualizationLegends)"
            alt="download"
            title="Download map as geojson"
          />
        </a>
        <a *ngIf="showDownload">
          <img
            src="assets/icons/csv.png"
            (click)="mapDownload($event, 'gml', visualizationLegends)"
            alt="download"
            title="Download map as gml"
          />
        </a>
        <a>
          <img
            *ngIf="!showDownload"
            src="assets/icons/download.png"
            alt="download"
            title="Download file"
            (click)="toggleDownload($event)"
          />
          <img
            *ngIf="showDownload"
            src="assets/icons/arrow-left.png"
            alt="back"
            title="Back"
            (click)="toggleDownload($event)"
          />
        </a>
        <a title="Upload GeoJson file">
          <img src="assets/icons/upload.png" alt="" />
        </a>
        <a title="Stick Legend" (click)="stickLegendContainer($event)">
          <img *ngIf="!(sticky$ | async)" src="assets/icons/pin-empty.png" alt="" />
          <img *ngIf="(sticky$ | async)" src="assets/icons/pin-filled.png" alt="" />
        </a>
        <a title="Close Legend" (click)="closeLegendContainer($event)">
          <img src="assets/icons/close.png" alt="" />
        </a>
      </div>
    </div>
  </div>
  <div class="legend-filter__container" *ngIf="(isFilterSectionOpen$ | async)">
    <app-map-filter-section
      [mapVisualizationObject]="mapVisualizationObject"
      [activeLayer]="activeLayer"
    ></app-map-filter-section>
  </div>
</div>
