<!--<span *ngIf="dashboardMenuItem.details.editComplete || dashboardMenuItem.details.creationComplete" appClickOutside (clickOutside)="dashboardStatus.id = {}" class="success-badge"><i class="fa fa-check"></i></span>-->
<a
  routerLink="/dashboards/{{dashboardMenuItem.id}}"
  (dblclick)="openEditForm(dashboardMenuItem.id)"
  (contextmenu)="showOptions(dashboardMenuItem.id)"
  *ngIf="activeEditFormId !== dashboardMenuItem.id && itemToDelete !== dashboardMenuItem.id"
>
  <span *ngIf="dashboardMenuItem.details.showName">{{dashboardMenuItem.name}}</span>
  <span *ngIf="dashboardMenuItem.details.isNew && !dashboardMenuItem.details.creationComplete">
              <img [src]="'assets/img/balls-3.svg'" alt="" style="height: 20px; width: 20px;">
              Creating dashboard..
            </span>
  <span *ngIf="dashboardMenuItem.details.edited && !dashboardMenuItem.details.editComplete">
              <img [src]="'assets/img/balls-3.svg'" alt="" style="height: 20px; width: 20px;">
              Updating dashboard..
            </span>
</a>
<div *ngIf="itemToDelete === dashboardMenuItem.id" class="dashboard-delete-block">
  <small>Delete?</small>
  <button (click)="itemToDelete = ''" class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
  <button (click)="deleteDashboard(dashboardMenuItem.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
</div>
<app-edit-dashboard
  *ngIf="activeEditFormId === dashboardMenuItem.id"
  [dashboard]="dashboardMenuItem"
  (onUpdateSuccess)="activeEditFormId = ''"
></app-edit-dashboard>
<ul [ngClass]="'option-dropdown'" *ngIf="currentRightClicked == dashboardMenuItem.id" appClickOutside (clickOutside)="currentRightClicked = ''">
  <li><a (click)="openEditForm(dashboardMenuItem.id)">Rename</a></li>
  <li><a (click)="openShareBlock(dashboardMenuItem.id)">Share</a></li>
  <li><a (click)="openDeleteForm(dashboardMenuItem.id)" class="text-danger">Delete</a></li>
</ul>
