.dashboard-menu-item {
  text-decoration: none;
  display: flex;
  height: 34px;
  border-radius: 17px;
  border: solid thin #eeeeee;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  background-color: #eeeeee;
  color: rgba(0, 0, 0, 0.87) !important;

  .dashboard-menu-bookmark-btn {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    background-color: #9d9d9d;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      height: 16px;
    }
  }

  .active-dashboard-menu-bookmarked-btn {
    background-color: transparent;
  }

  .dashboard-menu-item-name {
    padding-left: 5px;
    padding-right: 10px;
  }
}

.dashboard-menu-item:hover {
  background-color: #d8dadc;
}

.current-dashboard {
  background-color: #00796b;
  color: #fff !important;
}

.un-saved-dashboard {
  background-color: #ffbf0c;
}

.un-saved-dashboard:hover {
  background-color: #ffbf0c;
}

.current-dashboard:hover {
  background-color: #1c8275;
}
