/*.chart-block {*/
  /*overflow: auto;*/
/*}*/

/*.chart-body {*/
  /*display: block;*/
  /*width: 100%;*/
/*}*/


.chart-options {
  position: absolute;
  display: none;
  height: 100%;
  right: 0;
  top:0;
  z-index: 1000;
  padding-top: 5px;
  padding-right: 5px;
  background-color: #fff;
}

.chart-options ul > li > a {
  cursor: pointer;
  padding-left: 9px;
  padding-top: 7px;
  font-size: 10px;
  height: 30px;
  width: 30px;
  border: solid 1px #cecece;
  border-radius: 15px;
  background-color: #cecece;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.chart-options ul > li > a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.chart-block:hover .chart-options {
  display: block;
}
