<div class="visualization-download-section-container">
  <button
    class="dashboard-btn visualization-download-btn"
    title="View download options"
  >
    <img src="assets/icons/download.png" alt="">
  </button>
  <div class="visualization-download-list" *ngIf="showDownloadOptions">
    <button
      class="dashboard-btn visualization-download-btn-list-item"
      title="Download png"
    >
      <img src="assets/icons/png.png" alt="">
    </button>
    <button
      class="dashboard-btn visualization-download-btn-list-item"
      title="Download gif"
    >
      <img src="assets/icons/gif.png" alt="">
    </button>
    <button
      class="dashboard-btn visualization-download-btn-list-item"
      title="Download svg"
    >
      <img src="assets/icons/image.png" alt="">
    </button>
    <button
      class="dashboard-btn visualization-download-btn-list-item"
      title="Download csv"
    >
      <img src="assets/icons/csv.png" alt="">
    </button>
    <button
      class="dashboard-btn visualization-download-btn-list-item"
      title="Download pdf"
    >
      <img src="assets/icons/pdf.png" alt="">
    </button>
    <button
      class="dashboard-btn visualization-download-btn-list-item"
      title="Download pdf"
    >
      <img src="assets/icons/kml.png" alt="">
    </button>
  </div>
</div>
