.dashboard-nav > li > a,
.dashboard-right > li > a {
  border-right: solid 1px #ECECEC;
  color: #286090;
  font-size: 13px;
  height: 100%;
  display: block;
  padding-top: 10px;
}

.dashboard-edit-input {
  height: 40px;
  display: block;
  padding-left: 10px;
  border-color: transparent;
  font-size: 16px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.dashboard-edit-input:focus {
  outline: none;
}

.dashboard-edit-block {
  display: flex;
}

.dashboard-edit-button-block {

}

.dashboard-edit-button {
  display: block;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.dashboard-edit-button img {
  height: 22px;

}

.dashboard-edit-form-block {
  display: flex;
}

.dashboard-cancel-button {
  display: block;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  /*height: 100%;*/
}

.dashboard-cancel-button img {
  height: 15px;

}
