<div class="dashboard-edit-block">
  <div
    class="dashboard-edit-form-block"
  >
    <div
      class="dashboard-edit-form"
    >
      <form
        style="display: flex;"
        (ngSubmit)="save($event)">
        <input
          type="text"
          [size]="inputSize"
          class="dashboard-edit-input"
          style="flex: 1;"
          name="name"
          [(ngModel)]="dashboardName"
          required
          autofocus
        >
        <button type="submit" class="btn btn-primary btn-sm" style="border-radius: 0px;"
                [disabled]="dashboardNameIsWhiteSpace">Save
        </button>
      </form>
    </div>
    <div
      class="dashboard-cancel-button-block"
    >
      <a
        class="dashboard-cancel-button"
        title="Cancel dashboard creation"
        (click)="closeEditForm($event)"
      >
        <img src="assets/icons/close.png" alt="">
      </a>
    </div>
  </div>
</div>
