<!--<div class="dashboard-group">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--&lt;!&ndash;{{dashboards$ | async | json}}&ndash;&gt;-->
      <!--<ul class="list-unstyled">-->
        <!--<li-->
          <!--*ngFor="let dashboard of dashboards$ | async"-->
        <!--&gt;-->
          <!--<div class="checkbox">-->
            <!--<label><input type="checkbox" value="">{{dashboard.name}}</label>-->
          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="panel panel-default dashboard-group">
  <div class="panel-body dashboard-group-body">
    <h4 class="page-header" style="margin-top: 3px;">Dashboard Group Settings</h4>
    <div class="form-group">
      <div class="checkbox">
      <label><input type="checkbox" [(ngModel)]="dashboardMenuObject.showInGroupFormat">Show Dashboard Groups</label>
      </div>
    </div>
    <div class="form-group"
         *ngIf="dashboardMenuObject.showInGroupFormat"
    >
      <div class="list-group dashboard-group-list">
        <span><h4>Dashboard groups</h4></span>
        <a
          class="list-group-item"
          *ngFor="let group of dashboardMenuObject.dashboardsMenuItems.groups"
          (dblclick)="openGroupEditInput(group)"
        >
          <span
            *ngIf="currentGroupToEdit !== group"
          >
            {{group}}
          </span>
          <span
            *ngIf="currentGroupToEdit === group"
          >
            <input type="text" [(ngModel)]="groupName">
            <a
              (click)="saveGroupName(group, groupName)"
              class="btn btn-primary btn-sm"
            ><i class="fa fa-check"></i></a>
            <a
              (click)="deleteGroup(group)"
              class="btn btn-danger btn-sm"
            ><i class="fa fa-trash"></i></a>
            <a
              (click)="currentGroupToEdit = ''"
              class="btn btn-default btn-sm"
            >
              <i class="fa fa-times"></i>
            </a>
          </span>
          <span
                class="badge"
                style="cursor: pointer"
                *ngIf="currentGroupToEdit !== group"
                (click)="toggleDashboardSelection(group)"
          >
            {{getDashboardCounts(group)}}
          </span>
          <ul
            *ngIf="currentDashboardSelectionGroup === group"
            [ngClass]="'option-dropdown dashboard-dropdown'"
          >
            <li *ngFor="let dashboard of dashboards$ | async">
              <div class="checkbox">
                <label>
                  <input
                    type="checkbox"
                    [(ngModel)]="dashboard.selected"
                    (change)="updateDashboardSelection(dashboard, group)"
                  >
                  {{dashboard.name}}
                </label>
              </div>
            </li>
          </ul>
        </a>
        <a
           class="list-group-item"
        >
          <span *ngIf="showAddInput">
            <input type="text" placeholder="Enter group name" [(ngModel)]="newGroupName">
            <a class="btn btn-primary btn-sm" (click)="addGroup(newGroupName)"><i class="fa fa-plus"></i></a>
          </span>
          <span
            class="{{showAddInput ? 'btn btn-default btn-sm' : ''}}"
            (click)="showAddInput = !showAddInput"
          >
            <i class="fa {{showAddInput ? 'fa-times' : 'fa-plus'}}"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="panel-footer dashboard-group-footer">
    <div class="form-group">
      <a (click)="updateSettings()" class="btn btn-default">
        Update
      </a>
      <a href="" class="btn btn-default">
        Cancel
      </a>
    </div>
  </div>
</div>
