<nav class="navbar navbar-default dashboard-menu">
  <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
    <div class="navbar-header">
      <a class="navbar-toggle collapsed dashboard-collapse-btn" data-toggle="collapse" data-target="#idashboardNavbar" [attr.aria-expanded]="!isCollapsed" (click)="toggleCollapse()" [ngClass]="{'collapsed': isCollapsed}">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="collapse navbar-collapse dashboard-collapse-body" id="idashboardNavbar" [ngClass]="{'in': !isCollapsed}">
      <!--<ul class="nav navbar-nav dashboard-nav dashboard-setting-nav">-->
        <!--<li><a (click)="settingService.toggleItem('dimension')" class="navbar-brand" style="font-size: 14px;"><i class="fa {{settingService.isOpen('dimension') ? 'fa-times' : 'fa-filter'}}"></i></a></li>-->
        <!--<li><a (click)="settingService.toggleItem('share')"><i class="fa {{settingService.isOpen('share') ? 'fa-times' : 'fa-share-alt'}}"></i></a></li>-->
      <!--</ul>-->
      <app-dashboard-menu-items></app-dashboard-menu-items>
    </div>
  </div>
</nav>
