.sharing-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.sharing-input-list {
  list-style-type: none;
  padding: 0;
  margin: 5px 0px 5px 0px;
}

.sharing-item {
  min-height: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 11px;
  border-radius: 16px;
  padding: 5px 10px;
  margin: 2px 2px 2px 0px;
  background-color: #f1f1f1;
}

.sharing-item > img {
  margin: 2px;
  height: 11px;
}

.sharing-close-btn,
.share-search-close-btn {
  margin-right: 1px;
  margin-left: 3px;
}

.share-search-close-btn {
  display: none;
}

.share-input {
  border-style: none;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  padding: 7px;
  font-size: 13px;
}

.share-input:focus {
  outline: none;
}

.share-input-block {
  position: relative;
}

.share-search-result-list {
  max-height: 250px;
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  margin: 5px 0px 0px 0px;
  padding: 0;
}

.share-search-result-list:hover {
  overflow: auto;
}

.share-search-result-list > li {
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid thin #dddddd;
}

.share-search-result-list > li:hover {
  background-color: #eeeeee;
}

.share-search-result-list > li:hover .share-search-close-btn {
  display: block;
}

.share-search-result-left {
  display: flex;
}

.share-search-result-left > a,
.selected-sharing-item > a {
  padding: 2px 4px 2px 2px;
  cursor: pointer;
}

.share-search-result-left > a > img,
.selected-sharing-item > a > img {
  display: block;
  height: 15px;
}

.selected-sharing-item {
  background-color: #f1f1f1;
}

.sharing-add-btn {
  margin-right: 3px;
}

.sharing-error {
  font-size: 12px;
  padding: 5px;
}

.share-search-not-found {
  text-align: center;
  padding-top: 60px;
  color: #777777;
}

.sharing-user {
  font-size: 13px;
  padding: 5px 10px 5px 10px;
}

.sharing-filter-items__viewport {
  height: 100px;
}
