<div class="sharing-filter-container">
  <div class="sharing-search-list">
    <mat-form-field class="w-100">
      <input matInput placeholder="Search sharing items" (keyup)="onSearchSharing($event)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <cdk-virtual-scroll-viewport itemSize="20" class="sharing-filter-items__viewport" *ngIf="searchTerm">
      <mat-nav-list>
        <mat-list-item *cdkVirtualFor="let sharingSearchItem of sharingSearchList$ | async | filterByName: searchTerm"
          (click)="onAddSharingItem($event, sharingSearchItem)">
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex align-items-center">
              <mat-icon *ngIf="sharingSearchItem.type === 'userGroup'">supervisor_account</mat-icon>
              <mat-icon *ngIf="sharingSearchItem.type === 'user'">perm_identity</mat-icon>
              <span class="ml-1">{{sharingSearchItem.name}}</span>
            </div>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </cdk-virtual-scroll-viewport>
  </div>

</div>
