<div class="sharing-filter-container">
  <!--<div class="sharing-error text-danger">Something went wrong while saving</div>-->
  <ul class="sharing-list" *ngIf="(sharingFilter$ | async) && (sharingFilter$ | async).sharingItems">
    <li *ngFor="let sharingItem of (sharingFilter$ | async).sharingItems | limit:3" class="sharing-item" (click)="changeAccess($event, sharingItem)">
      <img *ngIf="sharingItem.isExternal && sharingItem.access" [src]="tickIcon" alt="">
      <img *ngIf="!sharingItem.isExternal && sharingItem.access === 'r-------'" [src]="viewIcon" alt="">
      <img *ngIf="!sharingItem.isExternal && sharingItem.access === 'rw------'" [src]="editIcon" alt=""> {{
      sharingItem.name
      }} &nbsp;
      <img class="sharing-close-btn" *ngIf="!sharingItem.isExternal && !sharingItem.isPublic" [src]="closeIcon" alt=""
        (click)="removeSharingItem($event, sharingItem)">
    </li>
    <li *ngIf="(sharingFilter$ | async) && (sharingFilter$ | async).sharingItems.length > 3" class="sharing-item">
      and {{ (sharingFilter$ | async).sharingItems.length - 3 }} more
    </li>
  </ul>
  <ul class="sharing-input-list" *ngIf="!(loadingSharingSearch$ | async)">
    <li class=" share-input-block ">
      <input type="text " class="share-input " id="sharing_filter_input " [(ngModel)]="searchTerm " [placeholder]="'Search users and user Groups to share the dashboard' | translate"
        autofocus>
      <div class="share-search-not-found " *ngIf="(sharingSearchList$ | async) && (sharingSearchList$ | async | filterByName:searchTerm).length===0 && searchTerm.length>
    0">Not
        found</div>
      <ul class="share-search-result-list">
        <li *ngFor="let searchItem of sharingSearchList$ | async | filterByName:searchTerm">
          <div class="share-search-result-left">
            <a (click)="changeAccess($event, searchItem, 'r-------')" class="btn {{ searchItem.access === 'r-------' || searchItem.access === 'rw------' ? 'btn-primary' : 'btn-outline-secondary' }} sharing-add-btn"
              title="Can view">
              <img [src]="viewIcon" alt="">
            </a>
            <a (click)="changeAccess($event, searchItem, 'rw------')" class="btn {{ searchItem.access === 'rw------' ? 'btn-primary' : 'btn-outline-secondary' }} sharing-add-btn"
              title="Can edit">
              <img [src]="editIcon" alt="">
            </a>
            <div> {{ searchItem.name }}</div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <div class="sharing-footer">
    <div class="sharing-user text-muted">
      Created by {{(sharingFilter$ | async)?.user?.name}}</div>
  </div>
</div>