<div class="default-intervention-container">
    <div class="intervention-header p-1">
        <mat-form-field appearance="outline">
            <mat-label>Search intervention</mat-label>
            <input type="text" matInput (keyup)="onSearchIntervention($event)">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <button class="float-right intervention-btn" mat-stroked-button color="primary"
            (click)="onOpenInterventionForm($event)"
            *ngIf="!showInterventionForm && (interventionDialogData?.appAuthorities?.All || interventionDialogData?.appAuthorities?.CreateDefaultIntervention)">
            <mat-icon>add</mat-icon>
            <span>New</span>
        </button>
    </div>

    <div class="intervention-list p-1">
        <mat-card *ngIf="showInterventionForm">
            <app-intervention-form [availableInterventions]="interventions$ | async" [isNew]="true"
                (save)="onAddIntervention($event)" (close)="showInterventionForm = false"></app-intervention-form>
        </mat-card>
        <mat-progress-bar class="mt-2" *ngIf="loadingInterventions$ | async" mode="indeterminate"></mat-progress-bar>
        <table class="table table-hover mt-2">
            <ng-container *ngFor="let intervention of interventions$ | async | filterByName:searchTerm">
                <tr class="intervention-row" matTooltip="Click to add intervention"
                    *ngIf="!intervention.showEditForm && !intervention.showDeleteDialog"
                    (click)="onAddDashboard(intervention, $event)">
                    <td>{{intervention.name}}</td>
                    <td>
                        <ng-container>
                            <button class="float-right" [matMenuTriggerFor]="interventionMenu" mat-icon-button
                                matTooltip="Click for more options" (click)="$event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #interventionMenu="matMenu">
                                <button mat-menu-item
                                    *ngIf="interventionDialogData?.appAuthorities?.All || interventionDialogData?.appAuthorities?.EditDefaultIntervention"
                                    (click)="onToggleInterventionEditForm(intervention, $event)"
                                    matTooltip="Edit intervention">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item
                                    *ngIf="interventionDialogData?.appAuthorities?.All || interventionDialogData?.appAuthorities?.DeleteDefaultIntervention"
                                    (click)="onToggleInterventionDelete(intervention, $event)"
                                    matTooltip="Delete intervention">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </ng-container>
                    </td>
                </tr>
                <tr *ngIf="intervention.showEditForm">
                    <td colspan="2">
                        <app-intervention-form [intervention]="intervention"
                            [availableInterventions]="interventions$ | async" (save)="onUpdateIntervention($event)"
                            (close)="onToggleInterventionEditForm($event)"></app-intervention-form>
                    </td>
                </tr>
                <tr *ngIf="intervention.showDeleteDialog">
                    <td colspan="2">
                        <div class="intervention-delete-block">
                            Delete {{intervention.name}}?
                            <div class="intervention-delete-btns">
                                <button mat-flat-button
                                    (click)="onToggleInterventionDelete(intervention, $event)">No</button>
                                &nbsp;
                                <button mat-flat-button color="warn"
                                    (click)="onDeleteIntervention(intervention, $event)">Yes</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>
    <div class="intervention-btns">
        <button mat-stroked-button (click)="onClose($event)">Close</button>
    </div>
</div>
