<div class="dashboard-menu-search">
  <div *ngIf="showDashboardSearch">
    <input
      type="text" size="16"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchTermChange()"
      placeholder="Search dashboard"
      class="dashboard-menu-search-input"
      autofocus
    >
  </div>
  <div class="dashboard-menu-search-button">
    <a (click)="toggleDashboardMenuSearch($event)">
      <img *ngIf="!showDashboardSearch" src="assets/icons/search.png" alt="">
      <img *ngIf="showDashboardSearch" src="assets/icons/close.png" alt="">
    </a>
  </div>
</div>
