.dashboard-menu-search {
  display: flex;
}
.dashboard-menu-search-input
{
  height: 38px !important;
  padding-left: 10px;
  border-color: transparent;
  font-size: 16px;
}

.dashboard-menu-search-input:focus
{
  outline: none;
}

.dashboard-menu-search-button {
  cursor: pointer;
  padding: 6px 7px 6px 7px;
}

.dashboard-menu-search-button > a > img {
  height: 20px;
}
