.global-filter-section {
  position: relative;
}

.dashboard-global-filter-btn {
  margin-left: 5px;
  margin-top: 6px;
  box-shadow: none;
}

.dashboard-global-filter-btn img {
  display: block;
  margin: auto;
  height: 15px;
}

.dashboard-global-filter-block {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  /*width: 420px;*/
  max-height: 400px;
  height: auto;
  z-index: 1200;
}

.dashboard-global-filter-body {
  padding: 7px 5px 5px 5px;
}

@media (max-width: 900px) {
 .global-filter-section {
    position: static;
  }
  .dashboard-global-filter-block {
    left: 3%;
    width: 94%;
    top: 45px;
  }
}
