<div class="global-filter-section">
  <button
    class="dashboard-btn dashboard-global-filter-btn"
    (click)="toggleGlobalFilters($event)"
  >
    <img src="assets/icons/filter.png" alt="">
  </button>

  <div *ngIf="showGlobalFilters" class="global-filter-body-container">
    <div class="global-filter-body">
      <div class="global-filter-close-block">
        <button
          class="dashboard-btn global-filter-close-btn"
          (click)="toggleGlobalFilters($event)"
        >
          <img src="assets/icons/close.png" alt="">
        </button>
      </div>
      <app-visualization-filter-section></app-visualization-filter-section>
    </div>
  </div>
</div>
