.interventionConfig {
    background-color: transparent;
    width: 100%;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 24px;
    margin-bottom: 0.7%
}
