<div id="dashboard-visualization-list">
  <div
    class="visualization-card-container dashboard-border"
    *ngFor="let visualizationObject of visualizationObjects$ | async"
    [style.grid-column]="'span 2'"
    [style.grid-row]="'span 1'"
  >
    <!--&lt;!&ndash;visualization delete section&ndash;&gt;-->
    <!--<div class="visualization-delete-block">-->
      <!--<button>delete</button>-->
    <!--</div>-->
    <!--&lt;!&ndash; end of visualization delete section&ndash;&gt;-->
    <app-visualization-card
      [visualizationObject]="visualizationObject"
    ></app-visualization-card>
  </div>
</div>
