.msg { 
width: 50%;
   padding: 5px;
}
.msg, table {
    width: inherit;
    margin-left: auto;
    margin-right: auto;
}

.msg,td {
    text-align: center;
    width: 30%
}

.msg, tr {
    background-color: #F3F3F3;       
}