<div class="">
  <div class="panel-group panel-group-updated" id="accordion">
    <div class="panel panel-default panel-updated">
      <div class="panel-heading panel-heading-updated" style="cursor: pointer;">
        <h4 class="panel-title">
          Data and periods
        </h4>
      </div>
      <div class="panel-collapse collapse in">
        <div class="panel-body panel-body-updated">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="value_type" class="col-lg-5 col-md-5 col-xs-5 control-label control-label-updated">Value
                Type</label>
              <div class="col-lg-7 col-md-7 col-xs-7">
                <select type="text" class="form-control custom-form-control pull-right" id="value_type" placeholder="">
                  <option>Indicator</option>
                  <option>Data Element</option>
                  <option>Reporting rates</option>
                  <option>Event data items</option>
                  <option>Program indicators</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="period_type" class="col-lg-5 col-md-5 col-xs-5 control-label control-label-updated">Period
                Type</label>
              <div class="col-lg-7 col-md-7 col-xs-7">
                <select type="text" class="form-control custom-form-control pull-right" id="period_type">
                  <option>Relative</option>
                  <option>Daily</option>
                  <option>Weekly</option>
                  <option>Monthly</option>
                  <option>Bi-monthly</option>
                  <option>Quarterly</option>
                  <option>Six-monthly</option>
                  <option>Six-monthly April</option>
                  <option>Yearly</option>
                  <option>Financial Year - October</option>
                  <option>Financial Year - July</option>
                  <option>Financial Year - April</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="period" class="col-lg-5 col-md-5 col-xs-5 control-label control-label-updated">Period</label>
              <div class="col-lg-7 col-md-7 col-xs-7">
                <select type="text" class="form-control custom-form-control pull-right" id="period" placeholder="">
                  <option>2017</option>
                  <option>2016</option>
                  <option>2015</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="panel panel-default panel-updated">
      <div class="panel-heading panel-heading-updated" style="cursor: pointer;">
        <h4 class="panel-title">
          Organisation units
        </h4>
      </div>
      <div class="panel-collapse collapse">
        <div class="panel-body panel-body-updated">
          collapse two
        </div>
      </div>
    </div>
    <div class="panel panel-default panel-updated">
      <div class="panel-heading panel-heading-updated" style="cursor: pointer;">
        <h4 class="panel-title">
          Options
        </h4>
      </div>
      <div class="panel-collapse collapse">
        <div class="panel-body panel-body-updated">
          collapse three
        </div>
      </div>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-default btn-xs pull-right">Update</button>
  </div>
</div>
