<a class="btn btn-default btn-sm pull-right" style="color: #269ABC;" *ngIf="loading">
  <small *ngIf="loading">
    <img src="assets/img/balls-3.svg" style="height: 30px; width: 30px;" alt="">
    Loading notifications
  </small>
</a>
<div class="btn-group pull-right" *ngIf="!loading && !hasError">
  <a href="../../../dhis-web-dashboard-integration/showSendFeedback.action" class="btn btn-default" style="color: #269ABC;"><i class="fa fa-pencil"></i> Write feedback</a>
  <a href="../../../dhis-web-dashboard-integration/message.action" class="btn btn-default" style="color: #269ABC;" *ngIf="notification?.unreadMessageConversations > 0"><i class="fa fa-envelope"></i> <small *ngIf="loadingNotification">Loading...</small>&nbsp;<small style="font-size: 12px;">{{notification?.unreadMessageConversations}}</small></a>
  <a href="../../../dhis-web-dashboard-integration/interpretation.action" class="btn btn-default" style="color: #269ABC;" *ngIf="notification?.unreadInterpretations > 0"><i class="fa fa-comments-o"></i> <small *ngIf="loadingNotification">Loading...</small>&nbsp;<small style="font-size: 12px;">{{notification?.unreadInterpretations}}</small></a>
</div>
