<div class="determinant-list-container">
  <table class="table table-bordered determinant-table">
    <tr>
      <th> <span class="d-flex align-items-center">Determinant</span></th>
      <th width="35%">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <span>Members</span>
            <small class="ml-2">(Max: {{determinantPreferences.maximumItemPerDeterminant}} per
              determinant)</small>
          </div>
          <button mat-stroked-button (click)="onRemoveAllMembers($event)"
            title="Clear/Remove all members in all determinants">Clear All</button>
        </div>
      </th>
      <th width="35%">{{currentDeterminantMember?.name}}</th>
    </tr>

    <tr *ngFor="let determinant of determinants; let i = index;">
      <td [ngClass]="{'active-determinant-member': selectedDeterminantId === determinant.id}">
        <div class="determinant-title">
          <input class="determinant-color" matInput [(colorPicker)]="determinant.color"
            [style.background]="determinant.color">
          <span>{{determinant.name}}</span>
          <small class="ml-2">({{determinant?.members?.length}} Selected)</small>
        </div>
      </td>
      <td *ngIf="i === 0 && showDataSelection" [attr.rowspan]="determinants.length">
        <app-data-selection [dataFilterTypes]="dataFilterTypes" [dataFilterGroups]="dataFilterGroups"
          [currentDataFilterGroup]="currentDataFilterGroup" [dataFilterItems]="dataFilterItems"
          [selectedItems]="selectedItems" (setDataFilterGroup)="onSetDataFilterGroup($event)"
          (toggleDataFilterType)="onToggleDataFilterType($event)" (selectDataItem)="onSelectDataItem($event)"
          (close)="onCloseDataSelection()">
        </app-data-selection>
      </td>
      <td class="p-0 determinant-member-td" *ngIf="!showDataSelection">
        <div class="determinant-member-list">
          <div
            [ngClass]="{'determinant-member': true, 'active-determinant-member': currentDeterminantMember && currentDeterminantMember.id === determinantMember.id}"
            (click)="onSetCurrentDeterminantMember(determinantMember.id, $event)"
            *ngFor="let determinantMember of determinant.members">
            <a class="determinant-delete-btn" title="Remove member"
              (click)="onRemoveDeterminantMember(determinantMember, determinant, $event)">
              <mat-icon color="warn">delete</mat-icon>
            </a>
            {{determinantMember.name}}
          </div>
          <button mat-flat-button class="add-determinant-member" title="Add Determinant member"
            *ngIf="determinantPreferences && determinant && determinant.members.length < determinantPreferences.maximumItemPerDeterminant"
            (click)="onOpenDataSelection(determinant.id, $event)">
            <mat-icon class="text-muted" inline=true>add</mat-icon>
          </button>
        </div>
      </td>
      <td *ngIf="i === 0" [attr.rowspan]="determinants.length">
        <!-- current determinant member form -->
        <div class="determinant-member-form" *ngIf="currentDeterminantMember">
          <app-determinant-member-form [determinantMember]="currentDeterminantMember"
            [generalDataConfiguration]="generalDataConfiguration" (updateMember)="onUpdateMember($event)">
          </app-determinant-member-form>
        </div>
        <!-- current determinant member form -->
      </td>
    </tr>
  </table>
  <!-- end of determinant item and member list -->
</div>
