<div class="ngx-dhis2-org-unit-selection__container">

  <!--org unit tree area-->
  <div class="ngx-dhis2-org-unit-selection__tree">
    <!--org unit selection search-->
    <div class="ngx-dhis2-org-unit-selection__search">
      <!-- <input type="text" class="ngx-dhis2-org-unit-selection__search-input" placeholder="Search organisation unit"> -->
    </div>
    <!--end of org unit selection search-->
    <div class="ngx-dhis2-org-unit-selection__tree_list">
      <div class="ngx-dhis2-org-unit-selection__tree_item" *ngFor="let orgUnitId of highestLevelOrgUnitIds$ | async">
        <ngx-dhis2-org-unit-tree-item [orgUnitId]="orgUnitId" [expanded]="true" [selectedOrgUnits]="selectedOrgUnits" (activate)="onActivateOrgUnit($event)"
          (deactivate)="onDeactivateOrgUnit($event)"></ngx-dhis2-org-unit-tree-item>
      </div>
    </div>
  </div>
  <!--end of org unit tree area-->
</div>