.determinant-main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.determinant-area-container {
    width: 40%;
    display: flex;
}

.indicator-configuration-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


@media screen and (min-width: 1368px) {
    .determinant-main-container {
        padding: 16px 64px;
    }

    .determinant-area-container {
        width: 50%;
    }

    .indicator-configuration-container {
        width: 100%;
    }
}

@media screen and (max-height: 800px) {
    .determinant-main-container {
        gap: 8px;
    }
}


@media screen and (max-width: 1000px) {
    .determinant-main-container {
        flex-direction: column;
        gap: 24px;
    }

    .determinant-area-container {
        width: 100%;
    }

    .indicator-configuration-container {
        width: 100%;

    }
}
