#dashboard-menu-list-container-desktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 40px;
  width: 100%;
}

#dashboard-menu-left-container-desktop,
#dashboard-menu-right-container-desktop {
  display: flex;
}

#dashboard-menu-search-container-desktop {

}

#dashboard-menu-list-desktop {
  height: 100%;
}

#dashboard-menu-create-desktop {
  height: 100%;
}

#dashboard-menu-left-arrow-desktop {
  border-style: none;
  border-right: solid thin #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
}

#dashboard-menu-right-arrow-desktop {
  border-style: none;
  border-left: solid thin #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
}

#dashboard-menu-left-arrow-desktop:hover,
#dashboard-menu-right-arrow-desktop:hover {
  background: #f1f1f1;
}

#dashboard-menu-left-arrow-desktop img,
#dashboard-menu-right-arrow-desktop img {
  height: 22px;
}

#dashboard-menu-search-container-desktop {
  /*border-left: solid thin #f1f1f1;*/

}

#dashboard-menu-create-desktop {
  border-right: solid thin #f1f1f1;
}
