<div class="visualization-delete-dialog-container">
    <div *ngIf="!deleting && !deleteFail" class="delete-dialog">
        <span>Are you sure?</span>
        <a class="text-primary" (click)="cancelDelete($event)">NO</a>
        <a class="text-danger" (click)="delete($event)">YES</a>
    </div>
    <div *ngIf="deleting" class="delete-dialog">
        Deleting...
    </div>
    <div *ngIf="deleteFail" class="delete-dialog text-danger">
        Delete fail
        <button class="btn btn-xs btn-outline-secondary" (click)="cancelDelete($event)">Close</button>
    </div>
</div>
