#menu-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1400;
    height: 48px;
}

#menu-loader {
    height: 100%;
}

#menu-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#menu-left-block,
#menu-right-block {
    display: flex;
}

#menu-brand {
    width: 155px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-brand>a>img {
    display: block;
    margin: auto;
    max-height: 44px;
    max-width: 155px;
}

#menu-title-block {
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    align-items: center;
    justify-items: center;
    display: flex;
    padding-right: 1rem;
}

#menu-title {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-overflow: ellipsis;
    min-width: 1px;
    overflow: hidden;
    white-space: nowrap;
}

#menu-search-block {
    height: 100%;
}

#login-form-container {
    position: fixed;
    z-index: 1500;
    top: 2px;
    left: 20%;
    min-height: 42px;
    border-color: #f0c36d;
    background-color: #f9edbe;
    border-radius: 3px;
}

#menu-notification-area {
    position: fixed;
    z-index: 1500;
    top: 7px;
    left: 20%;
    height: auto;
    border-color: #f0c36d;
    background-color: #f9edbe;
    border-radius: 3px;
    padding: 5px;
    font-size: 15px;
}

#menu-toggle-button {
  display:none;
  flex-direction:row;
  justify-content:flex-end;
  padding-right:10px;
  padding-top: 6px;
}

#menu-toggle-icon {
  display:inline-block;
  height:35px;
  width:35px;
  fill:#ffffff;
}

#sidebar-menu-nav {
  position: absolute;
  top: 100%;
  width: 400px;
  height: 100vh;
  right: 0px;
  z-index: 900;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  transition: width 0.5s cubic-bezier(0.39, -0.04, 0.2, 1);
  background-clip: padding-box;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

@media (max-width: 500px) {
    #login-form-container {
        top: 50px;
        left: 2%;
        width: 96%;
        height: auto;
    }
    #menu-notification-area {
        left: 2%;
        right: 2%;
        width: 96%;
        height: auto;
    }
}

@media (max-width: 999px) {
  #menu-search-block,
  #menu-profile-block,
  #menu-title-block {
    display: none;
  }

  #menu-brand {
    justify-content: flex-start;
    margin-left: 15px;
  }

  #menu-toggle-button {
    display: flex;
  }

}

@media (min-width: 1010px) {
  #sidebar-menu-nav {
    display: none !important;
  }
}
