<div id="menu-container">

  <!-- notification area -->
  <div id="menu-notification-area" *ngIf="menuNotification !== ''" [@open]>
    {{ menuNotification }}
  </div>
  <!-- end of notification area -->
  <!-- login form area -->
  <div id="login-form-container" *ngIf="!loggedIn && online">
    <app-login-form></app-login-form>
  </div>
  <!-- end of login form area -->

  <!--menu loading area-->
  <div id="menu-loader" *ngIf="menuLoading">
    <app-menu-loader></app-menu-loader>
  </div>
  <!--end of menu loading area-->

  <!--menu content area-->
  <div id="menu-content" [style.background-color]="backgroundColor" *ngIf="!menuLoading && !menuLoadingFail">
    <!--menu left block-->
    <div id="menu-left-block">

      <!--menu brand area-->
      <div id="menu-brand">
        <a [href]="rootUrl + 'dhis-web-commons-about/redirect.action'">
          <img [src]="rootUrl + 'api/staticContent/logo_banner'" alt="">
        </a>
      </div>
      <!--end of menu brand area-->

      <!--menu title area-->
      <div id="menu-title-block">
        <a [href]="rootUrl + 'dhis-web-commons-about/redirect.action'" id="menu-title">
          {{applicationTitle}}
        </a>
      </div>
      <!--end of menu title area-->
    </div>
    <!--end of menu left block-->

    <!--menu right block-->
    <div id="menu-right-block">
      <!--menu search block-->
      <div id="menu-search-block">
        <app-menu-search></app-menu-search>
      </div>
      <!--end of menu search block-->

      <!--menu profile block-->
      <div id="menu-profile-block">
        <app-menu-profile></app-menu-profile>
      </div>
      <!--end of menu profile block-->

      <!--menu sidebar toggle button-->
      <div
        id="menu-toggle-button"
      >
        <a
          (click)="toggleSideBar($event)"
        >
          <svg
            id="menu-toggle-icon"
            viewBox="0 0 24 24"
          >
            <path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"></path>
          </svg>
        </a>
      </div>
      <!--end of menu sidebar toggle button-->

      <!--sidebar menu block-->
      <div id="sidebar-menu-nav" *ngIf="showSidebar">
        <app-menu-side-bar></app-menu-side-bar>
      </div>
      <!--end of sidebar menu block-->
      <div></div>
    </div>
    <!--end of menu right block-->
  </div>
  <!--end of menu content area-->
</div>
