.default-dashboard-list-container {
  position: relative;
}

.intervention-notification-block {
  position: absolute;
  background-color: #f9ecbd;
  top: 10px;
  z-index: 1000;
  padding: 5px;
  font-size: 13px;
  border: solid thin #f9ecbd;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 90%;
  border-radius: 3px;
}

.intervention-loading-block {
  padding: 15px;
  font-size: 13px;
}

.default-dashboard-list-block {
  position: relative;
}

.default-dashboard-search-input {
  display: flex;
  height: 34px;
  outline: none;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  border-bottom: solid thin #dddddd;
}

.default-dashboard-list {
  width: 400px;
  position: fixed;
  list-style-type: none;
  padding: 0;
  margin: 0;
  top: 95px;
  left: 15px;
  right: 0;
  background-color: #ffffff;
  border-bottom: none;
  border-radius: 5px;
  z-index: 1200;
  .intervention-form {
    margin-bottom: 10px;
    border-bottom: solid thin #eeeeee;
  }

  .add-intervention-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
  }

  .add-default-dashboard-btn {
    background-color: #ffffff !important;
    border-color: #dddddd;
  }

  .add-default-dashboard-btn:hover {
    background-color: #dddddd !important;
  }

  .empty-interventions {
    padding: 10px;
    font-size: 13px;
    border-bottom: solid thin #eeeeee;
  }

  li {
    border-bottom: solid thin #eeeeee;
    .intervention-btn {
      padding: 3px;
      line-height: 13px;
      font-size: 13px;
    }

    .intervention-actions {
      display: none;
    }

    .intervention-btn-actions {
      background-color: transparent;
      border: none;
    }

    .intervention-delete-block {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      font-size: 13px;
      background-color: #ffffff;
      border: solid thin #eeeeee;
      .intervention-delete-btns {
        display: flex;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      color: #333333;
      width: 100%;
      padding: 10px;
      font-size: 13px;
      // border-bottom: solid thin #eeeeee;
      cursor: pointer;
    }

    a:hover {
      background-color: #eeeeee;
      .intervention-actions {
        display: flex;
      }
    }

    a img {
      height: 13px;
    }
  }
}
