<div class="default-dashboard-list-container">
  <button class="default-dashboard-btn" title="Add new intervention"><i class="fa fa-plus"></i></button>
  <div class="default-dashboard-list-block">
    <!-- default dashboard search -->
    <input type="text" (keyup)="onSearchDashboard($event)" class="default-dashboard-search-input" size="25" placeholder="Search for interventation">
    <!-- end of default dashboard search -->

    <!-- default dashboard list -->
    <ul class="default-dashboard-list" *ngIf="showDefaultList">
      <li *ngFor="let dashboard of dashboardList"><a (click)="onAddDashboard($event, dashboard)">{{ dashboard.name }}
        </a></li>
    </ul>
    <!-- end of default dashboard list -->
  </div>

</div>