.default-dashboard-list-container {
  display: flex;
  position: relative;
}

.intervention-notification-block {
  position: absolute;
  background-color: #f9ecbd;
  top: 10px;
  z-index: 1000;
  padding: 5px;
  font-size: 13px;
  border: solid thin #f9ecbd;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 90%;
  border-radius: 3px;
}

.intervention-loading-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  img {
    height: 50px;
  }
}
.default-dashboard-btn {
  color: #ffffff;
  height: 34px;
  width: 34px;
  border-radius: 17px;
  border: none;
  outline: none;
  background-color: #00796b;
  cursor: pointer;
}

.default-dashboard-btn:hover {
  background-color: #1c8275;
}

.default-dashboard-list-block {
  position: relative;
}

.default-dashboard-search-input {
  display: flex;
  height: 34px;
  outline: none;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  border-bottom: solid thin #dddddd;
}

.default-dashboard-list {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  left: 10px;
  right: 0;
  background-color: #ffffff;
  border: solid thin #eeeeee;
  border-bottom: none;
  z-index: 1370;

  .intervention-form {
    margin-bottom: 10px;
    border-bottom: solid thin #eeeeee;
  }

  .add-intervention-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
  }

  .empty-interventions {
    padding: 10px;
    font-size: 13px;
    border-bottom: solid thin #eeeeee;
  }

  li {
    .intervention-btn {
      padding: 3px;
      line-height: 13px;
      font-size: 13px;
    }

    .intervention-delete-block {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      font-size: 13px;
      background-color: #ffffff;
      border: solid thin #eeeeee;
      .intervention-delete-btns {
        display: flex;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      color: #333333;
      width: 100%;
      padding: 10px;
      font-size: 13px;
      border-bottom: solid thin #eeeeee;
      cursor: pointer;
    }

    a:hover {
      background-color: #eeeeee;
    }

    a img {
      height: 13px;
    }
  }
}
