.intervention-form-block {
  display: block;
  padding: 10px;

  .add-intervention-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    button {
      margin-left: 5px;
    }
  }
}
