.intervention-form-block {
  display: block;
  padding: 10px;

  mat-form-field {
    width: 100%;
  }

  .add-intervention-btns {
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 5px;
    }
  }

  .unique-intervention {
    font-size: 12px;
  }
}
