.intervention-form-block {
  display: block;

  mat-form-field {
    width: 100%;
  }

  .add-intervention-btns {
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 5px;
    }
  }

  .unique-intervention {
    font-size: 13px;
  }
}
