<ul class="nav navbar-nav dashboard-nav" *ngIf="!dashboardsLoading">
  <li class="dashboard-list" routerLinkActive="active" *ngFor="let dashboard of dashboards | filterBy: dashboardName | paginate: config">
    <span *ngIf="updatedDashboard == dashboard.id" appClickOutside (clickOutside)="updatedDashboard = ''" class="success-badge">Updated</span>
    <a routerLink="/dashboards/{{dashboard.id}}/dashboard" *ngIf="!isEditFormOpen(dashboard.id) && !isItemToDelete(dashboard.id)" (dblclick)="openEditForm(dashboard.id)" tooltip="{{dashboard.name}}">{{dashboard.name | truncate:12}}</a>
    <app-edit-dashboard *ngIf="isEditFormOpen(dashboard.id)" [dashboard]="dashboard" (onUpdateSuccess)="closeEditForm($event, dashboard.id)"></app-edit-dashboard>
  <div *ngIf="itemToDelete == dashboard.id" class="dashboard-delete-block">
    <small>Delete?</small>
    <button (click)="itemToDelete = ''" class="btn btn-success btn-xs"><i class="fa fa-times"></i></button>
    <button (click)="deleteDashboard(dashboard.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
  </div>
  </li>
  <!--<li *ngIf="dashboards.length > 4"><a style="font-size: 12px;"><small>and {{dashboards.length - 4}} more</small></a></li>-->
</ul>
<ul class="nav navbar-nav dashboard-nav">
  <li *ngIf="dashboardsLoading" style="padding-top:9px; border-right-color: transparent; padding-left: 3px;">
    <small>
      <img src="assets/img/balls-3.svg" style="height: 20px; width: 20px;" alt=""> Loading dashboard items...
    </small>
  </li>
</ul>
<app-create-dashboard (onCreateSuccess)="updateCurrentPage($event)"></app-create-dashboard>
<ul class="nav navbar-nav dashboard-nav">
  <li>
    <pagination-template *ngIf="dashboards?.length > config.itemsPerPage" #nm="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
      <ul class="custom-pagination pagination dashboard-pagination">
        <li class="pagination-previous" [class.hidden]="nm.isFirstPage()">
          <a (click)="nm.previous()" tooltip="previous"> <i class="fa fa-chevron-left"></i> </a>
        </li>

        <li class="pagination-next" [class.hidden]="nm.isLastPage()">
          <a (click)="nm.next()" tooltip="next"> <i class="fa fa-chevron-right"></i> </a>
        </li>
      </ul>
    </pagination-template>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right dashboard-right">
  <li><input type="number" [(ngModel)]="config.itemsPerPage" class="dashboard-pagination-input" min="1" max="{{dashboards?.length <= 8 ? dashboards?.length : 8}}" onkeydown="return false"></li>
  <li *ngIf="settingsService.isOpen('menu-search')"><input type="text" size="12" [(ngModel)]="dashboardName" class="dashboard-search-input" autofocus></li>
  <li class="dashboard-search-button" (click)="settingsService.toggleItem('menu-search')"><a tooltip="search dashboard" style="border-right-style: none;"><i class="fa {{settingsService.isOpen('menu-search') ? 'fa-times':'fa-search'}}"></i></a></li>
</ul>
