<ul class="nav navbar-nav dashboard-nav" *ngIf="!dashboardsLoading">
  <li class="dashboard-list" routerLinkActive="active" *ngFor="let dashboard of dashboards | filterBy: dashboardName | paginate: config">
    <a routerLink="/dashboards/{{dashboard.id}}/dashboard" *ngIf="!isEditFormOpen(dashboard.id) && !isItemToDelete(dashboard.id)" (contextmenu)="onContextMenu($event, dashboard)">{{dashboard.name}}</a>
    <app-edit-dashboard *ngIf="isEditFormOpen(dashboard.id)" [dashboard]="dashboard" (onFormClosed)="closeEditForm($event)"></app-edit-dashboard>
    <context-menu></context-menu>
  <div *ngIf="itemToDelete == dashboard.id" class="dashboard-delete-block">
    <small>Delete?</small>
    <button (click)="itemToDelete = ''" class="btn btn-success btn-xs"><i class="fa fa-times"></i></button>
    <button (click)="deleteDashboard(dashboard.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
  </div>
  </li>
  <!--<li *ngIf="dashboards.length > 4"><a style="font-size: 12px;"><small>and {{dashboards.length - 4}} more</small></a></li>-->
</ul>
<ul class="nav navbar-nav dashboard-nav">
  <li *ngIf="dashboardsLoading" style="padding-top:9px; border-right-color: transparent; padding-left: 3px;">
    <small>
      <img src="assets/img/balls-3.svg" style="height: 20px; width: 20px;" alt=""> Loading dashboard items...
    </small>
  </li>
</ul>
<app-create-dashboard></app-create-dashboard>
<ul class="nav navbar-nav navbar-right dashboard-right">
  <li>
    <pagination-template *ngIf="dashboards?.length > config.itemsPerPage" #nm="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
      <ul class="custom-pagination pagination dashboard-pagination">
        <li class="pagination-previous" [class.disabled]="nm.isFirstPage()">
          <a (click)="nm.previous()"> <i class="fa fa-chevron-left"></i> </a>
        </li>

        <li class="pagination-next" [class.disabled]="nm.isLastPage()">
          <a (click)="nm.next()"> <i class="fa fa-chevron-right"></i> </a>
        </li>
      </ul>
    </pagination-template>
  </li>
  <li *ngIf="isSearchOpen"><input type="text" size="12" [(ngModel)]="dashboardName" class="dashboard-search-input" autofocus></li>
  <li class="dashboard-search-button" (click)="isSearchOpen = !isSearchOpen"><a><i class="fa {{isSearchOpen ? 'fa-times':'fa-search'}}"></i></a></li>
</ul>
