.current-dashboard-title-container {

}

.current-dashboard-title {
  padding-top: 7px;
  font-size: 18px;
  font-weight: 500;
}

.current-dashboard-info-button > a > img {
  height: 20px;
}


.current-dashboard-title-options {
  display: flex;
}
