.data-filter-item-selection-card {
  margin-top: 10px;
  mat-form-field {
    width: 100%;
  }

  .data-filter-items__viewport {
    height: 460px;
    overflow: auto;
  }

  .data-filter-item {
    font-size: 13px;
  }
}
