<mat-card class="data-filter-item-selection-card">
    <mat-form-field>
        <input matInput placeholder="Search Data item">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-nav-list>
        <a mat-list-item>Long indicator name</a>
        <a mat-list-item>Long indicator name</a>
        <a mat-list-item>Long indicator name</a>
        <a mat-list-item>Long indicator name</a>
        <a mat-list-item>Long indicator name</a>
        <a mat-list-item>Long indicator name</a>
        <a mat-list-item>Long indicator name</a>
        <a mat-list-item>Long indicator name</a>
    </mat-nav-list>
</mat-card>
