.dashboard-item-search-container {
  position: relative;
}


.dashboard-item-search-result-container {
  position: absolute;
  width: 100%;
  z-index: 1200;
  background-color: #ffffff;
}

.dashboard-search-result-header {
  padding: 5px 10px;
  border-bottom: solid thin #eee;
}

.dashboard-search-header-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.dashboard-search-header-list > li > a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  min-height: 25px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  font-size: 13px;
  border-radius: 16px;
  padding: 5px 10px;
  margin: 2px;
}

.dashboard-search-header-list > li > a:hover {
  background-color: #269ABC;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #ffffff;
}

.dashboard-search-header-list > li > a:hover .search-item-count {
  color: #ffffff;
}

.dashboard-search-header-list > li > a > img {
  height: 15px;
  display: block;
  margin: auto;
  padding-right: 4px;
}

.search-item-title {

}

.search-item-count {
  margin-left: 4px;
  font-size: 12px;
  padding-top: 1px;
  color: #666;
}

.active-search-header {
  background-color: #269ABC;
  box-shadow: none;
  color: #ffffff !important;
}

.active-search-header .search-item-count {
  color: #ffffff;
}

.dashboard-search-result-body {

}

.dashboard-search-summary {
  font-size: 12px;
  color: #666;
  padding: 5px 10px;
}

.dashboard-empty-search-result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

.dashboard-empty-search-result img {
  height: 30px;
}

.dashboard-searching div {
  margin-bottom: 3px;
  height: 5px;
}

.search-result-list {
  max-height: 300px;
  overflow: hidden;
}

.search-result-list:hover {
  overflow: auto;
}

.search-result-item {
  display: flex;
  justify-content: space-between;
  border-top: solid thin #eee;
  padding: 5px 10px;
}

.search-result-item:hover {
  background-color: #eee;
}

.search-result-title-block {
  display: flex;
}

.search-result-title-block img {
  display: block;
  margin: auto;
  height: 20px;
}

.search-result-title {
  margin-left: 10px;
  padding-top: 7px;
}

.search-result-actions {
  padding-top: 5px;
}

.search-result-btn img {
  display: block;
  margin: auto;
  height: 15px;
}
