<mat-button-toggle-group>
  <mat-button-toggle title="Download as image" *ngIf="visualizationType === 'CHART'" (click)="download($event, 'PNG')">
    <span class="text-muted">PNG</span>
  </mat-button-toggle>
  <mat-button-toggle title="Download excel document" *ngIf="
      visualizationType === 'CHART' ||
      visualizationType === 'TABLE' ||
      visualizationType === 'APP'
    " (click)="download($event, 'XLS')">
    <span class="text-muted">XLS</span>
  </mat-button-toggle>
  <mat-button-toggle title="Download pdf" *ngIf="visualizationType === 'CHART'" (click)="download($event, 'PDF')">
    <span class="text-muted">PDF</span>
  </mat-button-toggle>
</mat-button-toggle-group>
