.sharing-items__viewport {
  height: 250px;
}

.sharing-card {
  position: absolute;
  top: 40px;
  right: 0;
  padding: 5px;
  z-index: 100;
  width: 500px;
}

.sharing-filter-container {
  position: absolute;
  z-index: 1;
}

.sharing-item-search {
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.sharing-button-content {
  font-size: 15px;
}
