<div id="menu-search-container" appClickOutside (clickOutside)="reduceSearch()">
    <div>
        <input type="text" id="menu-search-input" placeholder="Search Apps" [attr.size]="searchWidth" (focus)="widdenSearch($event)" [(ngModel)]="filteredApp" (ngModelChange)="updateMenuModules()" />
    </div>
    <div id="menu-toggle-link">
        <a (click)="toggleSearch($event)">
            <svg class="menu-toggle-icon" viewBox="0 0 24 24">
        <path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"></path>
      </svg>
        </a>
    </div>

    <div id="menu-list-block" [@slide] *ngIf="showApps">
        <div *ngIf="(apps | filterByName: filteredApp).length !== 0" id="menu-inner-list-block">
            <a *ngFor="let app of  apps | filterByName:filteredApp" [href]="app.defaultAction" class="app-menu-btn" title="{{ app.description }}">
                <div class="app-menu-inner-block">
                    <img alt="" [src]="app.icon">
                    <div class="app-menu-name">{{app.displayName}}</div>
                </div>
            </a>
        </div>
        <div id="menu-inner-list-block-no-match" *ngIf="(apps | filterByName: filteredApp).length == 0">
            <p>No match found!</p>
        </div>
        <div id="menu-app-management-block">
            <a [href]="rootUrl + 'dhis-web-menu-management/'" id="app-management-btn">
          MANAGE MY APPS
        </a>
        </div>
    </div>
</div>