#menu-search-container {
    display: flex;
    position: relative;
}

#menu-search-input {
    background-color: transparent;
    color: #fff !important;
    float: right;
    border-style: none;
    border-bottom: solid 1px #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 10px 0px 5px 0px;
}

#menu-search-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.7);
}

#menu-search-input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.7);
}

#menu-search-input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.7);
}

#menu-search-input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.7);
}

#menu-search-input:focus {
    outline: none;
    border-bottom: solid 2px #ffffff;
}

#menu-toggle-link {
    margin: 10px;
}

#menu-toggle-link a {
    cursor: pointer;
}

.menu-toggle-icon {
    display: block;
    height: 25px;
    width: 25px;
    fill: #ffffff;
}

#menu-list-block {
    position: absolute;
    top: 49px;
    max-width: 650px;
    width: 100%;
    height: 410px;
    right: 10px;
    z-index: -1000;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

#menu-inner-list-block {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    height: 360px;
    padding: 10px;
}

#menu-inner-list-block:hover {
    overflow: auto;
}

#menu-inner-list-block-no-match {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    height: 350px;
    font-size: 26px;
    color: #cccccc;
}

#menu-inner-list-block-no-match p {
    padding-top: 100px;
    width: 100% !important;
    text-align: center;
}

.apps {
    padding: 15px;
    overflow: auto;
    right: 35px;
    width: 600px;
    height: 400px;
}

.apps-hidden {
    display: none;
}

.apps,
.profile {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ececec;
    top: 50px;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.175);
}

.app-menu-btn {
    margin: 5px;
    text-decoration: none;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid thin #eeeeee;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 5px;
}

.app-menu-btn:hover {
    background-color: #f1f1f1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}

.app-menu-btn img {
    display: block;
    margin: auto;
    height: 50px;
}

.app-menu-name {
    margin-top: 5px;
    font-size: 11px;
    text-align: center;
    color: #222222;
}

#menu-inner-list-block::-webkit-scrollbar {
    width: 5px;
}

#menu-inner-list-block::-webkit-scrollbar-track {
    background-color: #eeeeee;
}

#menu-inner-list-block::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}

#menu-app-management-block {
    text-align: center;
    position: relative;
    height: 50px;
    padding-top: 10px;
    -webkit-box-shadow: 0px -1px 2px -1px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px -1px 2px -1px rgba(0, 0, 0, 0.16);
    box-shadow: 0px -1px 2px -1px rgba(0, 0, 0, 0.16);
}

#app-management-btn {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: 2%;
    right: 2%;
    color: #000000;
    width: 96%;
    padding: 5px;
    text-decoration: none;
    border: solid thin #eeeeee;
}

#app-management-btn:hover {
    background-color: #dddddd;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}
