<div class="legend item-absolute">
  <div class="map-legend-body">
    <div *ngFor="let item of thematicLayerLegendSet.items; let i = index" class="map-legend-table">
      <div *ngIf="!thematicLayerLegendSet.usePatterns" [ngStyle]="{ backgroundColor: item.color, width: '40px' }"></div>
      <div *ngIf="thematicLayerLegendSet.usePatterns">
        <img src="{{ 'assets/icons/' + item.pattern + '.png' }}" alt="" width="40" height="30" />
      </div>
      <ul class="map-legend-table-list">
        <li class="font-weight-bold">{{ item.name }}</li>
        <li>
          {{ item.startValue }}<img [src]="lessThanOrEqualIcon" alt="" class="equitySign" /> -
          <img
            [src]="i === thematicLayerLegendSet.items.length - 1 ? lessThanOrEqualIcon : lessThanIcon"
            alt=""
            class="equitySign"
          />{{ item.endValue }} ({{ item.count || 0 }})
        </li>
      </ul>
    </div>
  </div>
</div>
