.menu-profile-icon {
    height: 38px;
    width: 38px;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    background-color: #eee;
}

#menu-profile-btn {
    margin-right: 2rem;
    margin-top: 5px;
}

#profile-menu-list-block {
    position: absolute;
    top: 42px;
    max-width: 650px;
    width: 100%;
    height: 300px;
    right: 10px;
    z-index: -1000;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    display: flex;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

#profile-menus-list {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: 15px;
    height: 300px;
}

#user-profile-block {
    position: relative;
    text-align: center;
    width: 30%;
    height: 300px;
    padding-top: 20px;
    background-color: #f5f5f5;
}

.user-profile-logo {
    margin: auto;
    height: 70px;
    width: 70px;
    padding-top: 12px;
    border-radius: 35px;
    font-size: 32px;
    color: #9e9e9e;
    font-weight: 600;
    background-color: #ddd;
}

#user-profile-name {
    margin-top: 10px;
}

#logout-btn-block {
    position: absolute;
    bottom: 20px;
    color: #555555;
    padding: 5px;
    width: 100%;
}

#logout-btn {
    display: block;
    text-decoration: none;
    text-align: center;
}

#logout-btn:hover {
    color: #222222;
}

.profile-menu-btn {
    margin: 5px;
    text-decoration: none;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid thin #eeeeee;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 5px;
}

.profile-menu-btn:hover {
    background-color: #f1f1f1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}

.profile-menu-btn img {
    display: block;
    margin: auto;
    height: 50px;
}

.profile-menu-name {
    margin-top: 5px;
    font-size: 11px;
    text-align: center;
    color: #222222;
}
