<div class="visualization-resize-section">
  <button
    class="dashboard-btn visualization-resize-btn animated fadeInRight"
    title="Resize item"
    [disabled]="!loaded"
    *ngIf="showResizeButton && loaded"
    (click)="resizeCard($event)"
  >
    <img src="assets/icons/resize.png" alt="">
  </button>
  <button
    class="dashboard-btn visualization-resize-btn"
    title="View full screen"
    (click)="toggleFullScreen($event)"
    [disabled]="!loaded"
  >
    <img src="assets/icons/full-screen.png" alt="">
  </button>
</div>
