<div class="mt-2" *ngFor="let item of [1,2,3,4]">
    <div class="d-flex align-items-center">
        <div class="legend-color" [style.background-color]="'red'">&nbsp;</div>
        <small class="ml-2">Label</small>
    </div>
    <div class="d-flex align-items-center justify-content-around mt-1">
        <mat-form-field class="w-100">
            <input matInput placeholder="Min">
        </mat-form-field>
        <div class="legend-class-separator">-</div>
        <mat-form-field class="w-100">
            <input matInput placeholder="Max">
        </mat-form-field>
    </div>
</div>
