.dashboard-border {
  /*border: solid 1px rgba(0, 0, 0, 0.12);*/
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);

}

.dashboard-border,
.dashboard-input {
   border-radius: 2px;
}

.dashboard-btn {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dashboard-btn:hover {
  background-color: rgba(241, 241, 241, 0.6);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.dashboard-btn:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.dashboard-input {
  border-style: none;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  padding: 10px;
  font-size: 13px;
}

.dashboard-input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

.leaflet-cluster-icon {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.65);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  background-clip: padding-box;
}

.leaflet-cluster-icon span {
  align-self: center;
}

@media print {
  .no-print {
    display: none;
  }
}

@media print {
  .dashboard-btn {
    display: none;
  }
}
