<div [ngClass]="dashboardShapeClass(itemData.shape)" class="{{isFullScreen ? 'full-screen' : ''}} dashboard-card">
    <div class="panel panel-default dashboard-block">
        <div class="panel-heading dashboard-card-heading">
            <div class="row">
                <div class="col-md-12" style="position: relative;">
                    <ul class="nav nav-pills navbar-left dashboard-item-header" *ngIf="canShowIcons(itemData.type)">
                        <!--<li><a href=""><i class="fa fa-table"></i></a></li>-->
                        <li *ngIf="filterShown">
                          <ul class="list-inline">
                            <li><app-organisation-unit-tree [orgunit_model]="orgunit_model"></app-organisation-unit-tree></li>
                            <!--<li><app-period-filter></app-period-filter></li>-->
                          </ul>
                        </li>
                        <li>
                          <a (click)="filterShown = !filterShown" tooltip="Filter by period and orgunit" placement="right">
                            <i class="fa {{filterShown ? 'fa-times' : 'fa-filter'}}"></i>
                          </a>
                        </li>
                        <li *ngIf="itemData.interpretationCount == 0"><a (click)="toggleInterpretation()" tooltip="share interpretation"><i class="fa fa-share-alt"></i></a></li>
                        <li *ngIf="itemData.interpretationCount > 0">
                          <a (click)="toggleInterpretation()" tooltip="{{itemData.interpretationCount}} new interpretations">
                            <span *ngIf="!isInterpretationShown && interpretationReady">
                              <small>{{interpretation}}</small>
                              <!--<span class="badge intepretation-count">{{itemData.interpretationCount}}</span>&nbsp;-->
                              <!--<i class="fa fa-comments-o"></i>-->
                            </span>
                            <span *ngIf="isInterpretationShown"><i class="fa fa-times"></i></span>
                          </a>
                        </li>
                    </ul>
                  <ul class="nav nav-pills dashboard-item-header" style="position: absolute; right:0; top:0;">
                    <!--<li><a href=""><i class="fa fa-times"></i></a></li>-->
                    <li><a *ngIf="!confirmDelete" (click)="confirmDelete=true" class="delete-btn" tooltip="Delete dashboard"><i class="fa fa-trash"></i></a></li>
                    <li *ngIf="!isFullScreen"><a (click)="resizeDashboard(itemData.shape)" tooltip="Resize dashboard"><i class="fa fa-arrows-h"></i></a></li>
                    <li><a (click)="isFullScreen = !isFullScreen"><i class="fa fa-expand" tooltip="Full screen"></i></a></li>
                    <li *ngIf="confirmDelete" class="dashboard-delete-block">
                      <small>Delete?</small>
                      <button (click)="confirmDelete = false" class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                      <button (click)="deleteDashboardItem(itemData.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="panel-body dashboard-item-body {{!canShowIcons(itemData.type) ? 'no-footer' : ''}}">
          <div class="row">
            <div [ngClass]="isInterpretationShown ? 'col-md-7' : 'col-md-12'">
              <!--user type section-->
              <table class="table table-hover" *ngIf="currentVisualization == 'USERS'">
                <tr>
                  <th colspan="2">
                    Users
                  </th>
                </tr>
                <tr *ngFor="let user of itemData.users">
                  <td width="95%">{{user.displayName}}</td>
                  <td width="5%"><a href="">&times;</a></td>
                </tr>
              </table>
              <!--end of use type section-->

              <!--resources type section-->
              <table class="table table-hover" *ngIf="currentVisualization == 'RESOURCES'">
                <tr>
                  <th colspan="2">
                    Resources
                  </th>
                </tr>
                <tr *ngFor="let resource of itemData.resources">
                  <td width="95%">{{resource.displayName}}</td>
                  <td width="5%"><a href="">&times;</a></td>
                </tr>
              </table>
              <!--end of resource type section-->

              <!--map type section-->
              <div class="text-center" *ngIf="currentVisualization == 'MAP'">
                <h2 class="text-info">Comming soon!</h2>
              </div>
              <!--end of map type section-->

              <!--reports type section-->
              <table class="table table-hover" *ngIf="currentVisualization == 'REPORTS'">
                <tr>
                  <th colspan="2">
                    Reports
                  </th>
                </tr>
                <tr *ngFor="let report of itemData.reports">
                  <td width="95%">{{report.displayName}}</td>
                  <td width="5%"><a href="">&times;</a></td>
                </tr>
              </table>
              <!--end of report type section-->

              <!--chart or event chart type section-->
              <div class="row" *ngIf="currentVisualization == 'CHART' || currentVisualization == 'EVENT_CHART'">
                <div class="col-md-12 chart-block">
                  <app-loader *ngIf="loadingChart" [loadingMessage]="'Loading chart...'"></app-loader>
                  <div class="chart-body" *ngIf="!loadingChart && !chartHasError" [ng2-highcharts]="chartObject"></div>
                  <app-error-notifier *ngIf="chartHasError" [errorMessage]="'Something is wrong'"></app-error-notifier>
                  <div class="chart-options">
                    <ul class="nav nav-stacked">
                      <li *ngFor="let chartType of chartTypes">
                        <a (click)="setChartType(chartType.type)" title="{{chartType.description}}" [ngClass]="currentChartType == chartType.type ? 'active-type' : ''">
                          <img [src]="chartType.icon" class="chart-option-icon" alt="">
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--end of chart or event chart section-->

              <!--report table type section-->
              <div class="row" *ngIf="currentVisualization == 'REPORT_TABLE' || currentVisualization == 'TABLE' || currentVisualization == 'EVENT_REPORT'">
                <div class="col-md-12">
                  <app-loader *ngIf="loadingTable" [loadingMessage]="'Loading ' + currentVisualization"></app-loader>
                  <table class="table table-bordered table-responsive" *ngIf="!loadingTable && !tableHasError">
                    <thead>
                    <tr *ngFor="let header of tableObject.headers">
                      <th *ngFor="let table_column of tableObject.columns"></th>
                      <th *ngFor="let header_column of header.items" [colSpan]="header_column.span" style="text-align: center">
                        {{ header_column.name }}
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of tableObject.rows">
                      <td *ngFor="let header_column of row.items" style="text-align: center;vertical-align: middle" [attr.rowspan]="header_column.row_span">
                        {{ header_column.val }}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--end of report table type section-->

              <!--dictionary section-->
              <app-metadata-dictionary *ngIf="currentVisualization == 'DICTIONARY'" [metadataidentifiers]="metadataIdentifiers"></app-metadata-dictionary>
              <!--end of dictionary section-->
            </div>
            <div class="col-md-5" *ngIf="isInterpretationShown">
              <app-dashboard-item-interpretation [itemData]="itemData"></app-dashboard-item-interpretation>
            </div>
          </div>
        </div>
        <div class="panel-footer dashboard-card-footer" *ngIf="canShowIcons(itemData.type)">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills dashboard-footer-nav">
                        <li><a (click)="setVisualization('TABLE')" [ngClass]="currentVisualization == 'TABLE' ? 'active-visualisation': ''"><i class="fa fa-table"></i></a></li>
                        <li><a (click)="setVisualization('CHART')" [ngClass]="currentVisualization == 'CHART' ? 'active-visualisation': ''"><i class="fa fa-line-chart"></i></a></li>
                        <li><a (click)="setVisualization('MAP')" [ngClass]="currentVisualization == 'MAP' ? 'active-visualisation': ''"><i class="fa fa-map"></i></a></li>
                        <li><a (click)="setVisualization('DICTIONARY')" class="dictionary-btn" [ngClass]="currentVisualization == 'DICTIONARY' ? 'active-visualisation': ''"><i class="fa fa-info-circle"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
