.dashboard-card {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.intepretation-count {
    border-radius: 2px;
    padding:2px;
    font-size: 9px;
    margin-bottom: 3px;
    background-color: #23527C !important;
}

.dashboard-item-header li > a {
    font-size: 12px;
    height: 29px;
    border-radius: 0px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 6px;
}

.dashboard-item-body {
    height: 350px;
    position: relative;
    overflow: auto;
}

.full-screen .dashboard-item-body {
  height: 75vh;
}

.no-footer {
  height: 380px !important;
}

.dashboard-modal {
    width: 95%;
}

.full-screen {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 60px;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: rgba(0,0,0,.4);
}

.dashboard-footer-nav > li> a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-size: 13px;
  border-radius: 23px;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-right: 3px;
  cursor: pointer;
  height: 23px;
  width: 23px;
  background-color: #eee;
  padding-left: 5px;
  padding-top: 3px;
}

.dashboard-footer-nav > li> a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.dictionary-btn > i {
  font-size: 20px;
  margin-left: -2px;
  margin-top: -2px;
}

.dashboard-card-heading,
.dashboard-card-footer {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 30px;
  background-color: transparent !important;
}

.dashboard-delete-btn {
  background-color: #cecece;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  position: absolute;
  cursor: pointer;
  padding: 1px;
  right: 0;
  font-size: 9px;
  top: 0;
}

.dashboard-delete-block {
  padding-top: 4px;
  padding-right: 2px;
}

.delete-btn {
  visibility:hidden;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.dashboard-card-heading:hover .delete-btn {
  visibility:visible;
}

.active-visualisation {
  background-color: #cecece !important;
}


.chart-options {
  position: absolute;
  visibility:hidden;
  height: 100%;
  width: 35px;
  right: 0;
  top:0;
  /*z-index: 500;*/
  padding-top: 5px;
  padding-right: 2px;
  background-color: transparent;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.chart-options ul > li > a {
  cursor: pointer;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 10px;
  height: 30px;
  width: 30px;
  border: solid 1px #ddd;
  border-radius: 15px;
  background-color: #ddd;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-bottom: 5px;
}

.chart-options ul > li > a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.chart-option-icon {
  margin: auto;
  height: 18px;
  width: 18px;
}
.active-type {
  background-color: #cecece !important;
}

.dashboard-item-body:hover .chart-options {
  visibility:visible;
}

.chart-block { }
.chart-body {
  height: 310px !important;
  width: 98%;
}
.chart-block:hover .chart-options {
  visibility:visible;
}
