<div
  [ngClass]="getDashboardShapeClasses(visualizationObject.shape, dashboardShapes)"
  class="dashboard-card {{cardConfiguration.showFullScreen ? 'full-screen' : ''}}"
  (mouseenter)="getMouseAction(visualizationObject.type,'mouseenter')"
  (mouseleave)="getMouseAction(visualizationObject.type,'mouseleave')"
>
  <div
    [ngClass]="['panel', 'panel-default', 'dashboard-block', cardConfiguration.hideCardBorders ? 'no-borders': '']"
    [ngStyle]="{'height': visualizationObject.details.cardHeight}"
  >
    <div [ngClass]="['panel-heading', 'dashboard-card-heading']" *ngIf="cardConfiguration.showCardHeader">
      <div class="row">
        <div [ngClass]="'col-md-12'" style="position: relative;">
          <!--left hand side options-->
          <ul [ngClass]="['nav', 'nav-pills', 'navbar-left', 'dashboard-item-header']" *ngIf="!hideOptions(visualizationObject.type, visualizationWithNoOptions)">
            <li *ngIf="cardConfiguration.showFilter">
              <ul class="list-inline dashboard-left-item-header" style="max-height: 30px;">
                <li>
                  <a href="" class="btn btn-xs btn-default">Data</a>
                  <!--<app-org-unit-filter></app-org-unit-filter>-->
                  <!--<app-org-unit-filter (onOrgUnitUpdate)="updateFilters($event)"></app-org-unit-filter>-->
                </li>
                <li>
                  <a href="" class="btn btn-xs btn-default">
                    Organisation unit
                  </a>
                  <!--<app-org-unit-filter></app-org-unit-filter>-->
                  <!--<app-org-unit-filter (onOrgUnitUpdate)="updateFilters($event)"></app-org-unit-filter>-->
                </li>
                <li>
                  <a href="" class="btn btn-xs btn-default">Period</a>
                  <!--<app-period-filter (onPeriodUpdate)="updateFilters($event)"></app-period-filter>-->
                  <!--<app-period-filter (onPeriodUpdate)="updateFilters($event)"></app-period-filter>-->
                </li>
                <li>
                  <a href="" class="btn btn-xs btn-default">
                    Options
                  </a>
                  <!--<app-org-unit-filter></app-org-unit-filter>-->
                  <!--<app-org-unit-filter (onOrgUnitUpdate)="updateFilters($event)"></app-org-unit-filter>-->
                </li>
                <li>
                  <a href="" class="btn btn-xs btn-default">Layout</a>
                  <!--<app-period-filter (onPeriodUpdate)="updateFilters($event)"></app-period-filter>-->
                  <!--<app-period-filter (onPeriodUpdate)="updateFilters($event)"></app-period-filter>-->
                </li>
                <!--<li>-->
                <!--<app-layout (onLayoutUpdate)="updateLayout($event)" [visualizationType]="currentVisualization"></app-layout>-->
                <!--</li>-->
              </ul>
            </li>
            <li>
              <a (click)="cardConfiguration.showFilter = !cardConfiguration.showFilter" tooltip="Filter by period and orgunit" placement="right">
                <i class="fa {{cardConfiguration.showFilter ? 'fa-times' : 'fa-filter'}}"></i>
              </a>
            </li>
            <li style="background-color: #ddd;" *ngIf="visualizationObject.details.updateAvailable">
              <a href="" title="Changes available, update">
                <i class="fa fa-save"></i>
                <span style="font-size: 20px; position: absolute; top: -5px; right: 0px;">*</span>
              </a>
            </li>
          </ul>
          <!-- end of left hand options-->

          <!--right hand options-->
          <ul class="nav nav-pills dashboard-item-header" style="position: absolute; right:0; top:0;">
            <li>
              <a
                *ngIf="cardConfiguration.showDeleteButton && !cardConfiguration.confirmDelete"
                (click)="cardConfiguration.confirmDelete=true"
                class="delete-btn" tooltip="Delete dashboard"
              >
                <i class="fa fa-trash"></i>
              </a>
            </li>
            <li *ngIf="confirmDelete" class="dashboard-delete-block">
              <small>Delete?</small>
              <button (click)="deleteDashboardItem(currentDashboard,visualizationObject.id)" class="btn btn-danger btn-xs">
                <i class="fa fa-trash"></i>
              </button>
              <button (click)="confirmDelete = false" class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
            </li>
            <li *ngIf="!cardConfiguration.showFullScreen || cardConfiguration.showResizeButton">
              <a (click)="resizeDashboard(visualizationObject.shape, dashboardShapes)" tooltip="Resize dashboard">
                <i class="fa fa-arrows-h"></i>
              </a>
            </li>
            <li><a (click)="toggleFullScreen()"><i class="fa fa-expand" tooltip="Full screen"></i></a></li>
          </ul>
          <!--end of right hand options-->
        </div>
      </div>
    </div>
    <div
      [ngClass]="['panel-body', 'dashboard-item-body']"
      [ngStyle]="{'height': visualizationObject.details.itemHeight, 'position': 'relative'}"
      id="{{visualizationObject.id}}"
      #dashboardItemBody
    >
      <!--<app-loader *ngIf="currentVisualization == null" [loadingMessage]="'Analysing current dashboard item..'"></app-loader>-->
      <!--chart block-->
      <app-chart
        [visualizationObject]="visualizationObject"
        *ngIf="currentVisualization == 'CHART'"
      >
      </app-chart>
      <!--end of chart  block-->

      <!--table block-->
      <!--<app-table [tableData]="visualizationObject" *ngIf="!loading && currentVisualization == 'TABLE'"></app-table>-->
      <!--end of table  block-->

      <!--map block-->
      <!--<app-map [mapData]="visualizationObject" *ngIf="!loading && currentVisualization == 'MAP'"></app-map>-->
      <!--end of map block-->

      <!--&lt;!&ndash;user block&ndash;&gt;-->
      <!--<app-user [userData]="visualizationObject$ | async" *ngIf="currentVisualization == 'USERS'"></app-user>-->
      <!--end of user block-->

      <!--app type section-->
      <!--<div class="row" *ngIf="currentVisualization == 'APP'">-->
      <!--<iframe class="col-md-12" style="height:75vh;border:0" frameborder="0" scrolling="no" allowfullscreen="" [src]="appUrl | safe"></iframe>-->
      <!--&lt;!&ndash;<app-error-notifier *ngIf="itemData.appKey" [errorMessage]="'Missing dashboard App'"></app-error-notifier>&ndash;&gt;-->
      <!--</div>-->
      <!--end of app type section-->
      <div class="favorite-settings row" [ngStyle]="{'height' : visualizationObject.details.itemHeight}" *ngIf="showFavoriteSettings">
        <div class="col-md-12">
          <app-favorite-settings
            [visualizationSettings]="getVisualizationSettings(visualizationObject.layers)"
            [visualizationType]="currentVisualization"
            (onClose)="toggleFavoriteSettings($event)"
            (onSettingsUpdate)="updateVisualizationSettings($event)"
          >
          </app-favorite-settings>
        </div>
      </div>
    </div>
    <div [ngClass]="['panel-footer','dashboard-card-footer']" *ngIf="cardConfiguration.showCardFooter">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills dashboard-footer-nav">

            <li><a (click)="updateVisualization('TABLE')"
                   [ngClass]="currentVisualization == 'TABLE' ? 'active-visualisation': ''"><i class="fa fa-table"></i></a>
            </li>
            <li><a (click)="updateVisualization('CHART')"
                   [ngClass]="currentVisualization == 'CHART' ? 'active-visualisation': ''"><i
              class="fa fa-line-chart"></i></a></li>
            <li>
              <a (click)="updateVisualization('MAP')"
                 [ngClass]="currentVisualization == 'MAP' ? 'active-visualisation': ''"><i class="fa fa-map"></i></a>
            </li>
            <li>
              <a (click)="updateVisualization('DICTIONARY')"
                 class="dictionary-btn" [ngClass]="currentVisualization == 'DICTIONARY' ? 'active-visualisation': ''">
                <i class="fa fa-info-circle"></i>
              </a>
            </li>
            <li>
              <a (click)="cardConfiguration.showDownloadOptions = !cardConfiguration.showDownloadOptions">
                <i class="fa fa-download"></i>
              </a>
            </li>
            <li *ngIf="cardConfiguration.showDownloadOptions"><a class="download-btn" href=""><i class="fa fa-file-excel-o"></i></a></li>
            <li *ngIf="cardConfiguration.showDownloadOptions"><a class="download-btn" href=""><i class="fa fa-file-pdf-o"></i></a></li>
            <li *ngIf="cardConfiguration.showDownloadOptions"><a class="download-btn" href=""><i class="fa fa-file-image-o"></i></a></li>
            <li *ngIf="cardConfiguration.showDownloadOptions && currentVisualization === 'MAP'"><a class="download-btn" href=""><i class="fa fa-file-o"></i></a></li>
            <li style="position: absolute; float: right;"><a (click)="toggleFavoriteSettings()"><i class="fa fa-cog"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
