.dashboard-card {
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.dashboard-card-heading,
.dashboard-card-footer {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 30px;
  background-color: transparent !important;


}

.dashboard-card-footer {
  position: absolute;
  bottom: 25px;
  padding-top: 2px;
  border-top-style: none;
  z-index: 900;
}

.dashboard-item-body {
  position: relative;
  overflow: auto;
  padding: 0px;
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
}

.dashboard-item-header li > a {
  font-size: 12px;
  height: 29px;
  border-radius: 0px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 6px;
}
.dashboard-left-item-header li{
  padding-right: 3px;
  padding-left: 3px;
}
.dashboard-left-item-header li > a {
  border-radius: 3px;
  height: 25px;
  padding-top: 2px;
  margin-top: 2px;
  margin-bottom: 4px;
}

.full-screen {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: rgba(0,0,0,.4);
}

.dashboard-block:hover .delete-btn {
  visibility:visible;
}

.no-borders{
  border: 0px;
}

.no-borders > .panel-body {
  padding: 0px;
}

.dashboard-footer-nav > li> a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-size: 13px;
  border-radius: 23px;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-right: 3px;
  cursor: pointer;
  height: 23px;
  width: 23px;
  background-color: #eee;
  padding-left: 5px;
  padding-top: 3px;
}

.dashboard-footer-nav > li> a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.dictionary-btn > i {
  font-size: 20px;
  margin-left: -2px;
  margin-top: -2px;
}

.download-btn > i {
  font-size: 16px;
  margin-top: -2px;
}

.dashboard-delete-block {
  padding-top: 4px;
  padding-right: 2px;
}

.active-visualisation {
  background-color: #cecece !important;
}

.favorite-settings {
  position: absolute;
  width: 350px;
  background-color: #ffffff;
  top: 0px;
  bottom: 0px;
  right: 10px;
  z-index: 1000;
  overflow: auto;
  box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
