.dashboard-container {
  .dashboard-menu-container {
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1300;
    min-height: 50px;
    background-color: #ffffff;
  }
}
