<div class="container-fluid dashboard-container">

    <!-- dashboard menu -->
    <div class="dashboard-menu-container" [style.height]="menuContainerHeight + 'px'">
        <div *ngIf="dashboardLoading$ | async" style="display: flex; padding: 10px;">
            <!-- hide create button loader -->
            <!-- <div style="height: 34px; width: 34px; margin-left: 2px;">
                <app-dashboard-progress [borderRadius]="'17px'"></app-dashboard-progress>
            </div> -->
            <div style="height: 34px; width: 120px; margin-left: 7px;">
                <app-dashboard-progress [borderRadius]="'17px'"></app-dashboard-progress>
            </div>
            <div style="height: 34px; width: 120px; margin-left: 7px;">
                <app-dashboard-progress [borderRadius]="'17px'"></app-dashboard-progress>
            </div>
        </div>
        <app-dashboard-menu *ngIf="dashboardLoaded$ | async" [dashboardMenuList]="dashboards$ | async" [currentDashboardId]="currentDashboardId$ | async"
            [currentUser]="currentUser$ | async" [systemInfo]="systemInfo$ | async" (setCurrentDashboard)="onSetCurrenDashboardAction($event)"
            (toggleDashboardBookmark)="onToggleDashboardBookmark($event)" (createDashboard)="onCreateDashboardAction($event)"
            [dashboardGroups]="dashboardGroups$ | async" [activeDashboardGroupId]="currentDashboardGroupId$ | async" (setActiveDashboardGroup)="onSetActiveDashboardGroupAction($event)"></app-dashboard-menu>
    </div>
    <!-- end of dashboard menu -->

    <!-- dashboard content -->
    <div class="dashboard-content" [style.margin-top]="dashboardContentMarginTop + 'px'">
        <router-outlet></router-outlet>
    </div>
    <!-- end of dashboard content -->
</div>