<div class="visualization-filter-section">
  <div class="visualization-filter-buttons">
    <button
      type="button"
      class="btn btn-outline-dark btn-sm button-close d-inline-flex visualization-filter-btn border-round-right"
      title="Filter by different dimensions"
      [disabled]="!loaded"
      (click)="toggleFilters($event)"
    >
      <img *ngIf="showFilters" src="assets/icons/arrow-left.png" alt="" />
      <img *ngIf="showFilters" src="assets/icons/close.png" alt="" />
    </button>
    <div class="visualization-filter-list" *ngIf="showFilters">
      <button
        type="button"
        class="btn btn-outline-dark btn-sm org-unit-filter-btn border-round "
        [ngClass]="{ 'active-filter': selectedFilter === 'ORG_UNIT' }"
        title="Filter by organisation unit"
        (click)="toggleCurrentFilter($event, 'ORG_UNIT')"
      >
        <img src="assets/icons/tree.png" alt="" />
        <span>Org Unit</span>
      </button>
      <button
        type="button"
        class="btn btn-outline-dark btn-sm period-filter-btn border-round"
        [ngClass]="{ 'active-filter': selectedFilter === 'PERIOD' }"
        title="Filter by period"
        (click)="toggleCurrentFilter($event, 'PERIOD')"
      >
        <img src="assets/icons/period.png" alt="" />
        <span>Period</span>
      </button>
      <button
        type="button"
        class="btn btn-outline-dark btn-sm style-filter-btn border-round"
        [ngClass]="{ 'active-filter': selectedFilter === 'STYLE' }"
        title="Filter by period"
        (click)="toggleCurrentFilter($event, 'STYLE')"
      >
        <img src="assets/icons/period.png" alt="" />
        <span>Style</span>
      </button>
    </div>
  </div>
  <div class="visualization-filter-body dashboard-border" *ngIf="selectedFilter">
    <!--org unit filter-->
    <ngx-dhis2-org-unit-filter
      *ngIf="selectedFilter === 'ORG_UNIT'"
      (orgUnitClose)="onFilterClose($event)"
      (orgUnitUpdate)="onFilterUpdateAction($event, 'ORG_UNIT')"
    ></ngx-dhis2-org-unit-filter>
    <!--end of org unit filter-->

    <!--period filter-->
    <app-period-filter
      *ngIf="selectedFilter === 'PERIOD'"
      [selectedPeriods]="selectedPeriods"
      [periodConfig]="periodConfig"
      (onPeriodFilterClose)="onFilterClose($event)"
      (onPeriodUpdate)="onFilterUpdateAction($event, 'PERIOD')"
    ></app-period-filter>
    <!--end of period filter-->

    <!-- style filter -->
    <app-map-style
      *ngIf="selectedFilter === 'STYLE'"
      [selectedLayer]="selectedLayer"
      [legendSets]="legendSets$ | async"
      (onStyleFilterClose)="onFilterClose($event)"
      (onStyleUpdate)="onStyleFilterUpdate($event)"
      [isloading]="isFilterSectionLoading$ | async"
      [justUpdated]="isFilterSectionUpdated$ | async"
    ></app-map-style>
    <!-- end of style filter -->
  </div>
</div>
