<div class="visualization-filter-section">
  <div class="visualization-filter-buttons">
    <button
      class="dashboard-btn button-close visualization-filter-btn border-round-right"
      title="Filter by different dimensions"
      [disabled]="!loaded"
      (click)="toggleFilters($event)"
    >
      <img *ngIf="showFilters" src="assets/icons/close.png" alt="" />
    </button>
    <div class="visualization-filter-list" *ngIf="showFilters">
      <button
        class="dashboard-btn style-filter-btn border-round"
        [ngClass]="{ 'active-filter': selectedFilter === 'STYLE' }"
        title="Filter by period"
        (click)="toggleCurrentFilter($event, 'STYLE')"
      >
        <img src="assets/icons/period.png" alt="" />
        <span>Style</span>
      </button>
    </div>
  </div>
  <div
    class="visualization-filter-body dashboard-border"
    *ngIf="selectedFilter"
  >
    <!-- style filter -->
    <app-map-style
      *ngIf="selectedFilter === 'STYLE'"
      [selectedLayer]="selectedLayer"
      [legendSets]="legendSets$ | async"
      (onStyleFilterClose)="onFilterClose($event)"
      (onStyleUpdate)="onStyleFilterUpdate($event)"
    ></app-map-style>
    <!-- end of style filter -->
  </div>
</div>
