.visualization-filter-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.visualization-filter-buttons {
  display: flex;
  padding: 3px 10px 3px 0px;
  border-bottom: solid thin #ececec;
}

.visualization-filter-btn img {
  display: block;
  margin: auto;
  height: 10px;
}

.no-borders {
  box-shadow: none;
}

.no-borders img {
  height: 15px;
}

.period-filter-btn img {
  display: block;
  margin: auto;
  height: 15px;
}

.data-filter-btn,
.period-filter-btn,
.org-unit-filter-btn,
.layout-filter-btn,
.style-filter-btn {
  margin-right: 5px;
  display: flex;
  width: auto;
  font-size: 12px;
  border-radius: 15px;
}

.data-filter-btn img {
  display: block;
  margin: auto;
  height: 15px;
}

.org-unit-filter-btn img {
  display: block;
  margin: auto;
  height: 15px;
}

.layout-filter-btn img {
  display: block;
  margin: auto;
  height: 15px;
}

.style-filter-btn img {
  display: block;
  margin: auto;
  height: 15px;
}

.visualization-filter-list {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.visualization-filter-body {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 5px;
  width: 100%;
  flex: 1;
}

.active-filter {
  background-color: #f1f1f1;
}

.map-filter-btn {
  border-radius: 0 15px 15px 0;
  width: 45px;
}
.map-filter-btn:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.map-filter-btn img {
  height: 12px;
}

.button-close {
  padding-left: 0;
  border-radius: 0 50% 50% 0;
}

@media (max-width: 500px) {
  .visualization-filter-body {
    width: 95%;
  }
}

:host {
  height: 100%;
}
