.dashboard-container {
  /*width: 21cm;*/
}
.welcoming-block {
  margin-top: 50px;
}

.dashboard-header {
  margin-top: 30px;
}

@media print {
  .dashboard-header {
    margin-top: 0;
  }

  .dashboard-container {
    /*width: 21cm;*/
  }
}
