<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-dashboard-menu></app-dashboard-menu>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-dashboard-header></app-dashboard-header>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-dashboard-progress></app-dashboard-progress>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-visualization-list></app-visualization-list>
    </div>
  </div>
</div>
