<div class="visualization-resize-section">
  <button class="visualization-resize-btn animated fadeInRight" [title]="'Resize dashboard item' | translate"
    *ngIf="showResizeButton" (click)="onResizeCard($event)">
    <img [src]="resizeIcon" alt="">
  </button>
  <button matRipple class="mat-elevation-z1 visualization-resize-btn"
    [title]=" fullScreen ? 'Exit fullscreen' : 'View fullscreen' | translate" (click)="onToggleFullScreen($event)">
    <mat-icon *ngIf="!fullScreen">fullscreen</mat-icon>
    <mat-icon *ngIf="fullScreen">fullscreen_exit</mat-icon>
  </button>
</div>
