<div
  class="dashboard-menu-item-desktop"
>
  <!--name block-->
  <a
    *ngIf="showName"
    class="dashboard-menu-name-desktop"
    routerLinkActive="active-dashboard"
    [routerLink]="['/dashboards', dashboardMenuItem.id]"
    (dblclick)="toggleEditForm($event)"
    (contextmenu)="showDropdown($event)"
  >
    {{ dashboardMenuItem.name}}
  </a>
  <!--end of name block-->

  <!--create block-->
  <div
    class="dashboard-create-progress-block"
    *ngIf="dashboardMenuItem.details.isNew && !dashboardMenuItem.details.creationComplete">
    <img [src]="'assets/icons/balls-3.svg'" alt="" style="height: 20px; width: 20px;">
    <div>Creating dashboard..</div>
  </div>
  <!--end of create block-->

  <!--edit block-->
  <div
    class="dashboard-edit-block"
    *ngIf="showEditForm"
  >
    <!--<app-edit-dashboard-->
      <!--[dashboard]="dashboardMenuItem"-->
      <!--(onUpdateSuccess)="toggleEditForm()"-->
    <!--&gt;</app-edit-dashboard>-->
  </div>

  <!--end of edit block-->

  <!--delete block-->
  <div *ngIf="showDeleteBlock">
    <!--<app-delete-dashboard-->
      <!--[dashboardId]="dashboardMenuItem.id"-->
      <!--[deleting]="dashboardMenuItem.details.toDelete"-->
      <!--(onCancelDelete)="showDeleteBlock = false"-->
    <!--&gt;</app-delete-dashboard>-->
  </div>
  <!--end of delete block-->

  <!-- dashboard menu item notification-->
  <a
    tooltip=""
    class="dashboard-menu-notification-icon"
    *ngIf="dashboardMenuItem.details.showIcon"
    appClickOutside (clickOutside)="hideDashboardNotificationIcon()"
  >
    <img *ngIf="dashboardMenuItem.details.editComplete || dashboardMenuItem.details.creationComplete" [src]="'assets/icons/tick.png'" alt="">
    <img *ngIf="dashboardMenuItem.details.error" [src]="'assets/icons/error.png'" alt="">
  </a>
  <!--end of dashboard menu item notification-->

  <!--dashboard item dropdown-->
  <div class="dashboard-item-dropdown">
    <ul
      class="option-dropdown"
      *ngIf="showDashboardItemDropdown"
      appClickOutside
      (clickOutside)="showDashboardItemDropdown = false">
      <li>
        <a (click)="toggleEditForm($event)">
          <img [src]="'assets/icons/edit.png'" alt="">
          Rename
        </a>
      </li>
      <!--<li>-->
      <!--<a (click)="openShareBlock()">-->
      <!--<img [src]="'assets/icons/share.png'" alt="">-->
      <!--Share-->
      <!--</a>-->
      <!--</li>-->
      <li>
        <a (click)="toggleDeleteForm($event)" class="text-danger">
          <img [src]="'assets/icons/trash.png'" alt="">
          Delete
        </a>
      </li>
    </ul>
  </div>
  <!-- end of dashboard item dropdown-->
</div>
