.navbar {
  border-radius: 0px;
  height: 50px;
}

.navbar-nav > li > a {
  color: #fff;
}

.navbar-nav > li > a:hover {
  background-color: transparent;
}

.navbar-brand {
  color: #fff;
}
.logo-link {
  margin-right: 25px;
}
.title-link {
  font-size: 15px;
}

.profile-btn {
  height: 40px;
  width: 40px;
  margin-top: 4px;
  margin-right: 15px;
  padding-top: 10px;
  padding-left: 7px;
  padding-right: 8px;
  border-radius: 40px;
  font-size: 16px;
  background-color: #eee;
}

.profile-btn:hover {
  background-color: #ececec !important;
}

.search-input {
  height: 40px;
  border-style: none;
  color: #fff;
  border-bottom: solid 1px #fff;
  margin-right: 10px;
}

.search-input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #fff !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #fff !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: #fff !important;
}

input:-ms-input-placeholder {
  color: #fff !important;
}

.profile {
  position: absolute;
  top: 100%;
  right: 20px;
  z-index: 900;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  /*border-radius: 4px;*/
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.apps {
  padding: 15px;
  overflow: auto;
  right: 35px;
  width: 600px;
  height: 400px;
}

.apps, .profile {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ececec;
  top: 50px;
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0,0,0,.175);
}

.app-item-btn {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-color: #eeeeee !important;
  width: 100px;
  height: 100px;
  display: block;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 10px;
}

.profile-item-btn {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-color: #eeeeee !important;
  width: 90px;
  height: 90px;
  display: block;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 10px;
}

.app-item-btn:hover,
.profile-item-btn:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.profile {
  right: 15px;
  width: 470px;
  height: 250px;
}

.user-settings {
  padding: 15px;
  width: 330px;
  height: 248px;
}

.user-profile {
  width: 120px;
  padding-top: 20px;
  background-color: #f5f5f5;
  height: 248px;
  text-align: center;
}

.user-profile-logo {
  margin-left: 17px;
  height: 70px;
  width: 70px;
  padding-top: 12px;
  border-radius: 35px;
  font-size: 32px;
  font-weight: 600;
  background-color: #ddd;
}

.logout-btn {
  margin-top: 60px;
  border-style: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
