<div class="container-fluid" style="margin-top: 15px;">
  <div class="row">
    <div class="col-md-12">
      <app-switching-btns
        (getActiveMetadataType)="getActiveMetadataType($event)"
      ></app-switching-btns>
    </div>
  </div>
  <!-- Indicators -->
  <div class="row" *ngIf="activeMetadataType == 'indicator'">
    <div class="col-md-12">
      <app-indicators-list
        [metadataIdentifiers]="metadataIdentifiers"
        (selectedMetadataIdentifier)="selectedMetadataIdentifier($event)"
        (loadedMetadata)="loadedMetadata($event)"
        (selectedMetadataGroups)="selectedMetadataGroups($event)"
      ></app-indicators-list>
    </div>
  </div>
  <!-- Program indicators -->
  <div class="row" *ngIf="activeMetadataType == 'programIndicator'">
    <div class="col-md-12">
      <app-program-indicators
        [metadataIdentifiers]="metadataIdentifiers"
        (selectedMetadataIdentifier)="selectedMetadataIdentifier($event)"
        (loadedMetadata)="loadedMetadata($event)"
        (selectedMetadataGroups)="selectedMetadataGroups($event)"
      ></app-program-indicators>
    </div>
  </div>
</div>
<div class="footer" style="height: 30px"></div>
