.thematic-config-card{
    border: 1px solid #4A5768;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.thematic-config-card-header{
    font-weight: bold;
    color: #4A5768;
    margin: 0
}
