<div class="visualization-types-section">
  <button
    class="dashboard-btn visualization-type-btn"
    [ngClass]="{
    'active-visualization': currentVisualization === 'TABLE'
    }"
    title="View Table"
    (click)="onVisualizationSelect($event, 'TABLE')"
  >
    <img src="assets/icons/table.png" alt="">
  </button>

  <button
    class="dashboard-btn visualization-type-btn"
    [ngClass]="{
    'active-visualization': currentVisualization === 'CHART'
    }"
    title="View Chart"
    (click)="onVisualizationSelect($event, 'CHART')"
  >
    <img src="assets/icons/column.png" alt="">
  </button>

  <button
    class="dashboard-btn visualization-type-btn"
    [ngClass]="{
    'active-visualization': currentVisualization === 'MAP'
    }"
    title="View Map"
    (click)="onVisualizationSelect($event, 'MAP')"
  >
    <img src="assets/icons/map.png" alt="">
  </button>
  <button
    class="dashboard-btn visualization-type-btn"
    [ngClass]="{
    'active-visualization': currentVisualization === 'INFO'
    }"
    title="View Information"
    (click)="onVisualizationSelect($event, 'INFO')"
  >
    <img src="assets/icons/info.png" alt="">
  </button>
</div>
