<!--loader block-->
<app-loader *ngIf="loading" [loadingMessage]="'Moving table into position'"></app-loader>
<!--end of loader block-->

<!--error block-->
<app-error-notifier *ngIf="hasError"></app-error-notifier>
<!--end of error block-->
<div class="row" *ngIf="!loading && !hasError">
  <div class="col-md-12" *ngFor="let tableObject of tableObjects">
    <!--<app-error-notifier *ngIf="tableHasError" [errorMessage]="'Something is wrong'"></app-error-notifier>-->
    <h5 class="text-center item-title">{{tableData.name}}</h5>
    <h5 style="margin-top: 80px" class="text-center" *ngIf="tableObject.rows.length == 0"> No
      data to display</h5>
    <table class="table table-bordered table-responsive custom-table"
           *ngIf="tableObject.rows.length != 0">
      <thead>
      <tr *ngFor="let header of tableObject.headers; let j = index">
        <th *ngFor="let table_column of tableObject.columns; let i = index" style="text-align: center">
          {{ tableObject.titles.rows[j] }} / {{ tableObject.titles.column[i]}}
        </th>
        <th *ngFor="let header_column of header.items" [colSpan]="header_column.span"
            style="text-align: center">
          {{ header_column.name }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of tableObject.rows">
        <td *ngFor="let header_column of row.items" style="text-align: center;vertical-align: middle"
            [attr.rowspan]="header_column.row_span">
          {{ header_column.val }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
