.dashboard-delete-block {
  padding-top: 9px;
  padding-left: 5px;
  padding-right: 5px;
}

.dashboard-delete-btn {
  margin-left: 4px;
  cursor: pointer;
}

.delete-dialog {
  display: flex;
}

.deleting-dialog {
  display: flex;
  padding-top: 5px;
}

.dashboard-delete-btn img {
  display: block;
  margin: auto;
  height: 10px;
}

.dashboard-delete-text,
.dashboard-deleting-text {
  display: block;
  margin: auto;
  font-size: 13px;
}

