<div class="dashboard-delete-block">
  <div
    class="delete-dialog"
    *ngIf="!deleting"
  >
    <span class="dashboard-delete-text">Delete?</span>
    <button
      (click)="cancelDelete($event)"
      title="Cancel"
      class="btn btn-xs btn-outline-secondary dashboard-delete-btn">
      <img src="assets/icons/close.png" alt="">
    </button>
    <button
      (click)="deleteDashboard($event)"
      class="btn btn-xs btn-outline-danger dashboard-delete-btn"
      title="Delete (This cannot be undone!)"
    >
      <img src="assets/icons/trash.png" alt="">
    </button>
  </div>
  <div
    class="deleting-dialog slideInDown"
    *ngIf="deleting"
  >
    <img [src]="'assets/img/balls-3.svg'" alt="" style="height: 20px; width: 20px;">
    <span class="dashboard-delete-text">Deleting dashboard..</span>
  </div>
</div>
