<div class="current-dashboard-bookmark-button">
  <button [disabled]="dashboardBookmarkPending" class="dashboard-bookmark-btn" mat-icon-button
    (click)="onToggleDashboardBookmark($event)"
    [title]="(dashboardBookmarkPending ? 'Bookmarking dashboard...' : dashboardBookmarked ? 'You have bookmarked this dashboard': 'Bookmark this dashboard') | translate">
    <mat-icon *ngIf="!dashboardBookmarked && !dashboardBookmarkPending">star_border</mat-icon>
    <mat-icon *ngIf="dashboardBookmarked && !dashboardBookmarkPending">star</mat-icon>
    <mat-icon *ngIf="dashboardBookmarkPending" class="text-warning">star</mat-icon>
  </button>
</div>
