.ngx-dhis2-org-unit-level-group__container {
}

.ngx-dhis2-org-unit-level-group__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: solid thin #eeeeee;
}

.ngx-dhis2-org-unit-level-group__inner-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 155px;
  overflow: auto;
}

.ngx-dhis2-org-unit-level-group__list > li,
.ngx-dhis2-org-unit-level-group__inner-list > li {
  border-bottom: solid thin #eeeeee;
  font-size: 12px;
  display: flex;
}

.ngx-dhis2-org-unit-level-group__inner-list > li:last-child {
  border-bottom: none;
}

.ngx-dhis2-org-unit-level-group__input {
  margin: 3px;
  width: 100%;
  border: solid thin #eeeeee;
  padding: 3px 7px 3px 7px;
  height: 30px;
  font-size: 14px;
}

.ngx-dhis2-org-unit-level-group__item-header {
  padding: 10px;
  font-weight: 600;
  color: #777777;
}

.ngx-dhis2-org-unit-level-group__item {
  text-decoration: none;
  padding: 5px 7px 5px 7px;
  color: #222222;
  width: 100%;
  display: flex;
  cursor: pointer;
}

.ngx-dhis2-org-unit-level-group__item > img {
  height: 15px;
}

.ngx-dhis2-org-unit-level-group__item:hover {
  background-color: #eeeeee;
}

.ngx-dhis2-org-unit-level-group__item-selection-holder {
  width: 15px;
}

.ngx-dhis2-org-unit-level-group__item-name {
  margin-left: 5px;
}
