<div class="panel panel-default" style="border-radius: 0px;">
  <div class="panel-heading" style=" padding-top: 0px; padding-bottom: 0px;">
    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-7">
        <ul class="nav nav-pills navbar-left dashboard-item-header">
          <li><a href=""><i class="fa fa-table"></i></a></li>
          <li><a href=""><i class="fa fa-filter"></i></a></li>
          <li><a href=""><i class="fa fa-retweet"></i></a></li>
          <li><a href=""><i class="fa fa-share-alt"></i></a></li>
          <li><a href=""><i class="fa fa-comments-o"></i><span class="badge intepretation-count" style="background-color: #9e9e9e;">20</span></a></li>
        </ul>
      </div>
      <div class="col-md-5 col-sm-5 col-xs-5">
        <ul class="nav nav-pills navbar-right dashboard-item-header">
          <li><a href=""><i class="fa fa-times"></i></a></li>
          <li><a href=""><i class="fa fa-arrows-alt"></i></a></li>
          <li><a href=""><i class="fa fa-expand"></i></a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="panel-body dashboard-item-body">
    <div class="chart-options">
      <ul class="nav nav-stacked">
        <li class="active"><a href=""><i class="fa fa-bar-chart"></i></a></li>
        <li><a href=""><i class="fa fa-area-chart"></i></a></li>
        <li><a href=""><i class="fa fa-pie-chart"></i></a></li>
        <li><a href=""><i class="fa fa-line-chart"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="panel-footer">
  </div>
</div>