.ngx-dhis2-org-unit-tree-item-title {
  display: flex;
  align-items: center;
}

.ngx-dhis2-org-unit-tree-item-toggle-btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ngx-dhis2-org-unit-tree-item-toggle-btn img {
  height: 15px;
}

.ngx-dhis2-org-unit-tree-item-name {
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ngx-dhis2-org-unit-tree-item-children {
  margin-left: 20px;
}

.ngx-dhis2-org-unit-tree-item-count {
  font-size: 10px;
}

.ngx-dhis2-org-unit-tree-item-selected {
  color: #ffa500;
}
