<div class="data-filter-container">
  <!-- data filter section -->
  <div class="data-filter-content">
    <div class="data-filter-selections-block">
      <ul class="data-filter-selections">
        <li *ngFor="let dataFilterSelection of dataFilterSelections">
          <a
            (click)="onToggleDataFilterSelection(dataFilterSelection, $event)"
            [ngClass]="{
              btn: true,
              'btn-sm': true,
              'data-filter-selection': true,
              'selected-data-filter-selection': dataFilterSelection.selected
            }"
            title="Click to see {{ dataFilterSelection.name }}"
          >
            {{ dataFilterSelection.name }}
          </a>
        </li>
      </ul>
    </div>

    <div
      class="data-filter-group-selection"
      appClickOutside
      (clickOutside)="showGroups = false"
    >
      <!--Group selection button-->
      <button
        class="btn btn-sm data-filter-group-btn"
        (click)="toggleDataFilterGroupList($event)"
      >
        <span>{{ (currentDataFilterGroup$ | async)?.name || 'Select' }}</span>
        <span>
          <img src="assets/icons/arrow-down.png" alt="" />
        </span>
      </button>
      <!-- end of Group selection button -->

      <!-- data grouping button -->
      <button
        class="data-filter-grouping-btn"
        [title]="'Open grouping panel'"
        (click)="onToggleGroupingPanel($event)"
      >
        <img [src]="icons?.LIST_ICON" alt="" />&nbsp;
        <img
          [src]="
            showGroupingPanel ? icons?.ARROW_LEFT_ICON : icons?.ARROW_RIGHT_ICON
          "
          alt=""
        />
      </button>
      <!-- end of data grouping button -->

      <!--Group selection list-->
      <div class="data-filter-group-panel" *ngIf="showGroups">
        <div class="panel-body data-filter-group-panel-body">
          <input
            type="search"
            class="form-control form-control-sm"
            placeholder="Search"
            [(ngModel)]="querystring"
          />
          <ul class="data-filter-group-list">
            <li
              *ngFor="
                let dataFilterGroup of (dataFilterGroups$
                  | async
                  | filterByName: querystring)
              "
            >
              <a
                [ngClass]="{
                  'selected-data-filter-group': dataFilterGroup.selected
                }"
                (click)="onSetDataFilterGroup(dataFilterGroup, $event)"
                >{{ dataFilterGroup.name }}</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!--end of Group selection list-->
    </div>

    <div class="data-filter-list-search">
      <input
        type="text"
        class="form-control form-control-sm"
        (focus)="showBody = true"
        (keyup)="onDataItemsSearch($event)"
        placeholder="Search"
        [(ngModel)]="dataItemSearchTerm"
      />
    </div>

    <div
      class="data-filter-available-header {{
        dataFilterPreferences.hideSelectedPanel ? 'data-filter-full-width' : ''
      }}"
    >
      <span
        >Available ({{
          (
            dataFilterItems$
            | async
            | removeSelectedItems: selectedItems
            | filterByName: dataItemSearchTerm
          ).length
        }})</span
      >
      <a (click)="onSelectAllItems($event)">&raquo;</a>
    </div>
    <div
      *ngIf="!dataFilterPreferences.hideSelectedPanel"
      class="data-filter-selected-header "
    >
      <a (click)="onDeselectAllItems($event)">&laquo;</a>
      <span>Selected ({{ selectedItems.length }})</span>
    </div>

    <div
      class="data-filter-available-body {{
        dataFilterPreferences.hideSelectedPanel ? 'data-filter-full-width' : ''
      }}"
      [ngStyle]="{ height: showGroupingPanel ? '350px' : '150px' }"
    >
      <ul #scrollse>
        <li
          *ngIf="
            !(dataFilterLoading$ | async) &&
            (
              dataFilterItems$
              | async
              | removeSelectedItems: selectedItems
              | filterByName: dataItemSearchTerm
            ).length == 0
          "
        >
          <a>No items</a>
        </li>
        <li
          *ngFor="
            let dataFilterItem of (dataFilterItems$
              | async
              | removeSelectedItems: selectedItems
              | filterByName: dataItemSearchTerm
              | paginate
                : {
                    id: 'available_list',
                    itemsPerPage: 25,
                    currentPage: currentPageForAvailableDataItems
                  })
          "
          title="Click to select item "
          id="{{ dataFilterItem.id | addUnderscore }} "
        >
          <a (click)="onSelectDataItem(dataFilterItem, $event)">{{
            dataFilterItem.name
          }}</a>
        </li>
        <li *ngIf="(dataFilterLoading$ | async)"><small>Loading...</small></li>

        <li
          *ngIf="
            (
              dataFilterItems$
              | async
              | removeSelectedItems: selectedItems
              | filterByName: dataItemSearchTerm
            ).length >= 25
          "
        >
          <a>
            <pagination-controls
              id="available_list"
              (pageChange)="currentPageForAvailableDataItems = $event"
              maxSize="0"
            >
            </pagination-controls>
          </a>
        </li>
      </ul>
    </div>

    <div
      *ngIf="!dataFilterPreferences.hideSelectedPanel"
      class="data-filter-selected-body"
      [ngStyle]="{ height: showGroupingPanel ? '350px' : '150px' }"
    >
      <ul>
        <li
          *ngFor="
            let item of (selectedItems
              | paginate
                : {
                    id: 'selected_list',
                    itemsPerPage: 100,
                    currentPage: currentPageForSelectedDataItems
                  })
          "
          title="click to unselect item"
        >
          <a (click)="onRemoveDataItem(item, $event)"> {{ item.name }} </a>
        </li>
        <li *ngIf="selectedItems.length > 100">
          <pagination-controls
            id="selected_list"
            maxSize="0"
            (pageChange)="currentPageForSelectedDataItems = $event"
          ></pagination-controls>
        </li>
      </ul>
    </div>
  </div>
  <!-- end of data filter section -->

  <!-- data filter groups -->
  <div class="data-filter-groups-container" *ngIf="showGroupingPanel">
    <app-data-filter-groups
      [dataGroups]="selectedGroups"
      [selectedGroupId]="selectedGroupId"
      [selectedItems]="selectedItems"
      [dataGroupPreferences]="dataGroupPreferences"
      (dataGroupsUpdate)="onDataGroupsUpdate($event)"
      (selectedGroupIdUpdate)="onSelectedGroupIdUpdate($event)"
      (updateSelectedItems)="onUpdateSelectedItems($event)"
      (removeMember)="onRemoveDataItem($event)"
    ></app-data-filter-groups>
  </div>
  <!-- end of data filter groups -->
</div>

<div class="data-filter-btns">
  <button
    class="btn btn-sm data-filter-action-btn"
    [disabled]="selectedItems.length === 0"
    (click)="onDeselectAllItems($event)"
    title="Unselect all selected items"
  >
    EMPTY
  </button>
  <button
    class="btn btn-sm data-filter-action-btn"
    title="Close data filter"
    (click)="close($event)"
  >
    CLOSE
  </button>
  <button
    class="btn btn-sm data-filter-action-btn"
    title="Update visualization(s) with selected items"
    [disabled]="selectedItems.length === 0"
    (click)="onDataFilterUpdate($event)"
  >
    UPDATE
  </button>
</div>
