<div class="tree-input" appClickOutside (clickOutside)="hideOptions = true">
  <div class="show_items" (click)="displayPerTree()">
    <span *ngIf="selectedItems.length == 1">{{ prefix }}</span>
    <span *ngIf="selectedItems.length > 1">{{ prefixMultiple }}</span>
    <span *ngIf="selectedItems.length > 3">
      <span class="selected-item">
        {{ selectedItems[0].name }}
        <a (click)="deActivateNode(selectedItems[0],$event)" class="removeitem" >&times;</a>
      </span>
      <span class="selected-item">
        {{ selectedItems[1].name }}
        <a (click)="deActivateNode(selectedItems[1],$event)" class="removeitem">&times;</a>
      </span>
      <span class="selected-item">
        &nbsp; and {{ selectedItems.length - 2 }} more
      </span>
    </span>
    <span *ngIf="selectedItems.length <= 3">
       <span *ngFor="let item of selectedItems" class="selected-item ng-binding ng-scope">
        {{ item.name }}
         <a (click)="deActivateNode(item,$event)" class="removeitem">&times;</a>
      </span>
    </span>
    <span *ngIf="selectedItems.length == 0">
      {{ placeholder }}
    </span>
    <i class="fa fa-caret-down pull-right text-muted"></i>
  </div>
  <div class="tree-view" [ngClass]="{'hiddenTree':hideOptions}">
    <ul class="nav nav-pills nav-stacked">
      <li *ngFor="let item of items"
          class="period" (click)="selectItem(item)"
          [ngClass]="{'selected': checkItemAvailabilty(item,selectedItems)}"
          title="Click to select"
      >
        {{ item.name }}
      </li>
    </ul>
  </div>
</div>
